body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}.canvas {
width: 540px;
height: 1350px;

}
.pixel {
width: 30px;
height: 30px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(129){background:#ffb400;}
.pixel:nth-child(130){background:#ffb400;}
.pixel:nth-child(165){background:#ffb400;}
.pixel:nth-child(184){background:#ffb400;}
.pixel:nth-child(203){background:#ffb400;}
.pixel:nth-child(135){background:#ffb400;}
.pixel:nth-child(136){background:#ffb400;}
.pixel:nth-child(171){background:#ffb400;}
.pixel:nth-child(190){background:#ffb400;}
.pixel:nth-child(209){background:#ffb400;}
.pixel:nth-child(141){background:#ffb400;}
.pixel:nth-child(142){background:#ffb400;}
.pixel:nth-child(177){background:#ffb400;}
.pixel:nth-child(196){background:#ffb400;}
.pixel:nth-child(215){background:#ffb400;}
.pixel:nth-child(699){background:#ffb400;}
.pixel:nth-child(700){background:#ffb400;}
.pixel:nth-child(735){background:#ffb400;}
.pixel:nth-child(754){background:#ffb400;}
.pixel:nth-child(773){background:#ffb400;}
.pixel:nth-child(693){background:#ffb400;}
.pixel:nth-child(694){background:#ffb400;}
.pixel:nth-child(729){background:#ffb400;}
.pixel:nth-child(748){background:#ffb400;}
.pixel:nth-child(767){background:#ffb400;}
.pixel:nth-child(687){background:#ffb400;}
.pixel:nth-child(688){background:#ffb400;}
.pixel:nth-child(723){background:#ffb400;}
.pixel:nth-child(742){background:#ffb400;}
.pixel:nth-child(761){background:#ffb400;}
.pixel:nth-child(429){background:#ffb400;}
.pixel:nth-child(430){background:#ffb400;}
.pixel:nth-child(465){background:#ffb400;}
.pixel:nth-child(484){background:#ffb400;}
.pixel:nth-child(503){background:#ffb400;}
.pixel:nth-child(423){background:#ffb400;}
.pixel:nth-child(424){background:#ffb400;}
.pixel:nth-child(459){background:#ffb400;}
.pixel:nth-child(478){background:#ffb400;}
.pixel:nth-child(497){background:#ffb400;}
.pixel:nth-child(417){background:#ffb400;}
.pixel:nth-child(418){background:#ffb400;}
.pixel:nth-child(453){background:#ffb400;}
.pixel:nth-child(472){background:#ffb400;}
.pixel:nth-child(491){background:#ffb400;}

.pixel:nth-child(38){background:#ffffff;}
.pixel:nth-child(39){background:#ffffff;}
.pixel:nth-child(40){background:#ffffff;}
.pixel:nth-child(56){background:#ffffff;}
.pixel:nth-child(59){background:#ffffff;}
.pixel:nth-child(74){background:#ffffff;}
.pixel:nth-child(77){background:#ffffff;}
.pixel:nth-child(92){background:#ffffff;}
.pixel:nth-child(95){background:#ffffff;}
.pixel:nth-child(110){background:#ffffff;}
.pixel:nth-child(113){background:#ffffff;}
.pixel:nth-child(128){background:#ffffff;}
.pixel:nth-child(146){background:#ffffff;}
.pixel:nth-child(164){background:#ffffff;}
.pixel:nth-child(182){background:#ffffff;}
.pixel:nth-child(200){background:#ffffff;}
.pixel:nth-child(44){background:#ffffff;}
.pixel:nth-child(45){background:#ffffff;}
.pixel:nth-child(46){background:#ffffff;}
.pixel:nth-child(62){background:#ffffff;}
.pixel:nth-child(65){background:#ffffff;}
.pixel:nth-child(80){background:#ffffff;}
.pixel:nth-child(83){background:#ffffff;}
.pixel:nth-child(98){background:#ffffff;}
.pixel:nth-child(101){background:#ffffff;}
.pixel:nth-child(116){background:#ffffff;}
.pixel:nth-child(119){background:#ffffff;}
.pixel:nth-child(134){background:#ffffff;}
.pixel:nth-child(152){background:#ffffff;}
.pixel:nth-child(170){background:#ffffff;}
.pixel:nth-child(188){background:#ffffff;}
.pixel:nth-child(206){background:#ffffff;}
.pixel:nth-child(50){background:#ffffff;}
.pixel:nth-child(51){background:#ffffff;}
.pixel:nth-child(52){background:#ffffff;}
.pixel:nth-child(68){background:#ffffff;}
.pixel:nth-child(71){background:#ffffff;}
.pixel:nth-child(86){background:#ffffff;}
.pixel:nth-child(89){background:#ffffff;}
.pixel:nth-child(104){background:#ffffff;}
.pixel:nth-child(107){background:#ffffff;}
.pixel:nth-child(122){background:#ffffff;}
.pixel:nth-child(125){background:#ffffff;}
.pixel:nth-child(140){background:#ffffff;}
.pixel:nth-child(158){background:#ffffff;}
.pixel:nth-child(176){background:#ffffff;}
.pixel:nth-child(194){background:#ffffff;}
.pixel:nth-child(212){background:#ffffff;}
.pixel:nth-child(608){background:#ffffff;}
.pixel:nth-child(609){background:#ffffff;}
.pixel:nth-child(610){background:#ffffff;}
.pixel:nth-child(626){background:#ffffff;}
.pixel:nth-child(629){background:#ffffff;}
.pixel:nth-child(644){background:#ffffff;}
.pixel:nth-child(647){background:#ffffff;}
.pixel:nth-child(662){background:#ffffff;}
.pixel:nth-child(665){background:#ffffff;}
.pixel:nth-child(680){background:#ffffff;}
.pixel:nth-child(683){background:#ffffff;}
.pixel:nth-child(698){background:#ffffff;}
.pixel:nth-child(716){background:#ffffff;}
.pixel:nth-child(734){background:#ffffff;}
.pixel:nth-child(752){background:#ffffff;}
.pixel:nth-child(770){background:#ffffff;}
.pixel:nth-child(602){background:#ffffff;}
.pixel:nth-child(603){background:#ffffff;}
.pixel:nth-child(604){background:#ffffff;}
.pixel:nth-child(620){background:#ffffff;}
.pixel:nth-child(623){background:#ffffff;}
.pixel:nth-child(638){background:#ffffff;}
.pixel:nth-child(641){background:#ffffff;}
.pixel:nth-child(656){background:#ffffff;}
.pixel:nth-child(659){background:#ffffff;}
.pixel:nth-child(674){background:#ffffff;}
.pixel:nth-child(677){background:#ffffff;}
.pixel:nth-child(692){background:#ffffff;}
.pixel:nth-child(710){background:#ffffff;}
.pixel:nth-child(728){background:#ffffff;}
.pixel:nth-child(746){background:#ffffff;}
.pixel:nth-child(764){background:#ffffff;}
.pixel:nth-child(596){background:#ffffff;}
.pixel:nth-child(597){background:#ffffff;}
.pixel:nth-child(598){background:#ffffff;}
.pixel:nth-child(614){background:#ffffff;}
.pixel:nth-child(617){background:#ffffff;}
.pixel:nth-child(632){background:#ffffff;}
.pixel:nth-child(635){background:#ffffff;}
.pixel:nth-child(650){background:#ffffff;}
.pixel:nth-child(653){background:#ffffff;}
.pixel:nth-child(668){background:#ffffff;}
.pixel:nth-child(671){background:#ffffff;}
.pixel:nth-child(686){background:#ffffff;}
.pixel:nth-child(704){background:#ffffff;}
.pixel:nth-child(722){background:#ffffff;}
.pixel:nth-child(740){background:#ffffff;}
.pixel:nth-child(758){background:#ffffff;}
.pixel:nth-child(338){background:#ffffff;}
.pixel:nth-child(339){background:#ffffff;}
.pixel:nth-child(340){background:#ffffff;}
.pixel:nth-child(356){background:#ffffff;}
.pixel:nth-child(359){background:#ffffff;}
.pixel:nth-child(374){background:#ffffff;}
.pixel:nth-child(377){background:#ffffff;}
.pixel:nth-child(392){background:#ffffff;}
.pixel:nth-child(395){background:#ffffff;}
.pixel:nth-child(410){background:#ffffff;}
.pixel:nth-child(413){background:#ffffff;}
.pixel:nth-child(428){background:#ffffff;}
.pixel:nth-child(446){background:#ffffff;}
.pixel:nth-child(464){background:#ffffff;}
.pixel:nth-child(482){background:#ffffff;}
.pixel:nth-child(500){background:#ffffff;}
.pixel:nth-child(332){background:#ffffff;}
.pixel:nth-child(333){background:#ffffff;}
.pixel:nth-child(334){background:#ffffff;}
.pixel:nth-child(350){background:#ffffff;}
.pixel:nth-child(353){background:#ffffff;}
.pixel:nth-child(368){background:#ffffff;}
.pixel:nth-child(371){background:#ffffff;}
.pixel:nth-child(386){background:#ffffff;}
.pixel:nth-child(389){background:#ffffff;}
.pixel:nth-child(404){background:#ffffff;}
.pixel:nth-child(407){background:#ffffff;}
.pixel:nth-child(422){background:#ffffff;}
.pixel:nth-child(440){background:#ffffff;}
.pixel:nth-child(458){background:#ffffff;}
.pixel:nth-child(476){background:#ffffff;}
.pixel:nth-child(494){background:#ffffff;}
.pixel:nth-child(326){background:#ffffff;}
.pixel:nth-child(327){background:#ffffff;}
.pixel:nth-child(328){background:#ffffff;}
.pixel:nth-child(344){background:#ffffff;}
.pixel:nth-child(347){background:#ffffff;}
.pixel:nth-child(362){background:#ffffff;}
.pixel:nth-child(365){background:#ffffff;}
.pixel:nth-child(380){background:#ffffff;}
.pixel:nth-child(383){background:#ffffff;}
.pixel:nth-child(398){background:#ffffff;}
.pixel:nth-child(401){background:#ffffff;}
.pixel:nth-child(416){background:#ffffff;}
.pixel:nth-child(434){background:#ffffff;}
.pixel:nth-child(452){background:#ffffff;}
.pixel:nth-child(470){background:#ffffff;}
.pixel:nth-child(488){background:#ffffff;}

