body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
filter:grayscale(100%);}
.canvas {
width: 560px;
height: 560px;

}
.pixel {
width: 35px;height: 35px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(6){background:#e8e8e8;}
.pixel:nth-child(7){background:#e8e8e8;}
.pixel:nth-child(8){background:#e8e8e8;}
.pixel:nth-child(9){background:#e8e8e8;}
.pixel:nth-child(10){background:#e8e8e8;}
.pixel:nth-child(11){background:#e8e8e8;}
.pixel:nth-child(20){background:#e8e8e8;}
.pixel:nth-child(21){background:#e8e8e8;}
.pixel:nth-child(22){background:#e8e8e8;}
.pixel:nth-child(23){background:#e8e8e8;}
.pixel:nth-child(24){background:#e8e8e8;}
.pixel:nth-child(25){background:#e8e8e8;}
.pixel:nth-child(26){background:#e8e8e8;}
.pixel:nth-child(27){background:#e8e8e8;}
.pixel:nth-child(28){background:#e8e8e8;}
.pixel:nth-child(29){background:#e8e8e8;}
.pixel:nth-child(35){background:#e8e8e8;}
.pixel:nth-child(36){background:#e8e8e8;}
.pixel:nth-child(37){background:#e8e8e8;}
.pixel:nth-child(38){background:#e8e8e8;}
.pixel:nth-child(39){background:#e8e8e8;}
.pixel:nth-child(40){background:#e8e8e8;}
.pixel:nth-child(41){background:#e8e8e8;}
.pixel:nth-child(42){background:#e8e8e8;}
.pixel:nth-child(43){background:#e8e8e8;}
.pixel:nth-child(44){background:#e8e8e8;}
.pixel:nth-child(45){background:#e8e8e8;}
.pixel:nth-child(46){background:#e8e8e8;}
.pixel:nth-child(50){background:#e8e8e8;}
.pixel:nth-child(51){background:#e8e8e8;}
.pixel:nth-child(52){background:#e8e8e8;}
.pixel:nth-child(53){background:#e8e8e8;}
.pixel:nth-child(54){background:#e8e8e8;}
.pixel:nth-child(55){background:#e8e8e8;}
.pixel:nth-child(56){background:#e8e8e8;}
.pixel:nth-child(57){background:#e8e8e8;}
.pixel:nth-child(58){background:#e8e8e8;}
.pixel:nth-child(59){background:#e8e8e8;}
.pixel:nth-child(60){background:#e8e8e8;}
.pixel:nth-child(61){background:#e8e8e8;}
.pixel:nth-child(62){background:#e8e8e8;}
.pixel:nth-child(63){background:#e8e8e8;}
.pixel:nth-child(66){background:#e8e8e8;}
.pixel:nth-child(67){background:#e8e8e8;}
.pixel:nth-child(68){background:#e8e8e8;}
.pixel:nth-child(69){background:#e8e8e8;}
.pixel:nth-child(70){background:#e8e8e8;}
.pixel:nth-child(71){background:#e8e8e8;}
.pixel:nth-child(72){background:#e8e8e8;}
.pixel:nth-child(73){background:#e8e8e8;}
.pixel:nth-child(74){background:#e8e8e8;}
.pixel:nth-child(75){background:#e8e8e8;}
.pixel:nth-child(76){background:#e8e8e8;}
.pixel:nth-child(77){background:#e8e8e8;}
.pixel:nth-child(78){background:#e8e8e8;}
.pixel:nth-child(79){background:#e8e8e8;}
.pixel:nth-child(81){background:#e8e8e8;}
.pixel:nth-child(82){background:#e8e8e8;}
.pixel:nth-child(83){background:#e8e8e8;}
.pixel:nth-child(84){background:#e8e8e8;}
.pixel:nth-child(85){background:#e8e8e8;}
.pixel:nth-child(86){background:#e8e8e8;}
.pixel:nth-child(87){background:#e8e8e8;}
.pixel:nth-child(88){background:#e8e8e8;}
.pixel:nth-child(89){background:#e8e8e8;}
.pixel:nth-child(90){background:#e8e8e8;}
.pixel:nth-child(91){background:#e8e8e8;}
.pixel:nth-child(92){background:#e8e8e8;}
.pixel:nth-child(93){background:#e8e8e8;}
.pixel:nth-child(94){background:#e8e8e8;}
.pixel:nth-child(95){background:#e8e8e8;}
.pixel:nth-child(96){background:#e8e8e8;}
.pixel:nth-child(97){background:#e8e8e8;}
.pixel:nth-child(98){background:#e8e8e8;}
.pixel:nth-child(99){background:#e8e8e8;}
.pixel:nth-child(100){background:#e8e8e8;}
.pixel:nth-child(101){background:#e8e8e8;}
.pixel:nth-child(102){background:#e8e8e8;}
.pixel:nth-child(103){background:#e8e8e8;}
.pixel:nth-child(104){background:#e8e8e8;}
.pixel:nth-child(105){background:#e8e8e8;}
.pixel:nth-child(106){background:#e8e8e8;}
.pixel:nth-child(107){background:#e8e8e8;}
.pixel:nth-child(108){background:#e8e8e8;}
.pixel:nth-child(109){background:#e8e8e8;}
.pixel:nth-child(110){background:#e8e8e8;}
.pixel:nth-child(111){background:#e8e8e8;}
.pixel:nth-child(112){background:#e8e8e8;}
.pixel:nth-child(113){background:#e8e8e8;}
.pixel:nth-child(114){background:#e8e8e8;}
.pixel:nth-child(115){background:#e8e8e8;}
.pixel:nth-child(116){background:#e8e8e8;}
.pixel:nth-child(117){background:#e8e8e8;}
.pixel:nth-child(118){background:#e8e8e8;}
.pixel:nth-child(119){background:#e8e8e8;}
.pixel:nth-child(120){background:#e8e8e8;}
.pixel:nth-child(121){background:#e8e8e8;}
.pixel:nth-child(122){background:#e8e8e8;}
.pixel:nth-child(123){background:#e8e8e8;}
.pixel:nth-child(124){background:#e8e8e8;}
.pixel:nth-child(125){background:#e8e8e8;}
.pixel:nth-child(126){background:#e8e8e8;}
.pixel:nth-child(127){background:#e8e8e8;}
.pixel:nth-child(128){background:#e8e8e8;}
.pixel:nth-child(129){background:#e8e8e8;}
.pixel:nth-child(130){background:#e8e8e8;}
.pixel:nth-child(131){background:#e8e8e8;}
.pixel:nth-child(132){background:#e8e8e8;}
.pixel:nth-child(133){background:#e8e8e8;}
.pixel:nth-child(134){background:#e8e8e8;}
.pixel:nth-child(135){background:#e8e8e8;}
.pixel:nth-child(136){background:#e8e8e8;}
.pixel:nth-child(137){background:#e8e8e8;}
.pixel:nth-child(138){background:#e8e8e8;}
.pixel:nth-child(139){background:#e8e8e8;}
.pixel:nth-child(140){background:#e8e8e8;}
.pixel:nth-child(141){background:#e8e8e8;}
.pixel:nth-child(142){background:#e8e8e8;}
.pixel:nth-child(143){background:#e8e8e8;}
.pixel:nth-child(144){background:#e8e8e8;}
.pixel:nth-child(145){background:#e8e8e8;}
.pixel:nth-child(146){background:#e8e8e8;}
.pixel:nth-child(147){background:#e8e8e8;}
.pixel:nth-child(148){background:#e8e8e8;}
.pixel:nth-child(149){background:#e8e8e8;}
.pixel:nth-child(150){background:#e8e8e8;}
.pixel:nth-child(151){background:#e8e8e8;}
.pixel:nth-child(152){background:#e8e8e8;}
.pixel:nth-child(153){background:#e8e8e8;}
.pixel:nth-child(154){background:#e8e8e8;}
.pixel:nth-child(155){background:#e8e8e8;}
.pixel:nth-child(156){background:#e8e8e8;}
.pixel:nth-child(157){background:#e8e8e8;}
.pixel:nth-child(158){background:#e8e8e8;}
.pixel:nth-child(159){background:#e8e8e8;}
.pixel:nth-child(160){background:#e8e8e8;}
.pixel:nth-child(161){background:#e8e8e8;}
.pixel:nth-child(162){background:#e8e8e8;}
.pixel:nth-child(163){background:#e8e8e8;}
.pixel:nth-child(164){background:#e8e8e8;}
.pixel:nth-child(165){background:#e8e8e8;}
.pixel:nth-child(166){background:#e8e8e8;}
.pixel:nth-child(167){background:#e8e8e8;}
.pixel:nth-child(168){background:#e8e8e8;}
.pixel:nth-child(169){background:#e8e8e8;}
.pixel:nth-child(170){background:#e8e8e8;}
.pixel:nth-child(171){background:#e8e8e8;}
.pixel:nth-child(172){background:#e8e8e8;}
.pixel:nth-child(173){background:#e8e8e8;}
.pixel:nth-child(174){background:#e8e8e8;}
.pixel:nth-child(175){background:#e8e8e8;}
.pixel:nth-child(176){background:#e8e8e8;}
.pixel:nth-child(178){background:#e8e8e8;}
.pixel:nth-child(179){background:#e8e8e8;}
.pixel:nth-child(180){background:#e8e8e8;}
.pixel:nth-child(181){background:#e8e8e8;}
.pixel:nth-child(182){background:#e8e8e8;}
.pixel:nth-child(183){background:#e8e8e8;}
.pixel:nth-child(184){background:#e8e8e8;}
.pixel:nth-child(185){background:#e8e8e8;}
.pixel:nth-child(186){background:#e8e8e8;}
.pixel:nth-child(187){background:#e8e8e8;}
.pixel:nth-child(188){background:#e8e8e8;}
.pixel:nth-child(189){background:#e8e8e8;}
.pixel:nth-child(190){background:#e8e8e8;}
.pixel:nth-child(191){background:#e8e8e8;}
.pixel:nth-child(195){background:#e8e8e8;}
.pixel:nth-child(196){background:#e8e8e8;}
.pixel:nth-child(197){background:#e8e8e8;}
.pixel:nth-child(198){background:#e8e8e8;}
.pixel:nth-child(199){background:#e8e8e8;}
.pixel:nth-child(200){background:#e8e8e8;}
.pixel:nth-child(201){background:#e8e8e8;}
.pixel:nth-child(202){background:#e8e8e8;}
.pixel:nth-child(203){background:#e8e8e8;}
.pixel:nth-child(204){background:#e8e8e8;}
.pixel:nth-child(205){background:#e8e8e8;}
.pixel:nth-child(206){background:#e8e8e8;}
.pixel:nth-child(211){background:#e8e8e8;}
.pixel:nth-child(212){background:#e8e8e8;}
.pixel:nth-child(213){background:#e8e8e8;}
.pixel:nth-child(214){background:#e8e8e8;}
.pixel:nth-child(215){background:#e8e8e8;}
.pixel:nth-child(216){background:#e8e8e8;}
.pixel:nth-child(217){background:#e8e8e8;}
.pixel:nth-child(218){background:#e8e8e8;}
.pixel:nth-child(219){background:#e8e8e8;}
.pixel:nth-child(220){background:#e8e8e8;}
.pixel:nth-child(221){background:#e8e8e8;}
.pixel:nth-child(222){background:#e8e8e8;}
.pixel:nth-child(228){background:#e8e8e8;}
.pixel:nth-child(229){background:#e8e8e8;}
.pixel:nth-child(230){background:#e8e8e8;}
.pixel:nth-child(231){background:#e8e8e8;}
.pixel:nth-child(232){background:#e8e8e8;}
.pixel:nth-child(233){background:#e8e8e8;}
.pixel:nth-child(234){background:#e8e8e8;}
.pixel:nth-child(235){background:#e8e8e8;}
.pixel:nth-child(236){background:#e8e8e8;}
.pixel:nth-child(237){background:#e8e8e8;}
.pixel:nth-child(245){background:#e8e8e8;}
.pixel:nth-child(246){background:#e8e8e8;}
.pixel:nth-child(247){background:#e8e8e8;}
.pixel:nth-child(248){background:#e8e8e8;}
.pixel:nth-child(249){background:#e8e8e8;}
.pixel:nth-child(250){background:#e8e8e8;}
.pixel:nth-child(251){background:#e8e8e8;}
.pixel:nth-child(252){background:#e8e8e8;}

.pixel:nth-child(22){background:#e8e8e8;}
.pixel:nth-child(23){background:#e8e8e8;}
.pixel:nth-child(24){background:#e8e8e8;}
.pixel:nth-child(25){background:#e8e8e8;}
.pixel:nth-child(38){background:#e8e8e8;}
.pixel:nth-child(39){background:#e8e8e8;}
.pixel:nth-child(40){background:#e8e8e8;}
.pixel:nth-child(41){background:#e8e8e8;}
.pixel:nth-child(53){background:#e8e8e8;}
.pixel:nth-child(54){background:#e8e8e8;}
.pixel:nth-child(55){background:#e8e8e8;}
.pixel:nth-child(56){background:#e8e8e8;}
.pixel:nth-child(57){background:#e8e8e8;}
.pixel:nth-child(58){background:#e8e8e8;}
.pixel:nth-child(68){background:#e8e8e8;}
.pixel:nth-child(69){background:#e8e8e8;}
.pixel:nth-child(74){background:#e8e8e8;}
.pixel:nth-child(75){background:#e8e8e8;}
.pixel:nth-child(82){background:#e8e8e8;}
.pixel:nth-child(83){background:#e8e8e8;}
.pixel:nth-child(84){background:#e8e8e8;}
.pixel:nth-child(91){background:#e8e8e8;}
.pixel:nth-child(92){background:#e8e8e8;}
.pixel:nth-child(93){background:#e8e8e8;}
.pixel:nth-child(94){background:#e8e8e8;}
.pixel:nth-child(95){background:#e8e8e8;}
.pixel:nth-child(98){background:#e8e8e8;}
.pixel:nth-child(99){background:#e8e8e8;}
.pixel:nth-child(100){background:#e8e8e8;}
.pixel:nth-child(107){background:#e8e8e8;}
.pixel:nth-child(108){background:#e8e8e8;}
.pixel:nth-child(111){background:#e8e8e8;}
.pixel:nth-child(115){background:#e8e8e8;}
.pixel:nth-child(116){background:#e8e8e8;}
.pixel:nth-child(123){background:#e8e8e8;}
.pixel:nth-child(132){background:#e8e8e8;}
.pixel:nth-child(133){background:#e8e8e8;}
.pixel:nth-child(138){background:#e8e8e8;}
.pixel:nth-child(139){background:#e8e8e8;}
.pixel:nth-child(148){background:#e8e8e8;}
.pixel:nth-child(149){background:#e8e8e8;}
.pixel:nth-child(150){background:#e8e8e8;}
.pixel:nth-child(151){background:#e8e8e8;}
.pixel:nth-child(152){background:#e8e8e8;}
.pixel:nth-child(153){background:#e8e8e8;}
.pixel:nth-child(154){background:#e8e8e8;}
.pixel:nth-child(155){background:#e8e8e8;}
.pixel:nth-child(156){background:#e8e8e8;}
.pixel:nth-child(159){background:#e8e8e8;}
.pixel:nth-child(163){background:#e8e8e8;}
.pixel:nth-child(164){background:#e8e8e8;}
.pixel:nth-child(173){background:#e8e8e8;}
.pixel:nth-child(174){background:#e8e8e8;}
.pixel:nth-child(175){background:#e8e8e8;}

.pixel:nth-child(6){background:#000000;}
.pixel:nth-child(7){background:#000000;}
.pixel:nth-child(8){background:#000000;}
.pixel:nth-child(9){background:#000000;}
.pixel:nth-child(10){background:#000000;}
.pixel:nth-child(11){background:#000000;}
.pixel:nth-child(20){background:#000000;}
.pixel:nth-child(21){background:#000000;}
.pixel:nth-child(28){background:#000000;}
.pixel:nth-child(29){background:#000000;}
.pixel:nth-child(35){background:#000000;}
.pixel:nth-child(46){background:#000000;}
.pixel:nth-child(50){background:#000000;}
.pixel:nth-child(63){background:#000000;}
.pixel:nth-child(66){background:#000000;}
.pixel:nth-child(79){background:#000000;}
.pixel:nth-child(81){background:#000000;}
.pixel:nth-child(96){background:#000000;}
.pixel:nth-child(97){background:#000000;}
.pixel:nth-child(112){background:#000000;}
.pixel:nth-child(113){background:#000000;}
.pixel:nth-child(128){background:#000000;}
.pixel:nth-child(129){background:#000000;}
.pixel:nth-child(144){background:#000000;}
.pixel:nth-child(145){background:#000000;}
.pixel:nth-child(160){background:#000000;}
.pixel:nth-child(161){background:#000000;}
.pixel:nth-child(165){background:#000000;}
.pixel:nth-child(166){background:#000000;}
.pixel:nth-child(167){background:#000000;}
.pixel:nth-child(168){background:#000000;}
.pixel:nth-child(169){background:#000000;}
.pixel:nth-child(170){background:#000000;}
.pixel:nth-child(171){background:#000000;}
.pixel:nth-child(172){background:#000000;}
.pixel:nth-child(176){background:#000000;}
.pixel:nth-child(178){background:#000000;}
.pixel:nth-child(179){background:#000000;}
.pixel:nth-child(180){background:#000000;}
.pixel:nth-child(189){background:#000000;}
.pixel:nth-child(190){background:#000000;}
.pixel:nth-child(191){background:#000000;}
.pixel:nth-child(195){background:#000000;}
.pixel:nth-child(206){background:#000000;}
.pixel:nth-child(211){background:#000000;}
.pixel:nth-child(222){background:#000000;}
.pixel:nth-child(228){background:#000000;}
.pixel:nth-child(237){background:#000000;}
.pixel:nth-child(245){background:#000000;}
.pixel:nth-child(246){background:#000000;}
.pixel:nth-child(247){background:#000000;}
.pixel:nth-child(248){background:#000000;}
.pixel:nth-child(249){background:#000000;}
.pixel:nth-child(250){background:#000000;}
.pixel:nth-child(251){background:#000000;}
.pixel:nth-child(252){background:#000000;}

.pixel:nth-child(183){background:#000000;}
.pixel:nth-child(186){background:#000000;}
.pixel:nth-child(199){background:#000000;}
.pixel:nth-child(202){background:#000000;}

