body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}
.canvas {
width: 370px;
height: 400px;

}
.pixel {
width: 10px;height: 10px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(1){background:#ffff00;}
.pixel:nth-child(2){background:#ffff00;}
.pixel:nth-child(38){background:#ffff00;}
.pixel:nth-child(39){background:#ffff00;}
.pixel:nth-child(40){background:#ffff00;}
.pixel:nth-child(41){background:#ffff00;}
.pixel:nth-child(75){background:#ffff00;}
.pixel:nth-child(76){background:#ffff00;}
.pixel:nth-child(77){background:#ffff00;}
.pixel:nth-child(78){background:#ffff00;}
.pixel:nth-child(79){background:#ffff00;}
.pixel:nth-child(80){background:#ffff00;}
.pixel:nth-child(112){background:#ffff00;}
.pixel:nth-child(113){background:#ffff00;}
.pixel:nth-child(114){background:#ffff00;}
.pixel:nth-child(115){background:#ffff00;}
.pixel:nth-child(116){background:#ffff00;}
.pixel:nth-child(117){background:#ffff00;}
.pixel:nth-child(118){background:#ffff00;}
.pixel:nth-child(150){background:#ffff00;}
.pixel:nth-child(151){background:#ffff00;}
.pixel:nth-child(152){background:#ffff00;}
.pixel:nth-child(153){background:#ffff00;}
.pixel:nth-child(154){background:#ffff00;}
.pixel:nth-child(155){background:#ffff00;}
.pixel:nth-child(156){background:#ffff00;}
.pixel:nth-child(177){background:#ffff00;}
.pixel:nth-child(178){background:#ffff00;}
.pixel:nth-child(179){background:#ffff00;}
.pixel:nth-child(180){background:#ffff00;}
.pixel:nth-child(181){background:#ffff00;}
.pixel:nth-child(182){background:#ffff00;}
.pixel:nth-child(187){background:#ffff00;}
.pixel:nth-child(188){background:#ffff00;}
.pixel:nth-child(189){background:#ffff00;}
.pixel:nth-child(190){background:#ffff00;}
.pixel:nth-child(191){background:#ffff00;}
.pixel:nth-child(192){background:#ffff00;}
.pixel:nth-child(193){background:#ffff00;}
.pixel:nth-child(194){background:#ffff00;}
.pixel:nth-child(210){background:#ffff00;}
.pixel:nth-child(211){background:#ffff00;}
.pixel:nth-child(212){background:#ffff00;}
.pixel:nth-child(213){background:#ffff00;}
.pixel:nth-child(214){background:#ffff00;}
.pixel:nth-child(215){background:#ffff00;}
.pixel:nth-child(216){background:#ffff00;}
.pixel:nth-child(217){background:#ffff00;}
.pixel:nth-child(218){background:#ffff00;}
.pixel:nth-child(219){background:#ffff00;}
.pixel:nth-child(225){background:#ffff00;}
.pixel:nth-child(226){background:#ffff00;}
.pixel:nth-child(227){background:#ffff00;}
.pixel:nth-child(228){background:#ffff00;}
.pixel:nth-child(229){background:#ffff00;}
.pixel:nth-child(230){background:#ffff00;}
.pixel:nth-child(231){background:#ffff00;}
.pixel:nth-child(232){background:#ffff00;}
.pixel:nth-child(233){background:#ffff00;}
.pixel:nth-child(235){background:#ffff00;}
.pixel:nth-child(236){background:#ffff00;}
.pixel:nth-child(237){background:#ffff00;}
.pixel:nth-child(238){background:#ffff00;}
.pixel:nth-child(239){background:#ffff00;}
.pixel:nth-child(240){background:#ffff00;}
.pixel:nth-child(241){background:#ffff00;}
.pixel:nth-child(243){background:#ffff00;}
.pixel:nth-child(244){background:#ffff00;}
.pixel:nth-child(245){background:#ffff00;}
.pixel:nth-child(246){background:#ffff00;}
.pixel:nth-child(247){background:#ffff00;}
.pixel:nth-child(248){background:#ffff00;}
.pixel:nth-child(249){background:#ffff00;}
.pixel:nth-child(250){background:#ffff00;}
.pixel:nth-child(251){background:#ffff00;}
.pixel:nth-child(252){background:#ffff00;}
.pixel:nth-child(253){background:#ffff00;}
.pixel:nth-child(254){background:#ffff00;}
.pixel:nth-child(263){background:#ffff00;}
.pixel:nth-child(264){background:#ffff00;}
.pixel:nth-child(265){background:#ffff00;}
.pixel:nth-child(266){background:#ffff00;}
.pixel:nth-child(267){background:#ffff00;}
.pixel:nth-child(268){background:#ffff00;}
.pixel:nth-child(269){background:#ffff00;}
.pixel:nth-child(270){background:#ffff00;}
.pixel:nth-child(271){background:#ffff00;}
.pixel:nth-child(272){background:#ffff00;}
.pixel:nth-child(273){background:#ffff00;}
.pixel:nth-child(274){background:#ffff00;}
.pixel:nth-child(275){background:#ffff00;}
.pixel:nth-child(276){background:#ffff00;}
.pixel:nth-child(277){background:#ffff00;}
.pixel:nth-child(278){background:#ffff00;}
.pixel:nth-child(279){background:#ffff00;}
.pixel:nth-child(280){background:#ffff00;}
.pixel:nth-child(281){background:#ffff00;}
.pixel:nth-child(282){background:#ffff00;}
.pixel:nth-child(283){background:#ffff00;}
.pixel:nth-child(284){background:#ffff00;}
.pixel:nth-child(285){background:#ffff00;}
.pixel:nth-child(286){background:#ffff00;}
.pixel:nth-child(287){background:#ffff00;}
.pixel:nth-child(288){background:#ffff00;}
.pixel:nth-child(289){background:#ffff00;}
.pixel:nth-child(290){background:#ffff00;}
.pixel:nth-child(301){background:#ffff00;}
.pixel:nth-child(302){background:#ffff00;}
.pixel:nth-child(303){background:#ffff00;}
.pixel:nth-child(304){background:#ffff00;}
.pixel:nth-child(305){background:#ffff00;}
.pixel:nth-child(306){background:#ffff00;}
.pixel:nth-child(307){background:#ffff00;}
.pixel:nth-child(308){background:#ffff00;}
.pixel:nth-child(309){background:#ffff00;}
.pixel:nth-child(310){background:#ffff00;}
.pixel:nth-child(311){background:#ffff00;}
.pixel:nth-child(312){background:#ffff00;}
.pixel:nth-child(313){background:#ffff00;}
.pixel:nth-child(314){background:#ffff00;}
.pixel:nth-child(315){background:#ffff00;}
.pixel:nth-child(316){background:#ffff00;}
.pixel:nth-child(317){background:#ffff00;}
.pixel:nth-child(318){background:#ffff00;}
.pixel:nth-child(319){background:#ffff00;}
.pixel:nth-child(320){background:#ffff00;}
.pixel:nth-child(321){background:#ffff00;}
.pixel:nth-child(322){background:#ffff00;}
.pixel:nth-child(323){background:#ffff00;}
.pixel:nth-child(324){background:#ffff00;}
.pixel:nth-child(325){background:#ffff00;}
.pixel:nth-child(326){background:#ffff00;}
.pixel:nth-child(339){background:#ffff00;}
.pixel:nth-child(340){background:#ffff00;}
.pixel:nth-child(341){background:#ffff00;}
.pixel:nth-child(342){background:#ffff00;}
.pixel:nth-child(343){background:#ffff00;}
.pixel:nth-child(344){background:#ffff00;}
.pixel:nth-child(345){background:#ffff00;}
.pixel:nth-child(346){background:#ffff00;}
.pixel:nth-child(347){background:#ffff00;}
.pixel:nth-child(348){background:#ffff00;}
.pixel:nth-child(349){background:#ffff00;}
.pixel:nth-child(350){background:#ffff00;}
.pixel:nth-child(351){background:#ffff00;}
.pixel:nth-child(352){background:#ffff00;}
.pixel:nth-child(353){background:#ffff00;}
.pixel:nth-child(354){background:#ffff00;}
.pixel:nth-child(355){background:#ffff00;}
.pixel:nth-child(356){background:#ffff00;}
.pixel:nth-child(357){background:#ffff00;}
.pixel:nth-child(358){background:#ffff00;}
.pixel:nth-child(359){background:#ffff00;}
.pixel:nth-child(360){background:#ffff00;}
.pixel:nth-child(361){background:#ffff00;}
.pixel:nth-child(362){background:#ffff00;}
.pixel:nth-child(377){background:#ffff00;}
.pixel:nth-child(378){background:#ffff00;}
.pixel:nth-child(379){background:#ffff00;}
.pixel:nth-child(380){background:#ffff00;}
.pixel:nth-child(381){background:#ffff00;}
.pixel:nth-child(382){background:#ffff00;}
.pixel:nth-child(383){background:#ffff00;}
.pixel:nth-child(384){background:#ffff00;}
.pixel:nth-child(385){background:#ffff00;}
.pixel:nth-child(386){background:#ffff00;}
.pixel:nth-child(387){background:#ffff00;}
.pixel:nth-child(388){background:#ffff00;}
.pixel:nth-child(389){background:#ffff00;}
.pixel:nth-child(390){background:#ffff00;}
.pixel:nth-child(391){background:#ffff00;}
.pixel:nth-child(392){background:#ffff00;}
.pixel:nth-child(393){background:#ffff00;}
.pixel:nth-child(394){background:#ffff00;}
.pixel:nth-child(395){background:#ffff00;}
.pixel:nth-child(396){background:#ffff00;}
.pixel:nth-child(397){background:#ffff00;}
.pixel:nth-child(414){background:#ffff00;}
.pixel:nth-child(415){background:#ffff00;}
.pixel:nth-child(416){background:#ffff00;}
.pixel:nth-child(417){background:#ffff00;}
.pixel:nth-child(418){background:#ffff00;}
.pixel:nth-child(419){background:#ffff00;}
.pixel:nth-child(420){background:#ffff00;}
.pixel:nth-child(421){background:#ffff00;}
.pixel:nth-child(422){background:#ffff00;}
.pixel:nth-child(423){background:#ffff00;}
.pixel:nth-child(424){background:#ffff00;}
.pixel:nth-child(425){background:#ffff00;}
.pixel:nth-child(426){background:#ffff00;}
.pixel:nth-child(427){background:#ffff00;}
.pixel:nth-child(428){background:#ffff00;}
.pixel:nth-child(429){background:#ffff00;}
.pixel:nth-child(430){background:#ffff00;}
.pixel:nth-child(431){background:#ffff00;}
.pixel:nth-child(432){background:#ffff00;}
.pixel:nth-child(444){background:#ffff00;}
.pixel:nth-child(451){background:#ffff00;}
.pixel:nth-child(452){background:#ffff00;}
.pixel:nth-child(453){background:#ffff00;}
.pixel:nth-child(454){background:#ffff00;}
.pixel:nth-child(455){background:#ffff00;}
.pixel:nth-child(456){background:#ffff00;}
.pixel:nth-child(457){background:#ffff00;}
.pixel:nth-child(458){background:#ffff00;}
.pixel:nth-child(459){background:#ffff00;}
.pixel:nth-child(460){background:#ffff00;}
.pixel:nth-child(461){background:#ffff00;}
.pixel:nth-child(462){background:#ffff00;}
.pixel:nth-child(463){background:#ffff00;}
.pixel:nth-child(464){background:#ffff00;}
.pixel:nth-child(465){background:#ffff00;}
.pixel:nth-child(466){background:#ffff00;}
.pixel:nth-child(467){background:#ffff00;}
.pixel:nth-child(468){background:#ffff00;}
.pixel:nth-child(469){background:#ffff00;}
.pixel:nth-child(480){background:#ffff00;}
.pixel:nth-child(481){background:#ffff00;}
.pixel:nth-child(487){background:#ffff00;}
.pixel:nth-child(488){background:#ffff00;}
.pixel:nth-child(489){background:#ffff00;}
.pixel:nth-child(490){background:#ffff00;}
.pixel:nth-child(491){background:#ffff00;}
.pixel:nth-child(492){background:#ffff00;}
.pixel:nth-child(493){background:#ffff00;}
.pixel:nth-child(494){background:#ffff00;}
.pixel:nth-child(495){background:#ffff00;}
.pixel:nth-child(496){background:#ffff00;}
.pixel:nth-child(497){background:#ffff00;}
.pixel:nth-child(498){background:#ffff00;}
.pixel:nth-child(499){background:#ffff00;}
.pixel:nth-child(500){background:#ffff00;}
.pixel:nth-child(501){background:#ffff00;}
.pixel:nth-child(502){background:#ffff00;}
.pixel:nth-child(503){background:#ffff00;}
.pixel:nth-child(504){background:#ffff00;}
.pixel:nth-child(505){background:#ffff00;}
.pixel:nth-child(506){background:#ffff00;}
.pixel:nth-child(507){background:#ffff00;}
.pixel:nth-child(516){background:#ffff00;}
.pixel:nth-child(517){background:#ffff00;}
.pixel:nth-child(518){background:#ffff00;}
.pixel:nth-child(524){background:#ffff00;}
.pixel:nth-child(525){background:#ffff00;}
.pixel:nth-child(526){background:#ffff00;}
.pixel:nth-child(527){background:#ffff00;}
.pixel:nth-child(528){background:#ffff00;}
.pixel:nth-child(529){background:#ffff00;}
.pixel:nth-child(530){background:#ffff00;}
.pixel:nth-child(531){background:#ffff00;}
.pixel:nth-child(532){background:#ffff00;}
.pixel:nth-child(533){background:#ffff00;}
.pixel:nth-child(534){background:#ffff00;}
.pixel:nth-child(535){background:#ffff00;}
.pixel:nth-child(536){background:#ffff00;}
.pixel:nth-child(537){background:#ffff00;}
.pixel:nth-child(538){background:#ffff00;}
.pixel:nth-child(539){background:#ffff00;}
.pixel:nth-child(540){background:#ffff00;}
.pixel:nth-child(541){background:#ffff00;}
.pixel:nth-child(542){background:#ffff00;}
.pixel:nth-child(543){background:#ffff00;}
.pixel:nth-child(544){background:#ffff00;}
.pixel:nth-child(552){background:#ffff00;}
.pixel:nth-child(553){background:#ffff00;}
.pixel:nth-child(554){background:#ffff00;}
.pixel:nth-child(555){background:#ffff00;}
.pixel:nth-child(561){background:#ffff00;}
.pixel:nth-child(562){background:#ffff00;}
.pixel:nth-child(563){background:#ffff00;}
.pixel:nth-child(564){background:#ffff00;}
.pixel:nth-child(565){background:#ffff00;}
.pixel:nth-child(566){background:#ffff00;}
.pixel:nth-child(567){background:#ffff00;}
.pixel:nth-child(568){background:#ffff00;}
.pixel:nth-child(569){background:#ffff00;}
.pixel:nth-child(570){background:#ffff00;}
.pixel:nth-child(571){background:#ffff00;}
.pixel:nth-child(572){background:#ffff00;}
.pixel:nth-child(573){background:#ffff00;}
.pixel:nth-child(574){background:#ffff00;}
.pixel:nth-child(575){background:#ffff00;}
.pixel:nth-child(576){background:#ffff00;}
.pixel:nth-child(577){background:#ffff00;}
.pixel:nth-child(578){background:#ffff00;}
.pixel:nth-child(579){background:#ffff00;}
.pixel:nth-child(580){background:#ffff00;}
.pixel:nth-child(581){background:#ffff00;}
.pixel:nth-child(588){background:#ffff00;}
.pixel:nth-child(589){background:#ffff00;}
.pixel:nth-child(590){background:#ffff00;}
.pixel:nth-child(591){background:#ffff00;}
.pixel:nth-child(592){background:#ffff00;}
.pixel:nth-child(597){background:#ffff00;}
.pixel:nth-child(598){background:#ffff00;}
.pixel:nth-child(599){background:#ffff00;}
.pixel:nth-child(600){background:#ffff00;}
.pixel:nth-child(601){background:#ffff00;}
.pixel:nth-child(602){background:#ffff00;}
.pixel:nth-child(603){background:#ffff00;}
.pixel:nth-child(604){background:#ffff00;}
.pixel:nth-child(605){background:#ffff00;}
.pixel:nth-child(606){background:#ffff00;}
.pixel:nth-child(607){background:#ffff00;}
.pixel:nth-child(608){background:#ffff00;}
.pixel:nth-child(609){background:#ffff00;}
.pixel:nth-child(610){background:#ffff00;}
.pixel:nth-child(611){background:#ffff00;}
.pixel:nth-child(612){background:#ffff00;}
.pixel:nth-child(613){background:#ffff00;}
.pixel:nth-child(614){background:#ffff00;}
.pixel:nth-child(615){background:#ffff00;}
.pixel:nth-child(616){background:#ffff00;}
.pixel:nth-child(617){background:#ffff00;}
.pixel:nth-child(618){background:#ffff00;}
.pixel:nth-child(619){background:#ffff00;}
.pixel:nth-child(624){background:#ffff00;}
.pixel:nth-child(625){background:#ffff00;}
.pixel:nth-child(626){background:#ffff00;}
.pixel:nth-child(627){background:#ffff00;}
.pixel:nth-child(628){background:#ffff00;}
.pixel:nth-child(629){background:#ffff00;}
.pixel:nth-child(634){background:#ffff00;}
.pixel:nth-child(635){background:#ffff00;}
.pixel:nth-child(636){background:#ffff00;}
.pixel:nth-child(637){background:#ffff00;}
.pixel:nth-child(638){background:#ffff00;}
.pixel:nth-child(639){background:#ffff00;}
.pixel:nth-child(640){background:#ffff00;}
.pixel:nth-child(641){background:#ffff00;}
.pixel:nth-child(642){background:#ffff00;}
.pixel:nth-child(643){background:#ffff00;}
.pixel:nth-child(644){background:#ffff00;}
.pixel:nth-child(645){background:#ffff00;}
.pixel:nth-child(646){background:#ffff00;}
.pixel:nth-child(647){background:#ffff00;}
.pixel:nth-child(648){background:#ffff00;}
.pixel:nth-child(649){background:#ffff00;}
.pixel:nth-child(650){background:#ffff00;}
.pixel:nth-child(651){background:#ffff00;}
.pixel:nth-child(652){background:#ffff00;}
.pixel:nth-child(653){background:#ffff00;}
.pixel:nth-child(654){background:#ffff00;}
.pixel:nth-child(655){background:#ffff00;}
.pixel:nth-child(656){background:#ffff00;}
.pixel:nth-child(660){background:#ffff00;}
.pixel:nth-child(661){background:#ffff00;}
.pixel:nth-child(662){background:#ffff00;}
.pixel:nth-child(663){background:#ffff00;}
.pixel:nth-child(664){background:#ffff00;}
.pixel:nth-child(665){background:#ffff00;}
.pixel:nth-child(666){background:#ffff00;}
.pixel:nth-child(671){background:#ffff00;}
.pixel:nth-child(672){background:#ffff00;}
.pixel:nth-child(673){background:#ffff00;}
.pixel:nth-child(674){background:#ffff00;}
.pixel:nth-child(675){background:#ffff00;}
.pixel:nth-child(676){background:#ffff00;}
.pixel:nth-child(677){background:#ffff00;}
.pixel:nth-child(678){background:#ffff00;}
.pixel:nth-child(679){background:#ffff00;}
.pixel:nth-child(680){background:#ffff00;}
.pixel:nth-child(681){background:#ffff00;}
.pixel:nth-child(682){background:#ffff00;}
.pixel:nth-child(683){background:#ffff00;}
.pixel:nth-child(684){background:#ffff00;}
.pixel:nth-child(685){background:#ffff00;}
.pixel:nth-child(686){background:#ffff00;}
.pixel:nth-child(687){background:#ffff00;}
.pixel:nth-child(688){background:#ffff00;}
.pixel:nth-child(689){background:#ffff00;}
.pixel:nth-child(690){background:#ffff00;}
.pixel:nth-child(691){background:#ffff00;}
.pixel:nth-child(692){background:#ffff00;}
.pixel:nth-child(693){background:#ffff00;}
.pixel:nth-child(696){background:#ffff00;}
.pixel:nth-child(697){background:#ffff00;}
.pixel:nth-child(698){background:#ffff00;}
.pixel:nth-child(699){background:#ffff00;}
.pixel:nth-child(700){background:#ffff00;}
.pixel:nth-child(701){background:#ffff00;}
.pixel:nth-child(702){background:#ffff00;}
.pixel:nth-child(703){background:#ffff00;}
.pixel:nth-child(708){background:#ffff00;}
.pixel:nth-child(709){background:#ffff00;}
.pixel:nth-child(710){background:#ffff00;}
.pixel:nth-child(711){background:#ffff00;}
.pixel:nth-child(712){background:#ffff00;}
.pixel:nth-child(713){background:#ffff00;}
.pixel:nth-child(714){background:#ffff00;}
.pixel:nth-child(715){background:#ffff00;}
.pixel:nth-child(716){background:#ffff00;}
.pixel:nth-child(717){background:#ffff00;}
.pixel:nth-child(718){background:#ffff00;}
.pixel:nth-child(719){background:#ffff00;}
.pixel:nth-child(720){background:#ffff00;}
.pixel:nth-child(721){background:#ffff00;}
.pixel:nth-child(722){background:#ffff00;}
.pixel:nth-child(723){background:#ffff00;}
.pixel:nth-child(724){background:#ffff00;}
.pixel:nth-child(725){background:#ffff00;}
.pixel:nth-child(726){background:#ffff00;}
.pixel:nth-child(727){background:#ffff00;}
.pixel:nth-child(728){background:#ffff00;}
.pixel:nth-child(729){background:#ffff00;}
.pixel:nth-child(730){background:#ffff00;}
.pixel:nth-child(732){background:#ffff00;}
.pixel:nth-child(733){background:#ffff00;}
.pixel:nth-child(734){background:#ffff00;}
.pixel:nth-child(735){background:#ffff00;}
.pixel:nth-child(736){background:#ffff00;}
.pixel:nth-child(737){background:#ffff00;}
.pixel:nth-child(738){background:#ffff00;}
.pixel:nth-child(739){background:#ffff00;}
.pixel:nth-child(740){background:#ffff00;}
.pixel:nth-child(746){background:#ffff00;}
.pixel:nth-child(747){background:#ffff00;}
.pixel:nth-child(748){background:#ffff00;}
.pixel:nth-child(749){background:#ffff00;}
.pixel:nth-child(750){background:#ffff00;}
.pixel:nth-child(751){background:#ffff00;}
.pixel:nth-child(752){background:#ffff00;}
.pixel:nth-child(753){background:#ffff00;}
.pixel:nth-child(754){background:#ffff00;}
.pixel:nth-child(755){background:#ffff00;}
.pixel:nth-child(756){background:#ffff00;}
.pixel:nth-child(757){background:#ffff00;}
.pixel:nth-child(758){background:#ffff00;}
.pixel:nth-child(759){background:#ffff00;}
.pixel:nth-child(760){background:#ffff00;}
.pixel:nth-child(761){background:#ffff00;}
.pixel:nth-child(762){background:#ffff00;}
.pixel:nth-child(763){background:#ffff00;}
.pixel:nth-child(764){background:#ffff00;}
.pixel:nth-child(765){background:#ffff00;}
.pixel:nth-child(766){background:#ffff00;}
.pixel:nth-child(767){background:#ffff00;}
.pixel:nth-child(768){background:#ffff00;}
.pixel:nth-child(769){background:#ffff00;}
.pixel:nth-child(770){background:#ffff00;}
.pixel:nth-child(771){background:#ffff00;}
.pixel:nth-child(772){background:#ffff00;}
.pixel:nth-child(773){background:#ffff00;}
.pixel:nth-child(774){background:#ffff00;}
.pixel:nth-child(775){background:#ffff00;}
.pixel:nth-child(776){background:#ffff00;}
.pixel:nth-child(777){background:#ffff00;}
.pixel:nth-child(783){background:#ffff00;}
.pixel:nth-child(784){background:#ffff00;}
.pixel:nth-child(785){background:#ffff00;}
.pixel:nth-child(786){background:#ffff00;}
.pixel:nth-child(787){background:#ffff00;}
.pixel:nth-child(788){background:#ffff00;}
.pixel:nth-child(789){background:#ffff00;}
.pixel:nth-child(790){background:#ffff00;}
.pixel:nth-child(791){background:#ffff00;}
.pixel:nth-child(792){background:#ffff00;}
.pixel:nth-child(793){background:#ffff00;}
.pixel:nth-child(794){background:#ffff00;}
.pixel:nth-child(795){background:#ffff00;}
.pixel:nth-child(796){background:#ffff00;}
.pixel:nth-child(797){background:#ffff00;}
.pixel:nth-child(798){background:#ffff00;}
.pixel:nth-child(799){background:#ffff00;}
.pixel:nth-child(800){background:#ffff00;}
.pixel:nth-child(801){background:#ffff00;}
.pixel:nth-child(802){background:#ffff00;}
.pixel:nth-child(803){background:#ffff00;}
.pixel:nth-child(804){background:#ffff00;}
.pixel:nth-child(805){background:#ffff00;}
.pixel:nth-child(806){background:#ffff00;}
.pixel:nth-child(807){background:#ffff00;}
.pixel:nth-child(808){background:#ffff00;}
.pixel:nth-child(809){background:#ffff00;}
.pixel:nth-child(810){background:#ffff00;}
.pixel:nth-child(811){background:#ffff00;}
.pixel:nth-child(812){background:#ffff00;}
.pixel:nth-child(813){background:#ffff00;}
.pixel:nth-child(814){background:#ffff00;}
.pixel:nth-child(821){background:#ffff00;}
.pixel:nth-child(822){background:#ffff00;}
.pixel:nth-child(823){background:#ffff00;}
.pixel:nth-child(824){background:#ffff00;}
.pixel:nth-child(825){background:#ffff00;}
.pixel:nth-child(826){background:#ffff00;}
.pixel:nth-child(827){background:#ffff00;}
.pixel:nth-child(828){background:#ffff00;}
.pixel:nth-child(829){background:#ffff00;}
.pixel:nth-child(830){background:#ffff00;}
.pixel:nth-child(831){background:#ffff00;}
.pixel:nth-child(832){background:#ffff00;}
.pixel:nth-child(833){background:#ffff00;}
.pixel:nth-child(834){background:#ffff00;}
.pixel:nth-child(835){background:#ffff00;}
.pixel:nth-child(836){background:#ffff00;}
.pixel:nth-child(837){background:#ffff00;}
.pixel:nth-child(838){background:#ffff00;}
.pixel:nth-child(839){background:#ffff00;}
.pixel:nth-child(841){background:#ffff00;}
.pixel:nth-child(842){background:#ffff00;}
.pixel:nth-child(843){background:#ffff00;}
.pixel:nth-child(844){background:#ffff00;}
.pixel:nth-child(845){background:#ffff00;}
.pixel:nth-child(846){background:#ffff00;}
.pixel:nth-child(847){background:#ffff00;}
.pixel:nth-child(848){background:#ffff00;}
.pixel:nth-child(849){background:#ffff00;}
.pixel:nth-child(850){background:#ffff00;}
.pixel:nth-child(857){background:#ffff00;}
.pixel:nth-child(858){background:#ffff00;}
.pixel:nth-child(859){background:#ffff00;}
.pixel:nth-child(860){background:#ffff00;}
.pixel:nth-child(861){background:#ffff00;}
.pixel:nth-child(862){background:#ffff00;}
.pixel:nth-child(863){background:#ffff00;}
.pixel:nth-child(864){background:#ffff00;}
.pixel:nth-child(865){background:#ffff00;}
.pixel:nth-child(866){background:#ffff00;}
.pixel:nth-child(867){background:#ffff00;}
.pixel:nth-child(868){background:#ffff00;}
.pixel:nth-child(869){background:#ffff00;}
.pixel:nth-child(870){background:#ffff00;}
.pixel:nth-child(871){background:#ffff00;}
.pixel:nth-child(872){background:#ffff00;}
.pixel:nth-child(873){background:#ffff00;}
.pixel:nth-child(874){background:#ffff00;}
.pixel:nth-child(875){background:#ffff00;}
.pixel:nth-child(876){background:#ffff00;}
.pixel:nth-child(877){background:#ffff00;}
.pixel:nth-child(879){background:#ffff00;}
.pixel:nth-child(880){background:#ffff00;}
.pixel:nth-child(881){background:#ffff00;}
.pixel:nth-child(882){background:#ffff00;}
.pixel:nth-child(883){background:#ffff00;}
.pixel:nth-child(884){background:#ffff00;}
.pixel:nth-child(885){background:#ffff00;}
.pixel:nth-child(886){background:#ffff00;}
.pixel:nth-child(894){background:#ffff00;}
.pixel:nth-child(895){background:#ffff00;}
.pixel:nth-child(896){background:#ffff00;}
.pixel:nth-child(897){background:#ffff00;}
.pixel:nth-child(898){background:#ffff00;}
.pixel:nth-child(899){background:#ffff00;}
.pixel:nth-child(900){background:#ffff00;}
.pixel:nth-child(901){background:#ffff00;}
.pixel:nth-child(902){background:#ffff00;}
.pixel:nth-child(903){background:#ffff00;}
.pixel:nth-child(904){background:#ffff00;}
.pixel:nth-child(905){background:#ffff00;}
.pixel:nth-child(906){background:#ffff00;}
.pixel:nth-child(907){background:#ffff00;}
.pixel:nth-child(908){background:#ffff00;}
.pixel:nth-child(909){background:#ffff00;}
.pixel:nth-child(910){background:#ffff00;}
.pixel:nth-child(911){background:#ffff00;}
.pixel:nth-child(912){background:#ffff00;}
.pixel:nth-child(913){background:#ffff00;}
.pixel:nth-child(914){background:#ffff00;}
.pixel:nth-child(917){background:#ffff00;}
.pixel:nth-child(918){background:#ffff00;}
.pixel:nth-child(919){background:#ffff00;}
.pixel:nth-child(920){background:#ffff00;}
.pixel:nth-child(921){background:#ffff00;}
.pixel:nth-child(922){background:#ffff00;}
.pixel:nth-child(931){background:#ffff00;}
.pixel:nth-child(932){background:#ffff00;}
.pixel:nth-child(933){background:#ffff00;}
.pixel:nth-child(934){background:#ffff00;}
.pixel:nth-child(935){background:#ffff00;}
.pixel:nth-child(936){background:#ffff00;}
.pixel:nth-child(937){background:#ffff00;}
.pixel:nth-child(938){background:#ffff00;}
.pixel:nth-child(939){background:#ffff00;}
.pixel:nth-child(940){background:#ffff00;}
.pixel:nth-child(941){background:#ffff00;}
.pixel:nth-child(942){background:#ffff00;}
.pixel:nth-child(943){background:#ffff00;}
.pixel:nth-child(944){background:#ffff00;}
.pixel:nth-child(945){background:#ffff00;}
.pixel:nth-child(946){background:#ffff00;}
.pixel:nth-child(947){background:#ffff00;}
.pixel:nth-child(948){background:#ffff00;}
.pixel:nth-child(949){background:#ffff00;}
.pixel:nth-child(950){background:#ffff00;}
.pixel:nth-child(951){background:#ffff00;}
.pixel:nth-child(955){background:#ffff00;}
.pixel:nth-child(956){background:#ffff00;}
.pixel:nth-child(957){background:#ffff00;}
.pixel:nth-child(958){background:#ffff00;}
.pixel:nth-child(959){background:#ffff00;}
.pixel:nth-child(960){background:#ffff00;}
.pixel:nth-child(968){background:#ffff00;}
.pixel:nth-child(969){background:#ffff00;}
.pixel:nth-child(970){background:#ffff00;}
.pixel:nth-child(971){background:#ffff00;}
.pixel:nth-child(972){background:#ffff00;}
.pixel:nth-child(973){background:#ffff00;}
.pixel:nth-child(974){background:#ffff00;}
.pixel:nth-child(975){background:#ffff00;}
.pixel:nth-child(976){background:#ffff00;}
.pixel:nth-child(977){background:#ffff00;}
.pixel:nth-child(978){background:#ffff00;}
.pixel:nth-child(979){background:#ffff00;}
.pixel:nth-child(980){background:#ffff00;}
.pixel:nth-child(981){background:#ffff00;}
.pixel:nth-child(982){background:#ffff00;}
.pixel:nth-child(983){background:#ffff00;}
.pixel:nth-child(984){background:#ffff00;}
.pixel:nth-child(985){background:#ffff00;}
.pixel:nth-child(986){background:#ffff00;}
.pixel:nth-child(987){background:#ffff00;}
.pixel:nth-child(988){background:#ffff00;}
.pixel:nth-child(989){background:#ffff00;}
.pixel:nth-child(991){background:#ffff00;}
.pixel:nth-child(992){background:#ffff00;}
.pixel:nth-child(993){background:#ffff00;}
.pixel:nth-child(994){background:#ffff00;}
.pixel:nth-child(995){background:#ffff00;}
.pixel:nth-child(996){background:#ffff00;}
.pixel:nth-child(997){background:#ffff00;}
.pixel:nth-child(1004){background:#ffff00;}
.pixel:nth-child(1005){background:#ffff00;}
.pixel:nth-child(1006){background:#ffff00;}
.pixel:nth-child(1007){background:#ffff00;}
.pixel:nth-child(1008){background:#ffff00;}
.pixel:nth-child(1009){background:#ffff00;}
.pixel:nth-child(1010){background:#ffff00;}
.pixel:nth-child(1011){background:#ffff00;}
.pixel:nth-child(1012){background:#ffff00;}
.pixel:nth-child(1013){background:#ffff00;}
.pixel:nth-child(1014){background:#ffff00;}
.pixel:nth-child(1015){background:#ffff00;}
.pixel:nth-child(1016){background:#ffff00;}
.pixel:nth-child(1017){background:#ffff00;}
.pixel:nth-child(1018){background:#ffff00;}
.pixel:nth-child(1019){background:#ffff00;}
.pixel:nth-child(1020){background:#ffff00;}
.pixel:nth-child(1021){background:#ffff00;}
.pixel:nth-child(1022){background:#ffff00;}
.pixel:nth-child(1023){background:#ffff00;}
.pixel:nth-child(1024){background:#ffff00;}
.pixel:nth-child(1025){background:#ffff00;}
.pixel:nth-child(1026){background:#ffff00;}
.pixel:nth-child(1027){background:#ffff00;}
.pixel:nth-child(1028){background:#ffff00;}
.pixel:nth-child(1029){background:#ffff00;}
.pixel:nth-child(1030){background:#ffff00;}
.pixel:nth-child(1031){background:#ffff00;}
.pixel:nth-child(1032){background:#ffff00;}
.pixel:nth-child(1033){background:#ffff00;}
.pixel:nth-child(1041){background:#ffff00;}
.pixel:nth-child(1042){background:#ffff00;}
.pixel:nth-child(1043){background:#ffff00;}
.pixel:nth-child(1044){background:#ffff00;}
.pixel:nth-child(1045){background:#ffff00;}
.pixel:nth-child(1046){background:#ffff00;}
.pixel:nth-child(1047){background:#ffff00;}
.pixel:nth-child(1048){background:#ffff00;}
.pixel:nth-child(1049){background:#ffff00;}
.pixel:nth-child(1050){background:#ffff00;}
.pixel:nth-child(1051){background:#ffff00;}
.pixel:nth-child(1052){background:#ffff00;}
.pixel:nth-child(1053){background:#ffff00;}
.pixel:nth-child(1054){background:#ffff00;}
.pixel:nth-child(1055){background:#ffff00;}
.pixel:nth-child(1056){background:#ffff00;}
.pixel:nth-child(1057){background:#ffff00;}
.pixel:nth-child(1058){background:#ffff00;}
.pixel:nth-child(1059){background:#ffff00;}
.pixel:nth-child(1060){background:#ffff00;}
.pixel:nth-child(1061){background:#ffff00;}
.pixel:nth-child(1062){background:#ffff00;}
.pixel:nth-child(1063){background:#ffff00;}
.pixel:nth-child(1064){background:#ffff00;}
.pixel:nth-child(1065){background:#ffff00;}
.pixel:nth-child(1066){background:#ffff00;}
.pixel:nth-child(1067){background:#ffff00;}
.pixel:nth-child(1068){background:#ffff00;}
.pixel:nth-child(1069){background:#ffff00;}
.pixel:nth-child(1078){background:#ffff00;}
.pixel:nth-child(1079){background:#ffff00;}
.pixel:nth-child(1080){background:#ffff00;}
.pixel:nth-child(1081){background:#ffff00;}
.pixel:nth-child(1082){background:#ffff00;}
.pixel:nth-child(1083){background:#ffff00;}
.pixel:nth-child(1084){background:#ffff00;}
.pixel:nth-child(1085){background:#ffff00;}
.pixel:nth-child(1086){background:#ffff00;}
.pixel:nth-child(1087){background:#ffff00;}
.pixel:nth-child(1088){background:#ffff00;}
.pixel:nth-child(1089){background:#ffff00;}
.pixel:nth-child(1090){background:#ffff00;}
.pixel:nth-child(1091){background:#ffff00;}
.pixel:nth-child(1092){background:#ffff00;}
.pixel:nth-child(1093){background:#ffff00;}
.pixel:nth-child(1094){background:#ffff00;}
.pixel:nth-child(1095){background:#ffff00;}
.pixel:nth-child(1096){background:#ffff00;}
.pixel:nth-child(1097){background:#ffff00;}
.pixel:nth-child(1098){background:#ffff00;}
.pixel:nth-child(1099){background:#ffff00;}
.pixel:nth-child(1100){background:#ffff00;}
.pixel:nth-child(1101){background:#ffff00;}
.pixel:nth-child(1102){background:#ffff00;}
.pixel:nth-child(1103){background:#ffff00;}
.pixel:nth-child(1104){background:#ffff00;}
.pixel:nth-child(1105){background:#ffff00;}
.pixel:nth-child(1115){background:#ffff00;}
.pixel:nth-child(1116){background:#ffff00;}
.pixel:nth-child(1117){background:#ffff00;}
.pixel:nth-child(1118){background:#ffff00;}
.pixel:nth-child(1119){background:#ffff00;}
.pixel:nth-child(1120){background:#ffff00;}
.pixel:nth-child(1121){background:#ffff00;}
.pixel:nth-child(1122){background:#ffff00;}
.pixel:nth-child(1123){background:#ffff00;}
.pixel:nth-child(1124){background:#ffff00;}
.pixel:nth-child(1125){background:#ffff00;}
.pixel:nth-child(1126){background:#ffff00;}
.pixel:nth-child(1127){background:#ffff00;}
.pixel:nth-child(1128){background:#ffff00;}
.pixel:nth-child(1129){background:#ffff00;}
.pixel:nth-child(1130){background:#ffff00;}
.pixel:nth-child(1131){background:#ffff00;}
.pixel:nth-child(1132){background:#ffff00;}
.pixel:nth-child(1133){background:#ffff00;}
.pixel:nth-child(1134){background:#ffff00;}
.pixel:nth-child(1135){background:#ffff00;}
.pixel:nth-child(1136){background:#ffff00;}
.pixel:nth-child(1137){background:#ffff00;}
.pixel:nth-child(1138){background:#ffff00;}
.pixel:nth-child(1139){background:#ffff00;}
.pixel:nth-child(1140){background:#ffff00;}
.pixel:nth-child(1141){background:#ffff00;}
.pixel:nth-child(1152){background:#ffff00;}
.pixel:nth-child(1153){background:#ffff00;}
.pixel:nth-child(1154){background:#ffff00;}
.pixel:nth-child(1155){background:#ffff00;}
.pixel:nth-child(1156){background:#ffff00;}
.pixel:nth-child(1157){background:#ffff00;}
.pixel:nth-child(1158){background:#ffff00;}
.pixel:nth-child(1159){background:#ffff00;}
.pixel:nth-child(1160){background:#ffff00;}
.pixel:nth-child(1161){background:#ffff00;}
.pixel:nth-child(1162){background:#ffff00;}
.pixel:nth-child(1163){background:#ffff00;}
.pixel:nth-child(1164){background:#ffff00;}
.pixel:nth-child(1165){background:#ffff00;}
.pixel:nth-child(1166){background:#ffff00;}
.pixel:nth-child(1167){background:#ffff00;}
.pixel:nth-child(1168){background:#ffff00;}
.pixel:nth-child(1169){background:#ffff00;}
.pixel:nth-child(1170){background:#ffff00;}
.pixel:nth-child(1171){background:#ffff00;}
.pixel:nth-child(1172){background:#ffff00;}
.pixel:nth-child(1173){background:#ffff00;}
.pixel:nth-child(1174){background:#ffff00;}
.pixel:nth-child(1175){background:#ffff00;}
.pixel:nth-child(1176){background:#ffff00;}
.pixel:nth-child(1177){background:#ffff00;}
.pixel:nth-child(1178){background:#ffff00;}
.pixel:nth-child(1179){background:#ffff00;}
.pixel:nth-child(1189){background:#ffff00;}
.pixel:nth-child(1190){background:#ffff00;}
.pixel:nth-child(1191){background:#ffff00;}
.pixel:nth-child(1192){background:#ffff00;}
.pixel:nth-child(1193){background:#ffff00;}
.pixel:nth-child(1194){background:#ffff00;}
.pixel:nth-child(1195){background:#ffff00;}
.pixel:nth-child(1196){background:#ffff00;}
.pixel:nth-child(1197){background:#ffff00;}
.pixel:nth-child(1198){background:#ffff00;}
.pixel:nth-child(1199){background:#ffff00;}
.pixel:nth-child(1200){background:#ffff00;}
.pixel:nth-child(1201){background:#ffff00;}
.pixel:nth-child(1202){background:#ffff00;}
.pixel:nth-child(1203){background:#ffff00;}
.pixel:nth-child(1204){background:#ffff00;}
.pixel:nth-child(1205){background:#ffff00;}
.pixel:nth-child(1206){background:#ffff00;}
.pixel:nth-child(1207){background:#ffff00;}
.pixel:nth-child(1208){background:#ffff00;}
.pixel:nth-child(1209){background:#ffff00;}
.pixel:nth-child(1210){background:#ffff00;}
.pixel:nth-child(1211){background:#ffff00;}
.pixel:nth-child(1212){background:#ffff00;}
.pixel:nth-child(1213){background:#ffff00;}
.pixel:nth-child(1214){background:#ffff00;}
.pixel:nth-child(1215){background:#ffff00;}
.pixel:nth-child(1226){background:#ffff00;}
.pixel:nth-child(1227){background:#ffff00;}
.pixel:nth-child(1228){background:#ffff00;}
.pixel:nth-child(1229){background:#ffff00;}
.pixel:nth-child(1230){background:#ffff00;}
.pixel:nth-child(1231){background:#ffff00;}
.pixel:nth-child(1232){background:#ffff00;}
.pixel:nth-child(1233){background:#ffff00;}
.pixel:nth-child(1234){background:#ffff00;}
.pixel:nth-child(1235){background:#ffff00;}
.pixel:nth-child(1236){background:#ffff00;}
.pixel:nth-child(1237){background:#ffff00;}
.pixel:nth-child(1238){background:#ffff00;}
.pixel:nth-child(1239){background:#ffff00;}
.pixel:nth-child(1240){background:#ffff00;}
.pixel:nth-child(1241){background:#ffff00;}
.pixel:nth-child(1242){background:#ffff00;}
.pixel:nth-child(1243){background:#ffff00;}
.pixel:nth-child(1244){background:#ffff00;}
.pixel:nth-child(1245){background:#ffff00;}
.pixel:nth-child(1246){background:#ffff00;}
.pixel:nth-child(1247){background:#ffff00;}
.pixel:nth-child(1248){background:#ffff00;}
.pixel:nth-child(1249){background:#ffff00;}
.pixel:nth-child(1250){background:#ffff00;}
.pixel:nth-child(1251){background:#ffff00;}
.pixel:nth-child(1264){background:#ffff00;}
.pixel:nth-child(1265){background:#ffff00;}
.pixel:nth-child(1266){background:#ffff00;}
.pixel:nth-child(1267){background:#ffff00;}
.pixel:nth-child(1268){background:#ffff00;}
.pixel:nth-child(1269){background:#ffff00;}
.pixel:nth-child(1270){background:#ffff00;}
.pixel:nth-child(1271){background:#ffff00;}
.pixel:nth-child(1272){background:#ffff00;}
.pixel:nth-child(1273){background:#ffff00;}
.pixel:nth-child(1274){background:#ffff00;}
.pixel:nth-child(1275){background:#ffff00;}
.pixel:nth-child(1276){background:#ffff00;}
.pixel:nth-child(1277){background:#ffff00;}
.pixel:nth-child(1278){background:#ffff00;}
.pixel:nth-child(1279){background:#ffff00;}
.pixel:nth-child(1280){background:#ffff00;}
.pixel:nth-child(1281){background:#ffff00;}
.pixel:nth-child(1282){background:#ffff00;}
.pixel:nth-child(1283){background:#ffff00;}
.pixel:nth-child(1284){background:#ffff00;}
.pixel:nth-child(1285){background:#ffff00;}
.pixel:nth-child(1286){background:#ffff00;}
.pixel:nth-child(1301){background:#ffff00;}
.pixel:nth-child(1302){background:#ffff00;}
.pixel:nth-child(1303){background:#ffff00;}
.pixel:nth-child(1304){background:#ffff00;}
.pixel:nth-child(1305){background:#ffff00;}
.pixel:nth-child(1306){background:#ffff00;}
.pixel:nth-child(1307){background:#ffff00;}
.pixel:nth-child(1308){background:#ffff00;}
.pixel:nth-child(1309){background:#ffff00;}
.pixel:nth-child(1310){background:#ffff00;}
.pixel:nth-child(1311){background:#ffff00;}
.pixel:nth-child(1312){background:#ffff00;}
.pixel:nth-child(1313){background:#ffff00;}
.pixel:nth-child(1314){background:#ffff00;}
.pixel:nth-child(1315){background:#ffff00;}
.pixel:nth-child(1316){background:#ffff00;}
.pixel:nth-child(1317){background:#ffff00;}
.pixel:nth-child(1318){background:#ffff00;}
.pixel:nth-child(1319){background:#ffff00;}
.pixel:nth-child(1320){background:#ffff00;}
.pixel:nth-child(1321){background:#ffff00;}
.pixel:nth-child(1339){background:#ffff00;}
.pixel:nth-child(1340){background:#ffff00;}
.pixel:nth-child(1341){background:#ffff00;}
.pixel:nth-child(1342){background:#ffff00;}
.pixel:nth-child(1343){background:#ffff00;}
.pixel:nth-child(1344){background:#ffff00;}
.pixel:nth-child(1345){background:#ffff00;}
.pixel:nth-child(1346){background:#ffff00;}
.pixel:nth-child(1347){background:#ffff00;}
.pixel:nth-child(1348){background:#ffff00;}
.pixel:nth-child(1349){background:#ffff00;}
.pixel:nth-child(1350){background:#ffff00;}
.pixel:nth-child(1351){background:#ffff00;}
.pixel:nth-child(1352){background:#ffff00;}
.pixel:nth-child(1353){background:#ffff00;}
.pixel:nth-child(1354){background:#ffff00;}
.pixel:nth-child(1355){background:#ffff00;}
.pixel:nth-child(1356){background:#ffff00;}
.pixel:nth-child(1357){background:#ffff00;}
.pixel:nth-child(1377){background:#ffff00;}
.pixel:nth-child(1378){background:#ffff00;}
.pixel:nth-child(1379){background:#ffff00;}
.pixel:nth-child(1380){background:#ffff00;}
.pixel:nth-child(1381){background:#ffff00;}
.pixel:nth-child(1382){background:#ffff00;}
.pixel:nth-child(1383){background:#ffff00;}
.pixel:nth-child(1384){background:#ffff00;}
.pixel:nth-child(1385){background:#ffff00;}
.pixel:nth-child(1386){background:#ffff00;}
.pixel:nth-child(1387){background:#ffff00;}
.pixel:nth-child(1388){background:#ffff00;}
.pixel:nth-child(1389){background:#ffff00;}
.pixel:nth-child(1390){background:#ffff00;}
.pixel:nth-child(1391){background:#ffff00;}
.pixel:nth-child(1392){background:#ffff00;}
.pixel:nth-child(1393){background:#ffff00;}
.pixel:nth-child(1413){background:#ffff00;}
.pixel:nth-child(1414){background:#ffff00;}
.pixel:nth-child(1415){background:#ffff00;}
.pixel:nth-child(1416){background:#ffff00;}
.pixel:nth-child(1417){background:#ffff00;}
.pixel:nth-child(1418){background:#ffff00;}
.pixel:nth-child(1425){background:#ffff00;}
.pixel:nth-child(1426){background:#ffff00;}
.pixel:nth-child(1427){background:#ffff00;}
.pixel:nth-child(1428){background:#ffff00;}
.pixel:nth-child(1429){background:#ffff00;}
.pixel:nth-child(1430){background:#ffff00;}
.pixel:nth-child(1431){background:#ffff00;}
.pixel:nth-child(1450){background:#ffff00;}
.pixel:nth-child(1451){background:#ffff00;}
.pixel:nth-child(1452){background:#ffff00;}
.pixel:nth-child(1453){background:#ffff00;}
.pixel:nth-child(1454){background:#ffff00;}
.pixel:nth-child(1464){background:#ffff00;}
.pixel:nth-child(1465){background:#ffff00;}
.pixel:nth-child(1466){background:#ffff00;}
.pixel:nth-child(1467){background:#ffff00;}
.pixel:nth-child(1468){background:#ffff00;}

.pixel:nth-child(1){background:#000000;}
.pixel:nth-child(2){background:#000000;}
.pixel:nth-child(38){background:#000000;}
.pixel:nth-child(39){background:#000000;}
.pixel:nth-child(40){background:#000000;}
.pixel:nth-child(41){background:#000000;}
.pixel:nth-child(75){background:#000000;}
.pixel:nth-child(76){background:#000000;}
.pixel:nth-child(77){background:#000000;}
.pixel:nth-child(78){background:#000000;}
.pixel:nth-child(79){background:#000000;}
.pixel:nth-child(80){background:#000000;}
.pixel:nth-child(112){background:#000000;}
.pixel:nth-child(113){background:#000000;}
.pixel:nth-child(114){background:#000000;}
.pixel:nth-child(118){background:#000000;}
.pixel:nth-child(150){background:#000000;}
.pixel:nth-child(151){background:#000000;}
.pixel:nth-child(156){background:#000000;}
.pixel:nth-child(177){background:#000000;}
.pixel:nth-child(178){background:#000000;}
.pixel:nth-child(179){background:#000000;}
.pixel:nth-child(180){background:#000000;}
.pixel:nth-child(181){background:#000000;}
.pixel:nth-child(182){background:#000000;}
.pixel:nth-child(187){background:#000000;}
.pixel:nth-child(188){background:#000000;}
.pixel:nth-child(194){background:#000000;}
.pixel:nth-child(210){background:#000000;}
.pixel:nth-child(211){background:#000000;}
.pixel:nth-child(212){background:#000000;}
.pixel:nth-child(213){background:#000000;}
.pixel:nth-child(217){background:#000000;}
.pixel:nth-child(218){background:#000000;}
.pixel:nth-child(219){background:#000000;}
.pixel:nth-child(225){background:#000000;}
.pixel:nth-child(232){background:#000000;}
.pixel:nth-child(233){background:#000000;}
.pixel:nth-child(235){background:#000000;}
.pixel:nth-child(236){background:#000000;}
.pixel:nth-child(237){background:#000000;}
.pixel:nth-child(238){background:#000000;}
.pixel:nth-child(239){background:#000000;}
.pixel:nth-child(240){background:#000000;}
.pixel:nth-child(241){background:#000000;}
.pixel:nth-child(243){background:#000000;}
.pixel:nth-child(244){background:#000000;}
.pixel:nth-child(245){background:#000000;}
.pixel:nth-child(246){background:#000000;}
.pixel:nth-child(253){background:#000000;}
.pixel:nth-child(254){background:#000000;}
.pixel:nth-child(263){background:#000000;}
.pixel:nth-child(271){background:#000000;}
.pixel:nth-child(279){background:#000000;}
.pixel:nth-child(289){background:#000000;}
.pixel:nth-child(290){background:#000000;}
.pixel:nth-child(301){background:#000000;}
.pixel:nth-child(325){background:#000000;}
.pixel:nth-child(326){background:#000000;}
.pixel:nth-child(339){background:#000000;}
.pixel:nth-child(341){background:#000000;}
.pixel:nth-child(361){background:#000000;}
.pixel:nth-child(362){background:#000000;}
.pixel:nth-child(377){background:#000000;}
.pixel:nth-child(394){background:#000000;}
.pixel:nth-child(396){background:#000000;}
.pixel:nth-child(397){background:#000000;}
.pixel:nth-child(414){background:#000000;}
.pixel:nth-child(432){background:#000000;}
.pixel:nth-child(444){background:#000000;}
.pixel:nth-child(451){background:#000000;}
.pixel:nth-child(469){background:#000000;}
.pixel:nth-child(480){background:#000000;}
.pixel:nth-child(481){background:#000000;}
.pixel:nth-child(487){background:#000000;}
.pixel:nth-child(507){background:#000000;}
.pixel:nth-child(516){background:#000000;}
.pixel:nth-child(518){background:#000000;}
.pixel:nth-child(524){background:#000000;}
.pixel:nth-child(544){background:#000000;}
.pixel:nth-child(552){background:#000000;}
.pixel:nth-child(555){background:#000000;}
.pixel:nth-child(561){background:#000000;}
.pixel:nth-child(581){background:#000000;}
.pixel:nth-child(588){background:#000000;}
.pixel:nth-child(592){background:#000000;}
.pixel:nth-child(597){background:#000000;}
.pixel:nth-child(619){background:#000000;}
.pixel:nth-child(624){background:#000000;}
.pixel:nth-child(629){background:#000000;}
.pixel:nth-child(634){background:#000000;}
.pixel:nth-child(656){background:#000000;}
.pixel:nth-child(660){background:#000000;}
.pixel:nth-child(666){background:#000000;}
.pixel:nth-child(671){background:#000000;}
.pixel:nth-child(693){background:#000000;}
.pixel:nth-child(696){background:#000000;}
.pixel:nth-child(703){background:#000000;}
.pixel:nth-child(708){background:#000000;}
.pixel:nth-child(730){background:#000000;}
.pixel:nth-child(732){background:#000000;}
.pixel:nth-child(740){background:#000000;}
.pixel:nth-child(746){background:#000000;}
.pixel:nth-child(766){background:#000000;}
.pixel:nth-child(767){background:#000000;}
.pixel:nth-child(768){background:#000000;}
.pixel:nth-child(777){background:#000000;}
.pixel:nth-child(783){background:#000000;}
.pixel:nth-child(803){background:#000000;}
.pixel:nth-child(804){background:#000000;}
.pixel:nth-child(814){background:#000000;}
.pixel:nth-child(821){background:#000000;}
.pixel:nth-child(839){background:#000000;}
.pixel:nth-child(841){background:#000000;}
.pixel:nth-child(850){background:#000000;}
.pixel:nth-child(857){background:#000000;}
.pixel:nth-child(877){background:#000000;}
.pixel:nth-child(879){background:#000000;}
.pixel:nth-child(886){background:#000000;}
.pixel:nth-child(894){background:#000000;}
.pixel:nth-child(913){background:#000000;}
.pixel:nth-child(914){background:#000000;}
.pixel:nth-child(917){background:#000000;}
.pixel:nth-child(922){background:#000000;}
.pixel:nth-child(931){background:#000000;}
.pixel:nth-child(951){background:#000000;}
.pixel:nth-child(955){background:#000000;}
.pixel:nth-child(960){background:#000000;}
.pixel:nth-child(968){background:#000000;}
.pixel:nth-child(989){background:#000000;}
.pixel:nth-child(991){background:#000000;}
.pixel:nth-child(997){background:#000000;}
.pixel:nth-child(1004){background:#000000;}
.pixel:nth-child(1026){background:#000000;}
.pixel:nth-child(1027){background:#000000;}
.pixel:nth-child(1033){background:#000000;}
.pixel:nth-child(1041){background:#000000;}
.pixel:nth-child(1063){background:#000000;}
.pixel:nth-child(1069){background:#000000;}
.pixel:nth-child(1078){background:#000000;}
.pixel:nth-child(1100){background:#000000;}
.pixel:nth-child(1101){background:#000000;}
.pixel:nth-child(1105){background:#000000;}
.pixel:nth-child(1115){background:#000000;}
.pixel:nth-child(1137){background:#000000;}
.pixel:nth-child(1141){background:#000000;}
.pixel:nth-child(1152){background:#000000;}
.pixel:nth-child(1174){background:#000000;}
.pixel:nth-child(1179){background:#000000;}
.pixel:nth-child(1189){background:#000000;}
.pixel:nth-child(1211){background:#000000;}
.pixel:nth-child(1215){background:#000000;}
.pixel:nth-child(1226){background:#000000;}
.pixel:nth-child(1248){background:#000000;}
.pixel:nth-child(1250){background:#000000;}
.pixel:nth-child(1251){background:#000000;}
.pixel:nth-child(1264){background:#000000;}
.pixel:nth-child(1284){background:#000000;}
.pixel:nth-child(1285){background:#000000;}
.pixel:nth-child(1286){background:#000000;}
.pixel:nth-child(1301){background:#000000;}
.pixel:nth-child(1321){background:#000000;}
.pixel:nth-child(1339){background:#000000;}
.pixel:nth-child(1357){background:#000000;}
.pixel:nth-child(1377){background:#000000;}
.pixel:nth-child(1382){background:#000000;}
.pixel:nth-child(1383){background:#000000;}
.pixel:nth-child(1384){background:#000000;}
.pixel:nth-child(1385){background:#000000;}
.pixel:nth-child(1386){background:#000000;}
.pixel:nth-child(1387){background:#000000;}
.pixel:nth-child(1388){background:#000000;}
.pixel:nth-child(1393){background:#000000;}
.pixel:nth-child(1413){background:#000000;}
.pixel:nth-child(1417){background:#000000;}
.pixel:nth-child(1418){background:#000000;}
.pixel:nth-child(1425){background:#000000;}
.pixel:nth-child(1426){background:#000000;}
.pixel:nth-child(1427){background:#000000;}
.pixel:nth-child(1431){background:#000000;}
.pixel:nth-child(1450){background:#000000;}
.pixel:nth-child(1451){background:#000000;}
.pixel:nth-child(1452){background:#000000;}
.pixel:nth-child(1453){background:#000000;}
.pixel:nth-child(1454){background:#000000;}
.pixel:nth-child(1464){background:#000000;}
.pixel:nth-child(1465){background:#000000;}
.pixel:nth-child(1466){background:#000000;}
.pixel:nth-child(1467){background:#000000;}
.pixel:nth-child(1468){background:#000000;}

.pixel:nth-child(189){background:#ff9900;}
.pixel:nth-child(214){background:#ff9900;}
.pixel:nth-child(215){background:#ff9900;}
.pixel:nth-child(216){background:#ff9900;}
.pixel:nth-child(226){background:#ff9900;}
.pixel:nth-child(227){background:#ff9900;}
.pixel:nth-child(247){background:#ff9900;}
.pixel:nth-child(252){background:#cc6600;}
.pixel:nth-child(264){background:#ff9900;}
.pixel:nth-child(265){background:#ff9900;}
.pixel:nth-child(270){background:#ff9900;}
.pixel:nth-child(280){background:#ff9900;}
.pixel:nth-child(287){background:#ff9900;}
.pixel:nth-child(288){background:#cc6600;}
.pixel:nth-child(302){background:#ff9900;}
.pixel:nth-child(303){background:#ff9900;}
.pixel:nth-child(304){background:#ff9900;}
.pixel:nth-child(322){background:#ff9900;}
.pixel:nth-child(323){background:#ff9900;}
.pixel:nth-child(324){background:#ff9900;}
.pixel:nth-child(340){background:#ff9900;}
.pixel:nth-child(342){background:#ff9900;}
.pixel:nth-child(356){background:#ff9900;}
.pixel:nth-child(357){background:#ff9900;}
.pixel:nth-child(358){background:#ff9900;}
.pixel:nth-child(359){background:#ff9900;}
.pixel:nth-child(360){background:#ff9900;}
.pixel:nth-child(378){background:#ff9900;}
.pixel:nth-child(395){background:#ff9900;}
.pixel:nth-child(488){background:#ff9900;}
.pixel:nth-child(506){background:#ff9900;}
.pixel:nth-child(517){background:#ff9900;}
.pixel:nth-child(553){background:#ff9900;}
.pixel:nth-child(589){background:#ff9900;}
.pixel:nth-child(625){background:#ff9900;}
.pixel:nth-child(661){background:#ff9900;}
.pixel:nth-child(697){background:#ff9900;}
.pixel:nth-child(733){background:#ff9900;}
.pixel:nth-child(769){background:#ff9900;}
.pixel:nth-child(784){background:#ff9900;}
.pixel:nth-child(802){background:#ff9900;}
.pixel:nth-child(805){background:#ff9900;}
.pixel:nth-child(858){background:#ff9900;}
.pixel:nth-child(865){background:#ff9900;}
.pixel:nth-child(866){background:#ff9900;}
.pixel:nth-child(867){background:#ff9900;}
.pixel:nth-child(868){background:#ff9900;}
.pixel:nth-child(876){background:#ff9900;}
.pixel:nth-child(903){background:#ff9900;}
.pixel:nth-child(904){background:#ff9900;}
.pixel:nth-child(1044){background:#ff9900;}
.pixel:nth-child(1059){background:#ff9900;}
.pixel:nth-child(1064){background:#cc6600;}
.pixel:nth-child(1065){background:#ff9900;}
.pixel:nth-child(1066){background:#ff9900;}
.pixel:nth-child(1081){background:#ff9900;}
.pixel:nth-child(1096){background:#ff9900;}
.pixel:nth-child(1102){background:#ff9900;}
.pixel:nth-child(1103){background:#ff9900;}
.pixel:nth-child(1104){background:#ff9900;}
.pixel:nth-child(1119){background:#ff9900;}
.pixel:nth-child(1132){background:#ff9900;}
.pixel:nth-child(1138){background:#cc6600;}
.pixel:nth-child(1139){background:#cc6600;}
.pixel:nth-child(1140){background:#ff9900;}
.pixel:nth-child(1157){background:#ff9900;}
.pixel:nth-child(1168){background:#ff9900;}
.pixel:nth-child(1175){background:#cc6600;}
.pixel:nth-child(1176){background:#cc6600;}
.pixel:nth-child(1177){background:#cc6600;}
.pixel:nth-child(1178){background:#cc6600;}
.pixel:nth-child(1212){background:#cc6600;}
.pixel:nth-child(1213){background:#cc6600;}
.pixel:nth-child(1214){background:#cc6600;}
.pixel:nth-child(1247){background:#ff9900;}
.pixel:nth-child(1249){background:#cc6600;}
.pixel:nth-child(1320){background:#ff9900;}
.pixel:nth-child(1346){background:#ff9900;}
.pixel:nth-child(1347){background:#ff9900;}
.pixel:nth-child(1348){background:#ff9900;}
.pixel:nth-child(1349){background:#ff9900;}
.pixel:nth-child(1350){background:#ff9900;}
.pixel:nth-child(1378){background:#ff9900;}
.pixel:nth-child(1380){background:#ff9900;}
.pixel:nth-child(1381){background:#ff9900;}
.pixel:nth-child(1389){background:#ff9900;}
.pixel:nth-child(1390){background:#ff9900;}
.pixel:nth-child(1392){background:#ff9900;}

.pixel:nth-child(454){background:#000000;}
.pixel:nth-child(455){background:#000000;}
.pixel:nth-child(464){background:#000000;}
.pixel:nth-child(465){background:#000000;}
.pixel:nth-child(490){background:#000000;}
.pixel:nth-child(491){background:#ffffff;}
.pixel:nth-child(492){background:#000000;}
.pixel:nth-child(493){background:#000000;}
.pixel:nth-child(500){background:#000000;}
.pixel:nth-child(501){background:#ffffff;}
.pixel:nth-child(502){background:#000000;}
.pixel:nth-child(503){background:#000000;}
.pixel:nth-child(527){background:#000000;}
.pixel:nth-child(528){background:#000000;}
.pixel:nth-child(529){background:#000000;}
.pixel:nth-child(530){background:#000000;}
.pixel:nth-child(537){background:#000000;}
.pixel:nth-child(538){background:#000000;}
.pixel:nth-child(539){background:#000000;}
.pixel:nth-child(540){background:#000000;}
.pixel:nth-child(565){background:#000000;}
.pixel:nth-child(566){background:#000000;}
.pixel:nth-child(575){background:#000000;}
.pixel:nth-child(576){background:#000000;}
.pixel:nth-child(607){background:#000000;}
.pixel:nth-child(608){background:#000000;}
.pixel:nth-child(678){background:#000000;}
.pixel:nth-child(681){background:#000000;}
.pixel:nth-child(682){background:#000000;}
.pixel:nth-child(685){background:#000000;}
.pixel:nth-child(716){background:#000000;}
.pixel:nth-child(717){background:#000000;}
.pixel:nth-child(720){background:#000000;}
.pixel:nth-child(721){background:#000000;}
.pixel:nth-child(937){background:#000000;}
.pixel:nth-child(944){background:#000000;}
.pixel:nth-child(970){background:#000000;}
.pixel:nth-child(974){background:#000000;}
.pixel:nth-child(981){background:#000000;}
.pixel:nth-child(985){background:#000000;}
.pixel:nth-child(1007){background:#000000;}
.pixel:nth-child(1012){background:#000000;}
.pixel:nth-child(1017){background:#000000;}
.pixel:nth-child(1022){background:#000000;}
.pixel:nth-child(1045){background:#000000;}
.pixel:nth-child(1049){background:#000000;}
.pixel:nth-child(1054){background:#000000;}
.pixel:nth-child(1058){background:#000000;}
.pixel:nth-child(1082){background:#000000;}
.pixel:nth-child(1086){background:#000000;}
.pixel:nth-child(1091){background:#000000;}
.pixel:nth-child(1095){background:#000000;}
.pixel:nth-child(1120){background:#000000;}
.pixel:nth-child(1123){background:#000000;}
.pixel:nth-child(1128){background:#000000;}
.pixel:nth-child(1131){background:#000000;}
.pixel:nth-child(1158){background:#000000;}
.pixel:nth-child(1159){background:#000000;}
.pixel:nth-child(1166){background:#000000;}
.pixel:nth-child(1167){background:#000000;}

.pixel:nth-child(599){background:#ff0000;}
.pixel:nth-child(600){background:#ff0000;}
.pixel:nth-child(615){background:#ff0000;}
.pixel:nth-child(616){background:#ff0000;}
.pixel:nth-child(635){background:#ff0000;}
.pixel:nth-child(636){background:#ff0000;}
.pixel:nth-child(637){background:#ff0000;}
.pixel:nth-child(638){background:#ff0000;}
.pixel:nth-child(651){background:#ff0000;}
.pixel:nth-child(652){background:#ff0000;}
.pixel:nth-child(653){background:#ff0000;}
.pixel:nth-child(654){background:#ff0000;}
.pixel:nth-child(672){background:#ff0000;}
.pixel:nth-child(673){background:#ff0000;}
.pixel:nth-child(674){background:#ff0000;}
.pixel:nth-child(675){background:#ff0000;}
.pixel:nth-child(688){background:#ff0000;}
.pixel:nth-child(689){background:#ff0000;}
.pixel:nth-child(690){background:#ff0000;}
.pixel:nth-child(691){background:#ff0000;}
.pixel:nth-child(710){background:#ff0000;}
.pixel:nth-child(711){background:#ff0000;}
.pixel:nth-child(726){background:#ff0000;}
.pixel:nth-child(727){background:#ff0000;}

