body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}
.canvas {
width: 370px;
height: 400px;

}
.pixel {
width: 10px;height: 10px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(1){background-color: rgb(0,0,0);}
.pixel:nth-child(14){background:#ffff00;}
.pixel:nth-child(15){background:#ffff00;}
.pixel:nth-child(16){background:#ffff00;}
.pixel:nth-child(17){background:#ffff00;}
.pixel:nth-child(27){background:#ffff00;}
.pixel:nth-child(28){background:#ffff00;}
.pixel:nth-child(29){background:#ffff00;}
.pixel:nth-child(30){background:#ffff00;}
.pixel:nth-child(31){background:#ffff00;}
.pixel:nth-child(50){background:#ffff00;}
.pixel:nth-child(51){background:#ffff00;}
.pixel:nth-child(52){background:#ffff00;}
.pixel:nth-child(53){background:#ffff00;}
.pixel:nth-child(54){background:#ffff00;}
.pixel:nth-child(55){background:#ffff00;}
.pixel:nth-child(56){background:#ffff00;}
.pixel:nth-child(63){background:#ffff00;}
.pixel:nth-child(64){background:#ffff00;}
.pixel:nth-child(65){background:#ffff00;}
.pixel:nth-child(66){background:#ffff00;}
.pixel:nth-child(67){background:#ffff00;}
.pixel:nth-child(68){background:#ffff00;}
.pixel:nth-child(88){background:#ffff00;}
.pixel:nth-child(89){background:#ffff00;}
.pixel:nth-child(90){background:#ffff00;}
.pixel:nth-child(91){background:#ffff00;}
.pixel:nth-child(92){background:#ffff00;}
.pixel:nth-child(93){background:#ffff00;}
.pixel:nth-child(94){background:#ffff00;}
.pixel:nth-child(95){background:#ffff00;}
.pixel:nth-child(96){background:#ffff00;}
.pixel:nth-child(97){background:#ffff00;}
.pixel:nth-child(98){background:#ffff00;}
.pixel:nth-child(99){background:#ffff00;}
.pixel:nth-child(100){background:#ffff00;}
.pixel:nth-child(101){background:#ffff00;}
.pixel:nth-child(102){background:#ffff00;}
.pixel:nth-child(103){background:#ffff00;}
.pixel:nth-child(104){background:#ffff00;}
.pixel:nth-child(124){background:#ffff00;}
.pixel:nth-child(125){background:#ffff00;}
.pixel:nth-child(126){background:#ffff00;}
.pixel:nth-child(127){background:#ffff00;}
.pixel:nth-child(128){background:#ffff00;}
.pixel:nth-child(129){background:#ffff00;}
.pixel:nth-child(130){background:#ffff00;}
.pixel:nth-child(131){background:#ffff00;}
.pixel:nth-child(132){background:#ffff00;}
.pixel:nth-child(133){background:#ffff00;}
.pixel:nth-child(134){background:#ffff00;}
.pixel:nth-child(135){background:#ffff00;}
.pixel:nth-child(136){background:#ffff00;}
.pixel:nth-child(137){background:#ffff00;}
.pixel:nth-child(138){background:#ffff00;}
.pixel:nth-child(139){background:#ffff00;}
.pixel:nth-child(140){background:#ffff00;}
.pixel:nth-child(141){background:#ffff00;}
.pixel:nth-child(142){background:#ffff00;}
.pixel:nth-child(160){background:#ffff00;}
.pixel:nth-child(161){background:#ffff00;}
.pixel:nth-child(162){background:#ffff00;}
.pixel:nth-child(163){background:#ffff00;}
.pixel:nth-child(164){background:#ffff00;}
.pixel:nth-child(165){background:#ffff00;}
.pixel:nth-child(166){background:#ffff00;}
.pixel:nth-child(167){background:#ffff00;}
.pixel:nth-child(168){background:#ffff00;}
.pixel:nth-child(169){background:#ffff00;}
.pixel:nth-child(170){background:#ffff00;}
.pixel:nth-child(171){background:#ffff00;}
.pixel:nth-child(172){background:#ffff00;}
.pixel:nth-child(173){background:#ffff00;}
.pixel:nth-child(174){background:#ffff00;}
.pixel:nth-child(175){background:#ffff00;}
.pixel:nth-child(176){background:#ffff00;}
.pixel:nth-child(177){background:#ffff00;}
.pixel:nth-child(178){background:#ffff00;}
.pixel:nth-child(179){background:#ffff00;}
.pixel:nth-child(180){background:#ffff00;}
.pixel:nth-child(195){background:#ffff00;}
.pixel:nth-child(196){background:#ffff00;}
.pixel:nth-child(197){background:#ffff00;}
.pixel:nth-child(198){background:#ffff00;}
.pixel:nth-child(199){background:#ffff00;}
.pixel:nth-child(200){background:#ffff00;}
.pixel:nth-child(201){background:#ffff00;}
.pixel:nth-child(202){background:#ffff00;}
.pixel:nth-child(203){background:#ffff00;}
.pixel:nth-child(204){background:#ffff00;}
.pixel:nth-child(205){background:#ffff00;}
.pixel:nth-child(206){background:#ffff00;}
.pixel:nth-child(207){background:#ffff00;}
.pixel:nth-child(208){background:#ffff00;}
.pixel:nth-child(209){background:#ffff00;}
.pixel:nth-child(210){background:#ffff00;}
.pixel:nth-child(211){background:#ffff00;}
.pixel:nth-child(212){background:#ffff00;}
.pixel:nth-child(213){background:#ffff00;}
.pixel:nth-child(214){background:#ffff00;}
.pixel:nth-child(215){background:#ffff00;}
.pixel:nth-child(216){background:#ffff00;}
.pixel:nth-child(217){background:#ffff00;}
.pixel:nth-child(230){background:#ffff00;}
.pixel:nth-child(231){background:#ffff00;}
.pixel:nth-child(232){background:#ffff00;}
.pixel:nth-child(233){background:#ffff00;}
.pixel:nth-child(234){background:#ffff00;}
.pixel:nth-child(235){background:#ffff00;}
.pixel:nth-child(236){background:#ffff00;}
.pixel:nth-child(237){background:#ffff00;}
.pixel:nth-child(238){background:#ffff00;}
.pixel:nth-child(239){background:#ffff00;}
.pixel:nth-child(240){background:#ffff00;}
.pixel:nth-child(241){background:#ffff00;}
.pixel:nth-child(242){background:#ffff00;}
.pixel:nth-child(243){background:#ffff00;}
.pixel:nth-child(244){background:#ffff00;}
.pixel:nth-child(245){background:#ffff00;}
.pixel:nth-child(246){background:#ffff00;}
.pixel:nth-child(247){background:#ffff00;}
.pixel:nth-child(248){background:#ffff00;}
.pixel:nth-child(249){background:#ffff00;}
.pixel:nth-child(250){background:#ffff00;}
.pixel:nth-child(251){background:#ffff00;}
.pixel:nth-child(252){background:#ffff00;}
.pixel:nth-child(253){background:#ffff00;}
.pixel:nth-child(254){background:#ffff00;}
.pixel:nth-child(255){background:#ffff00;}
.pixel:nth-child(266){background:#ffff00;}
.pixel:nth-child(267){background:#ffff00;}
.pixel:nth-child(268){background:#ffff00;}
.pixel:nth-child(269){background:#ffff00;}
.pixel:nth-child(270){background:#ffff00;}
.pixel:nth-child(271){background:#ffff00;}
.pixel:nth-child(272){background:#ffff00;}
.pixel:nth-child(273){background:#ffff00;}
.pixel:nth-child(274){background:#ffff00;}
.pixel:nth-child(275){background:#ffff00;}
.pixel:nth-child(276){background:#ffff00;}
.pixel:nth-child(277){background:#ffff00;}
.pixel:nth-child(278){background:#ffff00;}
.pixel:nth-child(279){background:#ffff00;}
.pixel:nth-child(280){background:#ffff00;}
.pixel:nth-child(281){background:#ffff00;}
.pixel:nth-child(282){background:#ffff00;}
.pixel:nth-child(283){background:#ffff00;}
.pixel:nth-child(284){background:#ffff00;}
.pixel:nth-child(285){background:#ffff00;}
.pixel:nth-child(286){background:#ffff00;}
.pixel:nth-child(287){background:#ffff00;}
.pixel:nth-child(288){background:#ffff00;}
.pixel:nth-child(289){background:#ffff00;}
.pixel:nth-child(290){background:#ffff00;}
.pixel:nth-child(291){background:#ffff00;}
.pixel:nth-child(292){background:#ffff00;}
.pixel:nth-child(302){background:#ffff00;}
.pixel:nth-child(303){background:#ffff00;}
.pixel:nth-child(304){background:#ffff00;}
.pixel:nth-child(305){background:#ffff00;}
.pixel:nth-child(306){background:#ffff00;}
.pixel:nth-child(307){background:#ffff00;}
.pixel:nth-child(308){background:#ffff00;}
.pixel:nth-child(309){background:#ffff00;}
.pixel:nth-child(310){background:#ffff00;}
.pixel:nth-child(311){background:#ffff00;}
.pixel:nth-child(312){background:#ffff00;}
.pixel:nth-child(313){background:#ffff00;}
.pixel:nth-child(314){background:#ffff00;}
.pixel:nth-child(315){background:#ffff00;}
.pixel:nth-child(316){background:#ffff00;}
.pixel:nth-child(317){background:#ffff00;}
.pixel:nth-child(318){background:#ffff00;}
.pixel:nth-child(319){background:#ffff00;}
.pixel:nth-child(320){background:#ffff00;}
.pixel:nth-child(321){background:#ffff00;}
.pixel:nth-child(322){background:#ffff00;}
.pixel:nth-child(323){background:#ffff00;}
.pixel:nth-child(324){background:#ffff00;}
.pixel:nth-child(325){background:#ffff00;}
.pixel:nth-child(326){background:#ffff00;}
.pixel:nth-child(327){background:#ffff00;}
.pixel:nth-child(328){background:#ffff00;}
.pixel:nth-child(329){background:#ffff00;}
.pixel:nth-child(340){background:#ffff00;}
.pixel:nth-child(341){background:#ffff00;}
.pixel:nth-child(342){background:#ffff00;}
.pixel:nth-child(343){background:#ffff00;}
.pixel:nth-child(344){background:#ffff00;}
.pixel:nth-child(345){background:#ffff00;}
.pixel:nth-child(346){background:#ffff00;}
.pixel:nth-child(347){background:#ffff00;}
.pixel:nth-child(348){background:#ffff00;}
.pixel:nth-child(349){background:#ffff00;}
.pixel:nth-child(350){background:#ffff00;}
.pixel:nth-child(351){background:#ffff00;}
.pixel:nth-child(352){background:#ffff00;}
.pixel:nth-child(353){background:#ffff00;}
.pixel:nth-child(354){background:#ffff00;}
.pixel:nth-child(355){background:#ffff00;}
.pixel:nth-child(356){background:#ffff00;}
.pixel:nth-child(357){background:#ffff00;}
.pixel:nth-child(358){background:#ffff00;}
.pixel:nth-child(359){background:#ffff00;}
.pixel:nth-child(360){background:#ffff00;}
.pixel:nth-child(361){background:#ffff00;}
.pixel:nth-child(362){background:#ffff00;}
.pixel:nth-child(363){background:#ffff00;}
.pixel:nth-child(364){background:#ffff00;}
.pixel:nth-child(365){background:#ffff00;}
.pixel:nth-child(366){background:#ffff00;}
.pixel:nth-child(376){background:#ffff00;}
.pixel:nth-child(377){background:#ffff00;}
.pixel:nth-child(378){background:#ffff00;}
.pixel:nth-child(379){background:#ffff00;}
.pixel:nth-child(380){background:#ffff00;}
.pixel:nth-child(381){background:#ffff00;}
.pixel:nth-child(382){background:#ffff00;}
.pixel:nth-child(383){background:#ffff00;}
.pixel:nth-child(384){background:#ffff00;}
.pixel:nth-child(385){background:#ffff00;}
.pixel:nth-child(386){background:#ffff00;}
.pixel:nth-child(387){background:#ffff00;}
.pixel:nth-child(388){background:#ffff00;}
.pixel:nth-child(389){background:#ffff00;}
.pixel:nth-child(390){background:#ffff00;}
.pixel:nth-child(391){background:#ffff00;}
.pixel:nth-child(392){background:#ffff00;}
.pixel:nth-child(393){background:#ffff00;}
.pixel:nth-child(394){background:#ffff00;}
.pixel:nth-child(395){background:#ffff00;}
.pixel:nth-child(396){background:#ffff00;}
.pixel:nth-child(397){background:#ffff00;}
.pixel:nth-child(398){background:#ffff00;}
.pixel:nth-child(399){background:#ffff00;}
.pixel:nth-child(400){background:#ffff00;}
.pixel:nth-child(401){background:#ffff00;}
.pixel:nth-child(402){background:#ffff00;}
.pixel:nth-child(403){background:#ffff00;}
.pixel:nth-child(412){background:#ffff00;}
.pixel:nth-child(413){background:#ffff00;}
.pixel:nth-child(414){background:#ffff00;}
.pixel:nth-child(415){background:#ffff00;}
.pixel:nth-child(416){background:#ffff00;}
.pixel:nth-child(417){background:#ffff00;}
.pixel:nth-child(418){background:#ffff00;}
.pixel:nth-child(419){background:#ffff00;}
.pixel:nth-child(420){background:#ffff00;}
.pixel:nth-child(421){background:#ffff00;}
.pixel:nth-child(422){background:#ffff00;}
.pixel:nth-child(423){background:#ffff00;}
.pixel:nth-child(424){background:#ffff00;}
.pixel:nth-child(425){background:#ffff00;}
.pixel:nth-child(426){background:#ffff00;}
.pixel:nth-child(427){background:#ffff00;}
.pixel:nth-child(428){background:#ffff00;}
.pixel:nth-child(429){background:#ffff00;}
.pixel:nth-child(430){background:#ffff00;}
.pixel:nth-child(431){background:#ffff00;}
.pixel:nth-child(432){background:#ffff00;}
.pixel:nth-child(433){background:#ffff00;}
.pixel:nth-child(434){background:#ffff00;}
.pixel:nth-child(435){background:#ffff00;}
.pixel:nth-child(436){background:#ffff00;}
.pixel:nth-child(437){background:#ffff00;}
.pixel:nth-child(438){background:#ffff00;}
.pixel:nth-child(439){background:#ffff00;}
.pixel:nth-child(440){background:#ffff00;}
.pixel:nth-child(448){background:#ffff00;}
.pixel:nth-child(449){background:#ffff00;}
.pixel:nth-child(450){background:#ffff00;}
.pixel:nth-child(451){background:#ffff00;}
.pixel:nth-child(452){background:#ffff00;}
.pixel:nth-child(453){background:#ffff00;}
.pixel:nth-child(454){background:#ffff00;}
.pixel:nth-child(455){background:#ffff00;}
.pixel:nth-child(456){background:#ffff00;}
.pixel:nth-child(457){background:#ffff00;}
.pixel:nth-child(458){background:#ffff00;}
.pixel:nth-child(459){background:#ffff00;}
.pixel:nth-child(460){background:#ffff00;}
.pixel:nth-child(461){background:#ffff00;}
.pixel:nth-child(462){background:#ffff00;}
.pixel:nth-child(463){background:#ffff00;}
.pixel:nth-child(464){background:#ffff00;}
.pixel:nth-child(465){background:#ffff00;}
.pixel:nth-child(466){background:#ffff00;}
.pixel:nth-child(467){background:#ffff00;}
.pixel:nth-child(468){background:#ffff00;}
.pixel:nth-child(469){background:#ffff00;}
.pixel:nth-child(470){background:#ffff00;}
.pixel:nth-child(471){background:#ffff00;}
.pixel:nth-child(472){background:#ffff00;}
.pixel:nth-child(473){background:#ffff00;}
.pixel:nth-child(474){background:#ffff00;}
.pixel:nth-child(475){background:#ffff00;}
.pixel:nth-child(476){background:#ffff00;}
.pixel:nth-child(477){background:#ffff00;}
.pixel:nth-child(484){background:#ffff00;}
.pixel:nth-child(485){background:#ffff00;}
.pixel:nth-child(486){background:#ffff00;}
.pixel:nth-child(487){background:#ffff00;}
.pixel:nth-child(488){background:#ffff00;}
.pixel:nth-child(489){background:#ffff00;}
.pixel:nth-child(490){background:#ffff00;}
.pixel:nth-child(492){background:#ffff00;}
.pixel:nth-child(493){background:#ffff00;}
.pixel:nth-child(494){background:#ffff00;}
.pixel:nth-child(495){background:#ffff00;}
.pixel:nth-child(496){background:#ffff00;}
.pixel:nth-child(497){background:#ffff00;}
.pixel:nth-child(498){background:#ffff00;}
.pixel:nth-child(499){background:#ffff00;}
.pixel:nth-child(500){background:#ffff00;}
.pixel:nth-child(501){background:#ffff00;}
.pixel:nth-child(502){background:#ffff00;}
.pixel:nth-child(503){background:#ffff00;}
.pixel:nth-child(504){background:#ffff00;}
.pixel:nth-child(505){background:#ffff00;}
.pixel:nth-child(506){background:#ffff00;}
.pixel:nth-child(507){background:#ffff00;}
.pixel:nth-child(508){background:#ffff00;}
.pixel:nth-child(509){background:#ffff00;}
.pixel:nth-child(510){background:#ffff00;}
.pixel:nth-child(511){background:#ffff00;}
.pixel:nth-child(512){background:#ffff00;}
.pixel:nth-child(513){background:#ffff00;}
.pixel:nth-child(521){background:#ffff00;}
.pixel:nth-child(522){background:#ffff00;}
.pixel:nth-child(523){background:#ffff00;}
.pixel:nth-child(524){background:#ffff00;}
.pixel:nth-child(525){background:#ffff00;}
.pixel:nth-child(526){background:#ffff00;}
.pixel:nth-child(530){background:#ffff00;}
.pixel:nth-child(531){background:#ffff00;}
.pixel:nth-child(532){background:#ffff00;}
.pixel:nth-child(533){background:#ffff00;}
.pixel:nth-child(534){background:#ffff00;}
.pixel:nth-child(535){background:#ffff00;}
.pixel:nth-child(536){background:#ffff00;}
.pixel:nth-child(537){background:#ffff00;}
.pixel:nth-child(538){background:#ffff00;}
.pixel:nth-child(539){background:#ffff00;}
.pixel:nth-child(540){background:#ffff00;}
.pixel:nth-child(541){background:#ffff00;}
.pixel:nth-child(542){background:#ffff00;}
.pixel:nth-child(543){background:#ffff00;}
.pixel:nth-child(544){background:#ffff00;}
.pixel:nth-child(545){background:#ffff00;}
.pixel:nth-child(546){background:#ffff00;}
.pixel:nth-child(547){background:#ffff00;}
.pixel:nth-child(548){background:#ffff00;}
.pixel:nth-child(549){background:#ffff00;}
.pixel:nth-child(550){background:#ffff00;}
.pixel:nth-child(559){background:#ffff00;}
.pixel:nth-child(560){background:#ffff00;}
.pixel:nth-child(561){background:#ffff00;}
.pixel:nth-child(562){background:#ffff00;}
.pixel:nth-child(563){background:#ffff00;}
.pixel:nth-child(564){background:#ffff00;}
.pixel:nth-child(567){background:#ffff00;}
.pixel:nth-child(568){background:#ffff00;}
.pixel:nth-child(569){background:#ffff00;}
.pixel:nth-child(570){background:#ffff00;}
.pixel:nth-child(571){background:#ffff00;}
.pixel:nth-child(572){background:#ffff00;}
.pixel:nth-child(573){background:#ffff00;}
.pixel:nth-child(574){background:#ffff00;}
.pixel:nth-child(575){background:#ffff00;}
.pixel:nth-child(576){background:#ffff00;}
.pixel:nth-child(577){background:#ffff00;}
.pixel:nth-child(578){background:#ffff00;}
.pixel:nth-child(579){background:#ffff00;}
.pixel:nth-child(580){background:#ffff00;}
.pixel:nth-child(581){background:#ffff00;}
.pixel:nth-child(582){background:#ffff00;}
.pixel:nth-child(583){background:#ffff00;}
.pixel:nth-child(584){background:#ffff00;}
.pixel:nth-child(585){background:#ffff00;}
.pixel:nth-child(586){background:#ffff00;}
.pixel:nth-child(587){background:#ffff00;}
.pixel:nth-child(595){background:#ffff00;}
.pixel:nth-child(596){background:#ffff00;}
.pixel:nth-child(597){background:#ffff00;}
.pixel:nth-child(598){background:#ffff00;}
.pixel:nth-child(599){background:#ffff00;}
.pixel:nth-child(600){background:#ffff00;}
.pixel:nth-child(601){background:#ffff00;}
.pixel:nth-child(602){background:#ffff00;}
.pixel:nth-child(604){background:#ffff00;}
.pixel:nth-child(605){background:#ffff00;}
.pixel:nth-child(606){background:#ffff00;}
.pixel:nth-child(607){background:#ffff00;}
.pixel:nth-child(608){background:#ffff00;}
.pixel:nth-child(609){background:#ffff00;}
.pixel:nth-child(610){background:#ffff00;}
.pixel:nth-child(611){background:#ffff00;}
.pixel:nth-child(612){background:#ffff00;}
.pixel:nth-child(613){background:#ffff00;}
.pixel:nth-child(614){background:#ffff00;}
.pixel:nth-child(615){background:#ffff00;}
.pixel:nth-child(616){background:#ffff00;}
.pixel:nth-child(617){background:#ffff00;}
.pixel:nth-child(618){background:#ffff00;}
.pixel:nth-child(619){background:#ffff00;}
.pixel:nth-child(620){background:#ffff00;}
.pixel:nth-child(621){background:#ffff00;}
.pixel:nth-child(622){background:#ffff00;}
.pixel:nth-child(623){background:#ffff00;}
.pixel:nth-child(624){background:#ffff00;}
.pixel:nth-child(631){background:#ffff00;}
.pixel:nth-child(632){background:#ffff00;}
.pixel:nth-child(633){background:#ffff00;}
.pixel:nth-child(634){background:#ffff00;}
.pixel:nth-child(635){background:#ffff00;}
.pixel:nth-child(636){background:#ffff00;}
.pixel:nth-child(637){background:#ffff00;}
.pixel:nth-child(638){background:#ffff00;}
.pixel:nth-child(639){background:#ffff00;}
.pixel:nth-child(640){background:#ffff00;}
.pixel:nth-child(642){background:#ffff00;}
.pixel:nth-child(643){background:#ffff00;}
.pixel:nth-child(644){background:#ffff00;}
.pixel:nth-child(645){background:#ffff00;}
.pixel:nth-child(646){background:#ffff00;}
.pixel:nth-child(647){background:#ffff00;}
.pixel:nth-child(648){background:#ffff00;}
.pixel:nth-child(649){background:#ffff00;}
.pixel:nth-child(650){background:#ffff00;}
.pixel:nth-child(651){background:#ffff00;}
.pixel:nth-child(652){background:#ffff00;}
.pixel:nth-child(653){background:#ffff00;}
.pixel:nth-child(654){background:#ffff00;}
.pixel:nth-child(655){background:#ffff00;}
.pixel:nth-child(656){background:#ffff00;}
.pixel:nth-child(657){background:#ffff00;}
.pixel:nth-child(658){background:#ffff00;}
.pixel:nth-child(659){background:#ffff00;}
.pixel:nth-child(660){background:#ffff00;}
.pixel:nth-child(667){background:#ffff00;}
.pixel:nth-child(668){background:#ffff00;}
.pixel:nth-child(669){background:#ffff00;}
.pixel:nth-child(670){background:#ffff00;}
.pixel:nth-child(671){background:#ffff00;}
.pixel:nth-child(672){background:#ffff00;}
.pixel:nth-child(673){background:#ffff00;}
.pixel:nth-child(674){background:#ffff00;}
.pixel:nth-child(675){background:#ffff00;}
.pixel:nth-child(676){background:#ffff00;}
.pixel:nth-child(677){background:#ffff00;}
.pixel:nth-child(678){background:#ffff00;}
.pixel:nth-child(679){background:#ffff00;}
.pixel:nth-child(680){background:#ffff00;}
.pixel:nth-child(681){background:#ffff00;}
.pixel:nth-child(682){background:#ffff00;}
.pixel:nth-child(683){background:#ffff00;}
.pixel:nth-child(684){background:#ffff00;}
.pixel:nth-child(685){background:#ffff00;}
.pixel:nth-child(686){background:#ffff00;}
.pixel:nth-child(687){background:#ffff00;}
.pixel:nth-child(688){background:#ffff00;}
.pixel:nth-child(689){background:#ffff00;}
.pixel:nth-child(690){background:#ffff00;}
.pixel:nth-child(691){background:#ffff00;}
.pixel:nth-child(692){background:#ffff00;}
.pixel:nth-child(693){background:#ffff00;}
.pixel:nth-child(694){background:#ffff00;}
.pixel:nth-child(695){background:#ffff00;}
.pixel:nth-child(696){background:#ffff00;}
.pixel:nth-child(697){background:#ffff00;}
.pixel:nth-child(698){background:#ffff00;}
.pixel:nth-child(704){background:#ffff00;}
.pixel:nth-child(705){background:#ffff00;}
.pixel:nth-child(706){background:#ffff00;}
.pixel:nth-child(707){background:#ffff00;}
.pixel:nth-child(708){background:#ffff00;}
.pixel:nth-child(709){background:#ffff00;}
.pixel:nth-child(710){background:#ffff00;}
.pixel:nth-child(711){background:#ffff00;}
.pixel:nth-child(712){background:#ffff00;}
.pixel:nth-child(713){background:#ffff00;}
.pixel:nth-child(714){background:#ffff00;}
.pixel:nth-child(715){background:#ffff00;}
.pixel:nth-child(716){background:#ffff00;}
.pixel:nth-child(717){background:#ffff00;}
.pixel:nth-child(718){background:#ffff00;}
.pixel:nth-child(719){background:#ffff00;}
.pixel:nth-child(720){background:#ffff00;}
.pixel:nth-child(721){background:#ffff00;}
.pixel:nth-child(722){background:#ffff00;}
.pixel:nth-child(723){background:#ffff00;}
.pixel:nth-child(724){background:#ffff00;}
.pixel:nth-child(725){background:#ffff00;}
.pixel:nth-child(726){background:#ffff00;}
.pixel:nth-child(727){background:#ffff00;}
.pixel:nth-child(728){background:#ffff00;}
.pixel:nth-child(729){background:#ffff00;}
.pixel:nth-child(730){background:#ffff00;}
.pixel:nth-child(731){background:#ffff00;}
.pixel:nth-child(732){background:#ffff00;}
.pixel:nth-child(733){background:#ffff00;}
.pixel:nth-child(734){background:#ffff00;}
.pixel:nth-child(735){background:#ffff00;}
.pixel:nth-child(741){background:#ffff00;}
.pixel:nth-child(742){background:#ffff00;}
.pixel:nth-child(743){background:#ffff00;}
.pixel:nth-child(744){background:#ffff00;}
.pixel:nth-child(745){background:#ffff00;}
.pixel:nth-child(746){background:#ffff00;}
.pixel:nth-child(747){background:#ffff00;}
.pixel:nth-child(748){background:#ffff00;}
.pixel:nth-child(749){background:#ffff00;}
.pixel:nth-child(751){background:#ffff00;}
.pixel:nth-child(752){background:#ffff00;}
.pixel:nth-child(753){background:#ffff00;}
.pixel:nth-child(754){background:#ffff00;}
.pixel:nth-child(755){background:#ffff00;}
.pixel:nth-child(756){background:#ffff00;}
.pixel:nth-child(757){background:#ffff00;}
.pixel:nth-child(758){background:#ffff00;}
.pixel:nth-child(759){background:#ffff00;}
.pixel:nth-child(760){background:#ffff00;}
.pixel:nth-child(761){background:#ffff00;}
.pixel:nth-child(762){background:#ffff00;}
.pixel:nth-child(763){background:#ffff00;}
.pixel:nth-child(764){background:#ffff00;}
.pixel:nth-child(765){background:#ffff00;}
.pixel:nth-child(766){background:#ffff00;}
.pixel:nth-child(767){background:#ffff00;}
.pixel:nth-child(768){background:#ffff00;}
.pixel:nth-child(769){background:#ffff00;}
.pixel:nth-child(770){background:#ffff00;}
.pixel:nth-child(771){background:#ffff00;}
.pixel:nth-child(772){background:#ffff00;}
.pixel:nth-child(773){background:#ffff00;}
.pixel:nth-child(778){background:#ffff00;}
.pixel:nth-child(779){background:#ffff00;}
.pixel:nth-child(780){background:#ffff00;}
.pixel:nth-child(781){background:#ffff00;}
.pixel:nth-child(782){background:#ffff00;}
.pixel:nth-child(783){background:#ffff00;}
.pixel:nth-child(784){background:#ffff00;}
.pixel:nth-child(785){background:#ffff00;}
.pixel:nth-child(788){background:#ffff00;}
.pixel:nth-child(789){background:#ffff00;}
.pixel:nth-child(790){background:#ffff00;}
.pixel:nth-child(791){background:#ffff00;}
.pixel:nth-child(792){background:#ffff00;}
.pixel:nth-child(793){background:#ffff00;}
.pixel:nth-child(794){background:#ffff00;}
.pixel:nth-child(795){background:#ffff00;}
.pixel:nth-child(796){background:#ffff00;}
.pixel:nth-child(797){background:#ffff00;}
.pixel:nth-child(798){background:#ffff00;}
.pixel:nth-child(799){background:#ffff00;}
.pixel:nth-child(800){background:#ffff00;}
.pixel:nth-child(801){background:#ffff00;}
.pixel:nth-child(802){background:#ffff00;}
.pixel:nth-child(803){background:#ffff00;}
.pixel:nth-child(804){background:#ffff00;}
.pixel:nth-child(805){background:#ffff00;}
.pixel:nth-child(806){background:#ffff00;}
.pixel:nth-child(807){background:#ffff00;}
.pixel:nth-child(808){background:#ffff00;}
.pixel:nth-child(809){background:#ffff00;}
.pixel:nth-child(810){background:#ffff00;}
.pixel:nth-child(815){background:#ffff00;}
.pixel:nth-child(816){background:#ffff00;}
.pixel:nth-child(817){background:#ffff00;}
.pixel:nth-child(818){background:#ffff00;}
.pixel:nth-child(819){background:#ffff00;}
.pixel:nth-child(820){background:#ffff00;}
.pixel:nth-child(821){background:#ffff00;}
.pixel:nth-child(825){background:#ffff00;}
.pixel:nth-child(826){background:#ffff00;}
.pixel:nth-child(827){background:#ffff00;}
.pixel:nth-child(828){background:#ffff00;}
.pixel:nth-child(829){background:#ffff00;}
.pixel:nth-child(830){background:#ffff00;}
.pixel:nth-child(831){background:#ffff00;}
.pixel:nth-child(832){background:#ffff00;}
.pixel:nth-child(833){background:#ffff00;}
.pixel:nth-child(834){background:#ffff00;}
.pixel:nth-child(835){background:#ffff00;}
.pixel:nth-child(836){background:#ffff00;}
.pixel:nth-child(837){background:#ffff00;}
.pixel:nth-child(838){background:#ffff00;}
.pixel:nth-child(839){background:#ffff00;}
.pixel:nth-child(840){background:#ffff00;}
.pixel:nth-child(841){background:#ffff00;}
.pixel:nth-child(842){background:#ffff00;}
.pixel:nth-child(843){background:#ffff00;}
.pixel:nth-child(844){background:#ffff00;}
.pixel:nth-child(845){background:#ffff00;}
.pixel:nth-child(846){background:#ffff00;}
.pixel:nth-child(847){background:#ffff00;}
.pixel:nth-child(852){background:#ffff00;}
.pixel:nth-child(853){background:#ffff00;}
.pixel:nth-child(854){background:#ffff00;}
.pixel:nth-child(855){background:#ffff00;}
.pixel:nth-child(856){background:#ffff00;}
.pixel:nth-child(857){background:#ffff00;}
.pixel:nth-child(862){background:#ffff00;}
.pixel:nth-child(863){background:#ffff00;}
.pixel:nth-child(864){background:#ffff00;}
.pixel:nth-child(865){background:#ffff00;}
.pixel:nth-child(866){background:#ffff00;}
.pixel:nth-child(867){background:#ffff00;}
.pixel:nth-child(868){background:#ffff00;}
.pixel:nth-child(869){background:#ffff00;}
.pixel:nth-child(870){background:#ffff00;}
.pixel:nth-child(871){background:#ffff00;}
.pixel:nth-child(872){background:#ffff00;}
.pixel:nth-child(873){background:#ffff00;}
.pixel:nth-child(874){background:#ffff00;}
.pixel:nth-child(875){background:#ffff00;}
.pixel:nth-child(876){background:#ffff00;}
.pixel:nth-child(877){background:#ffff00;}
.pixel:nth-child(878){background:#ffff00;}
.pixel:nth-child(879){background:#ffff00;}
.pixel:nth-child(880){background:#ffff00;}
.pixel:nth-child(881){background:#ffff00;}
.pixel:nth-child(882){background:#ffff00;}
.pixel:nth-child(883){background:#ffff00;}
.pixel:nth-child(884){background:#ffff00;}
.pixel:nth-child(889){background:#ffff00;}
.pixel:nth-child(890){background:#ffff00;}
.pixel:nth-child(891){background:#ffff00;}
.pixel:nth-child(892){background:#ffff00;}
.pixel:nth-child(893){background:#ffff00;}
.pixel:nth-child(900){background:#ffff00;}
.pixel:nth-child(901){background:#ffff00;}
.pixel:nth-child(902){background:#ffff00;}
.pixel:nth-child(903){background:#ffff00;}
.pixel:nth-child(904){background:#ffff00;}
.pixel:nth-child(905){background:#ffff00;}
.pixel:nth-child(906){background:#ffff00;}
.pixel:nth-child(907){background:#ffff00;}
.pixel:nth-child(908){background:#ffff00;}
.pixel:nth-child(909){background:#ffff00;}
.pixel:nth-child(910){background:#ffff00;}
.pixel:nth-child(911){background:#ffff00;}
.pixel:nth-child(912){background:#ffff00;}
.pixel:nth-child(913){background:#ffff00;}
.pixel:nth-child(914){background:#ffff00;}
.pixel:nth-child(915){background:#ffff00;}
.pixel:nth-child(916){background:#ffff00;}
.pixel:nth-child(917){background:#ffff00;}
.pixel:nth-child(918){background:#ffff00;}
.pixel:nth-child(919){background:#ffff00;}
.pixel:nth-child(920){background:#ffff00;}
.pixel:nth-child(926){background:#ffff00;}
.pixel:nth-child(927){background:#ffff00;}
.pixel:nth-child(928){background:#ffff00;}
.pixel:nth-child(929){background:#ffff00;}
.pixel:nth-child(937){background:#ffff00;}
.pixel:nth-child(938){background:#ffff00;}
.pixel:nth-child(939){background:#ffff00;}
.pixel:nth-child(940){background:#ffff00;}
.pixel:nth-child(941){background:#ffff00;}
.pixel:nth-child(942){background:#ffff00;}
.pixel:nth-child(943){background:#ffff00;}
.pixel:nth-child(944){background:#ffff00;}
.pixel:nth-child(945){background:#ffff00;}
.pixel:nth-child(946){background:#ffff00;}
.pixel:nth-child(947){background:#ffff00;}
.pixel:nth-child(948){background:#ffff00;}
.pixel:nth-child(949){background:#ffff00;}
.pixel:nth-child(950){background:#ffff00;}
.pixel:nth-child(951){background:#ffff00;}
.pixel:nth-child(952){background:#ffff00;}
.pixel:nth-child(953){background:#ffff00;}
.pixel:nth-child(954){background:#ffff00;}
.pixel:nth-child(955){background:#ffff00;}
.pixel:nth-child(956){background:#ffff00;}
.pixel:nth-child(957){background:#ffff00;}
.pixel:nth-child(963){background:#ffff00;}
.pixel:nth-child(964){background:#ffff00;}
.pixel:nth-child(965){background:#ffff00;}
.pixel:nth-child(974){background:#ffff00;}
.pixel:nth-child(975){background:#ffff00;}
.pixel:nth-child(976){background:#ffff00;}
.pixel:nth-child(977){background:#ffff00;}
.pixel:nth-child(978){background:#ffff00;}
.pixel:nth-child(979){background:#ffff00;}
.pixel:nth-child(980){background:#ffff00;}
.pixel:nth-child(981){background:#ffff00;}
.pixel:nth-child(982){background:#ffff00;}
.pixel:nth-child(983){background:#ffff00;}
.pixel:nth-child(984){background:#ffff00;}
.pixel:nth-child(985){background:#ffff00;}
.pixel:nth-child(986){background:#ffff00;}
.pixel:nth-child(987){background:#ffff00;}
.pixel:nth-child(988){background:#ffff00;}
.pixel:nth-child(989){background:#ffff00;}
.pixel:nth-child(990){background:#ffff00;}
.pixel:nth-child(991){background:#ffff00;}
.pixel:nth-child(992){background:#ffff00;}
.pixel:nth-child(993){background:#ffff00;}
.pixel:nth-child(994){background:#ffff00;}
.pixel:nth-child(1000){background:#ffff00;}
.pixel:nth-child(1001){background:#ffff00;}
.pixel:nth-child(1012){background:#ffff00;}
.pixel:nth-child(1013){background:#ffff00;}
.pixel:nth-child(1014){background:#ffff00;}
.pixel:nth-child(1015){background:#ffff00;}
.pixel:nth-child(1016){background:#ffff00;}
.pixel:nth-child(1017){background:#ffff00;}
.pixel:nth-child(1018){background:#ffff00;}
.pixel:nth-child(1019){background:#ffff00;}
.pixel:nth-child(1020){background:#ffff00;}
.pixel:nth-child(1021){background:#ffff00;}
.pixel:nth-child(1022){background:#ffff00;}
.pixel:nth-child(1023){background:#ffff00;}
.pixel:nth-child(1024){background:#ffff00;}
.pixel:nth-child(1025){background:#ffff00;}
.pixel:nth-child(1026){background:#ffff00;}
.pixel:nth-child(1027){background:#ffff00;}
.pixel:nth-child(1028){background:#ffff00;}
.pixel:nth-child(1029){background:#ffff00;}
.pixel:nth-child(1030){background:#ffff00;}
.pixel:nth-child(1037){background:#ffff00;}
.pixel:nth-child(1049){background:#ffff00;}
.pixel:nth-child(1050){background:#ffff00;}
.pixel:nth-child(1051){background:#ffff00;}
.pixel:nth-child(1052){background:#ffff00;}
.pixel:nth-child(1053){background:#ffff00;}
.pixel:nth-child(1054){background:#ffff00;}
.pixel:nth-child(1055){background:#ffff00;}
.pixel:nth-child(1056){background:#ffff00;}
.pixel:nth-child(1057){background:#ffff00;}
.pixel:nth-child(1058){background:#ffff00;}
.pixel:nth-child(1059){background:#ffff00;}
.pixel:nth-child(1060){background:#ffff00;}
.pixel:nth-child(1061){background:#ffff00;}
.pixel:nth-child(1062){background:#ffff00;}
.pixel:nth-child(1063){background:#ffff00;}
.pixel:nth-child(1064){background:#ffff00;}
.pixel:nth-child(1065){background:#ffff00;}
.pixel:nth-child(1066){background:#ffff00;}
.pixel:nth-child(1067){background:#ffff00;}
.pixel:nth-child(1084){background:#ffff00;}
.pixel:nth-child(1085){background:#ffff00;}
.pixel:nth-child(1086){background:#ffff00;}
.pixel:nth-child(1087){background:#ffff00;}
.pixel:nth-child(1088){background:#ffff00;}
.pixel:nth-child(1089){background:#ffff00;}
.pixel:nth-child(1090){background:#ffff00;}
.pixel:nth-child(1091){background:#ffff00;}
.pixel:nth-child(1092){background:#ffff00;}
.pixel:nth-child(1093){background:#ffff00;}
.pixel:nth-child(1094){background:#ffff00;}
.pixel:nth-child(1095){background:#ffff00;}
.pixel:nth-child(1096){background:#ffff00;}
.pixel:nth-child(1097){background:#ffff00;}
.pixel:nth-child(1098){background:#ffff00;}
.pixel:nth-child(1099){background:#ffff00;}
.pixel:nth-child(1100){background:#ffff00;}
.pixel:nth-child(1101){background:#ffff00;}
.pixel:nth-child(1102){background:#ffff00;}
.pixel:nth-child(1103){background:#ffff00;}
.pixel:nth-child(1104){background:#ffff00;}
.pixel:nth-child(1119){background:#ffff00;}
.pixel:nth-child(1120){background:#ffff00;}
.pixel:nth-child(1121){background:#ffff00;}
.pixel:nth-child(1122){background:#ffff00;}
.pixel:nth-child(1123){background:#ffff00;}
.pixel:nth-child(1124){background:#ffff00;}
.pixel:nth-child(1125){background:#ffff00;}
.pixel:nth-child(1126){background:#ffff00;}
.pixel:nth-child(1127){background:#ffff00;}
.pixel:nth-child(1128){background:#ffff00;}
.pixel:nth-child(1129){background:#ffff00;}
.pixel:nth-child(1130){background:#ffff00;}
.pixel:nth-child(1131){background:#ffff00;}
.pixel:nth-child(1132){background:#ffff00;}
.pixel:nth-child(1133){background:#ffff00;}
.pixel:nth-child(1134){background:#ffff00;}
.pixel:nth-child(1135){background:#ffff00;}
.pixel:nth-child(1136){background:#ffff00;}
.pixel:nth-child(1137){background:#ffff00;}
.pixel:nth-child(1138){background:#ffff00;}
.pixel:nth-child(1139){background:#ffff00;}
.pixel:nth-child(1140){background:#ffff00;}
.pixel:nth-child(1141){background:#ffff00;}
.pixel:nth-child(1142){background:#ffff00;}
.pixel:nth-child(1155){background:#ffff00;}
.pixel:nth-child(1156){background:#ffff00;}
.pixel:nth-child(1157){background:#ffff00;}
.pixel:nth-child(1158){background:#ffff00;}
.pixel:nth-child(1159){background:#ffff00;}
.pixel:nth-child(1160){background:#ffff00;}
.pixel:nth-child(1161){background:#ffff00;}
.pixel:nth-child(1162){background:#ffff00;}
.pixel:nth-child(1163){background:#ffff00;}
.pixel:nth-child(1164){background:#ffff00;}
.pixel:nth-child(1165){background:#ffff00;}
.pixel:nth-child(1166){background:#ffff00;}
.pixel:nth-child(1167){background:#ffff00;}
.pixel:nth-child(1168){background:#ffff00;}
.pixel:nth-child(1169){background:#ffff00;}
.pixel:nth-child(1170){background:#ffff00;}
.pixel:nth-child(1171){background:#ffff00;}
.pixel:nth-child(1172){background:#ffff00;}
.pixel:nth-child(1173){background:#ffff00;}
.pixel:nth-child(1174){background:#ffff00;}
.pixel:nth-child(1175){background:#ffff00;}
.pixel:nth-child(1176){background:#ffff00;}
.pixel:nth-child(1177){background:#ffff00;}
.pixel:nth-child(1178){background:#ffff00;}
.pixel:nth-child(1179){background:#ffff00;}
.pixel:nth-child(1180){background:#ffff00;}
.pixel:nth-child(1191){background:#ffff00;}
.pixel:nth-child(1192){background:#ffff00;}
.pixel:nth-child(1193){background:#ffff00;}
.pixel:nth-child(1194){background:#ffff00;}
.pixel:nth-child(1195){background:#ffff00;}
.pixel:nth-child(1196){background:#ffff00;}
.pixel:nth-child(1197){background:#ffff00;}
.pixel:nth-child(1198){background:#ffff00;}
.pixel:nth-child(1199){background:#ffff00;}
.pixel:nth-child(1200){background:#ffff00;}
.pixel:nth-child(1201){background:#ffff00;}
.pixel:nth-child(1202){background:#ffff00;}
.pixel:nth-child(1203){background:#ffff00;}
.pixel:nth-child(1204){background:#ffff00;}
.pixel:nth-child(1205){background:#ffff00;}
.pixel:nth-child(1206){background:#ffff00;}
.pixel:nth-child(1207){background:#ffff00;}
.pixel:nth-child(1208){background:#ffff00;}
.pixel:nth-child(1209){background:#ffff00;}
.pixel:nth-child(1210){background:#ffff00;}
.pixel:nth-child(1211){background:#ffff00;}
.pixel:nth-child(1212){background:#ffff00;}
.pixel:nth-child(1213){background:#ffff00;}
.pixel:nth-child(1214){background:#ffff00;}
.pixel:nth-child(1215){background:#ffff00;}
.pixel:nth-child(1216){background:#ffff00;}
.pixel:nth-child(1217){background:#ffff00;}
.pixel:nth-child(1218){background:#ffff00;}
.pixel:nth-child(1227){background:#ffff00;}
.pixel:nth-child(1228){background:#ffff00;}
.pixel:nth-child(1229){background:#ffff00;}
.pixel:nth-child(1230){background:#ffff00;}
.pixel:nth-child(1231){background:#ffff00;}
.pixel:nth-child(1232){background:#ffff00;}
.pixel:nth-child(1233){background:#ffff00;}
.pixel:nth-child(1234){background:#ffff00;}
.pixel:nth-child(1235){background:#ffff00;}
.pixel:nth-child(1236){background:#ffff00;}
.pixel:nth-child(1237){background:#ffff00;}
.pixel:nth-child(1238){background:#ffff00;}
.pixel:nth-child(1240){background:#ffff00;}
.pixel:nth-child(1241){background:#ffff00;}
.pixel:nth-child(1242){background:#ffff00;}
.pixel:nth-child(1243){background:#ffff00;}
.pixel:nth-child(1244){background:#ffff00;}
.pixel:nth-child(1245){background:#ffff00;}
.pixel:nth-child(1246){background:#ffff00;}
.pixel:nth-child(1248){background:#ffff00;}
.pixel:nth-child(1249){background:#ffff00;}
.pixel:nth-child(1250){background:#ffff00;}
.pixel:nth-child(1251){background:#ffff00;}
.pixel:nth-child(1252){background:#ffff00;}
.pixel:nth-child(1253){background:#ffff00;}
.pixel:nth-child(1254){background:#ffff00;}
.pixel:nth-child(1255){background:#ffff00;}
.pixel:nth-child(1256){background:#ffff00;}
.pixel:nth-child(1262){background:#ffff00;}
.pixel:nth-child(1263){background:#ffff00;}
.pixel:nth-child(1264){background:#ffff00;}
.pixel:nth-child(1265){background:#ffff00;}
.pixel:nth-child(1266){background:#ffff00;}
.pixel:nth-child(1267){background:#ffff00;}
.pixel:nth-child(1268){background:#ffff00;}
.pixel:nth-child(1269){background:#ffff00;}
.pixel:nth-child(1270){background:#ffff00;}
.pixel:nth-child(1271){background:#ffff00;}
.pixel:nth-child(1287){background:#ffff00;}
.pixel:nth-child(1288){background:#ffff00;}
.pixel:nth-child(1289){background:#ffff00;}
.pixel:nth-child(1290){background:#ffff00;}
.pixel:nth-child(1291){background:#ffff00;}
.pixel:nth-child(1292){background:#ffff00;}
.pixel:nth-child(1293){background:#ffff00;}
.pixel:nth-child(1294){background:#ffff00;}
.pixel:nth-child(1299){background:#ffff00;}
.pixel:nth-child(1300){background:#ffff00;}
.pixel:nth-child(1301){background:#ffff00;}
.pixel:nth-child(1302){background:#ffff00;}
.pixel:nth-child(1303){background:#ffff00;}
.pixel:nth-child(1304){background:#ffff00;}
.pixel:nth-child(1325){background:#ffff00;}
.pixel:nth-child(1326){background:#ffff00;}
.pixel:nth-child(1327){background:#ffff00;}
.pixel:nth-child(1328){background:#ffff00;}
.pixel:nth-child(1329){background:#ffff00;}
.pixel:nth-child(1330){background:#ffff00;}
.pixel:nth-child(1331){background:#ffff00;}
.pixel:nth-child(1363){background:#ffff00;}
.pixel:nth-child(1364){background:#ffff00;}
.pixel:nth-child(1365){background:#ffff00;}
.pixel:nth-child(1366){background:#ffff00;}
.pixel:nth-child(1367){background:#ffff00;}
.pixel:nth-child(1368){background:#ffff00;}
.pixel:nth-child(1369){background:#ffff00;}
.pixel:nth-child(1401){background:#ffff00;}
.pixel:nth-child(1402){background:#ffff00;}
.pixel:nth-child(1403){background:#ffff00;}
.pixel:nth-child(1404){background:#ffff00;}
.pixel:nth-child(1405){background:#ffff00;}
.pixel:nth-child(1406){background:#ffff00;}
.pixel:nth-child(1440){background:#ffff00;}
.pixel:nth-child(1441){background:#ffff00;}
.pixel:nth-child(1442){background:#ffff00;}
.pixel:nth-child(1443){background:#ffff00;}
.pixel:nth-child(1479){background:#ffff00;}
.pixel:nth-child(1480){background:#ffff00;}

.pixel:nth-child(13){background:#000000;}
.pixel:nth-child(14){background:#000000;}
.pixel:nth-child(15){background:#000000;}
.pixel:nth-child(16){background:#000000;}
.pixel:nth-child(17){background:#000000;}
.pixel:nth-child(27){background:#000000;}
.pixel:nth-child(28){background:#000000;}
.pixel:nth-child(29){background:#000000;}
.pixel:nth-child(30){background:#000000;}
.pixel:nth-child(31){background:#000000;}
.pixel:nth-child(50){background:#000000;}
.pixel:nth-child(54){background:#000000;}
.pixel:nth-child(55){background:#000000;}
.pixel:nth-child(56){background:#000000;}
.pixel:nth-child(63){background:#000000;}
.pixel:nth-child(64){background:#000000;}
.pixel:nth-child(68){background:#000000;}
.pixel:nth-child(88){background:#000000;}
.pixel:nth-child(93){background:#000000;}
.pixel:nth-child(94){background:#000000;}
.pixel:nth-child(95){background:#000000;}
.pixel:nth-child(96){background:#000000;}
.pixel:nth-child(97){background:#000000;}
.pixel:nth-child(98){background:#000000;}
.pixel:nth-child(99){background:#000000;}
.pixel:nth-child(104){background:#000000;}
.pixel:nth-child(124){background:#000000;}
.pixel:nth-child(142){background:#000000;}
.pixel:nth-child(160){background:#000000;}
.pixel:nth-child(180){background:#000000;}
.pixel:nth-child(195){background:#000000;}
.pixel:nth-child(196){background:#000000;}
.pixel:nth-child(197){background:#000000;}
.pixel:nth-child(217){background:#000000;}
.pixel:nth-child(230){background:#000000;}
.pixel:nth-child(231){background:#000000;}
.pixel:nth-child(233){background:#000000;}
.pixel:nth-child(255){background:#000000;}
.pixel:nth-child(266){background:#000000;}
.pixel:nth-child(270){background:#000000;}
.pixel:nth-child(292){background:#000000;}
.pixel:nth-child(302){background:#000000;}
.pixel:nth-child(307){background:#000000;}
.pixel:nth-child(329){background:#000000;}
.pixel:nth-child(340){background:#000000;}
.pixel:nth-child(344){background:#000000;}
.pixel:nth-child(366){background:#000000;}
.pixel:nth-child(376){background:#000000;}
.pixel:nth-child(380){background:#000000;}
.pixel:nth-child(381){background:#000000;}
.pixel:nth-child(403){background:#000000;}
.pixel:nth-child(412){background:#000000;}
.pixel:nth-child(418){background:#000000;}
.pixel:nth-child(440){background:#000000;}
.pixel:nth-child(448){background:#000000;}
.pixel:nth-child(454){background:#000000;}
.pixel:nth-child(455){background:#000000;}
.pixel:nth-child(477){background:#000000;}
.pixel:nth-child(484){background:#000000;}
.pixel:nth-child(490){background:#000000;}
.pixel:nth-child(492){background:#000000;}
.pixel:nth-child(513){background:#000000;}
.pixel:nth-child(521){background:#000000;}
.pixel:nth-child(526){background:#000000;}
.pixel:nth-child(530){background:#000000;}
.pixel:nth-child(550){background:#000000;}
.pixel:nth-child(559){background:#000000;}
.pixel:nth-child(564){background:#000000;}
.pixel:nth-child(567){background:#000000;}
.pixel:nth-child(568){background:#000000;}
.pixel:nth-child(587){background:#000000;}
.pixel:nth-child(595){background:#000000;}
.pixel:nth-child(602){background:#000000;}
.pixel:nth-child(604){background:#000000;}
.pixel:nth-child(624){background:#000000;}
.pixel:nth-child(631){background:#000000;}
.pixel:nth-child(640){background:#000000;}
.pixel:nth-child(642){background:#000000;}
.pixel:nth-child(660){background:#000000;}
.pixel:nth-child(667){background:#000000;}
.pixel:nth-child(677){background:#000000;}
.pixel:nth-child(678){background:#000000;}
.pixel:nth-child(698){background:#000000;}
.pixel:nth-child(704){background:#000000;}
.pixel:nth-child(713){background:#000000;}
.pixel:nth-child(714){background:#000000;}
.pixel:nth-child(715){background:#000000;}
.pixel:nth-child(735){background:#000000;}
.pixel:nth-child(741){background:#000000;}
.pixel:nth-child(749){background:#000000;}
.pixel:nth-child(751){background:#000000;}
.pixel:nth-child(773){background:#000000;}
.pixel:nth-child(778){background:#000000;}
.pixel:nth-child(785){background:#000000;}
.pixel:nth-child(788){background:#000000;}
.pixel:nth-child(810){background:#000000;}
.pixel:nth-child(815){background:#000000;}
.pixel:nth-child(821){background:#000000;}
.pixel:nth-child(825){background:#000000;}
.pixel:nth-child(847){background:#000000;}
.pixel:nth-child(852){background:#000000;}
.pixel:nth-child(857){background:#000000;}
.pixel:nth-child(862){background:#000000;}
.pixel:nth-child(884){background:#000000;}
.pixel:nth-child(889){background:#000000;}
.pixel:nth-child(893){background:#000000;}
.pixel:nth-child(900){background:#000000;}
.pixel:nth-child(920){background:#000000;}
.pixel:nth-child(926){background:#000000;}
.pixel:nth-child(929){background:#000000;}
.pixel:nth-child(937){background:#000000;}
.pixel:nth-child(957){background:#000000;}
.pixel:nth-child(963){background:#000000;}
.pixel:nth-child(965){background:#000000;}
.pixel:nth-child(974){background:#000000;}
.pixel:nth-child(994){background:#000000;}
.pixel:nth-child(1000){background:#000000;}
.pixel:nth-child(1001){background:#000000;}
.pixel:nth-child(1012){background:#000000;}
.pixel:nth-child(1030){background:#000000;}
.pixel:nth-child(1037){background:#000000;}
.pixel:nth-child(1049){background:#000000;}
.pixel:nth-child(1067){background:#000000;}
.pixel:nth-child(1084){background:#000000;}
.pixel:nth-child(1085){background:#000000;}
.pixel:nth-child(1087){background:#000000;}
.pixel:nth-child(1104){background:#000000;}
.pixel:nth-child(1119){background:#000000;}
.pixel:nth-child(1120){background:#000000;}
.pixel:nth-child(1140){background:#000000;}
.pixel:nth-child(1142){background:#000000;}
.pixel:nth-child(1155){background:#000000;}
.pixel:nth-child(1156){background:#000000;}
.pixel:nth-child(1180){background:#000000;}
.pixel:nth-child(1191){background:#000000;}
.pixel:nth-child(1192){background:#000000;}
.pixel:nth-child(1202){background:#000000;}
.pixel:nth-child(1210){background:#000000;}
.pixel:nth-child(1218){background:#000000;}
.pixel:nth-child(1227){background:#000000;}
.pixel:nth-child(1228){background:#000000;}
.pixel:nth-child(1235){background:#000000;}
.pixel:nth-child(1236){background:#000000;}
.pixel:nth-child(1237){background:#000000;}
.pixel:nth-child(1238){background:#000000;}
.pixel:nth-child(1240){background:#000000;}
.pixel:nth-child(1241){background:#000000;}
.pixel:nth-child(1242){background:#000000;}
.pixel:nth-child(1243){background:#000000;}
.pixel:nth-child(1244){background:#000000;}
.pixel:nth-child(1245){background:#000000;}
.pixel:nth-child(1246){background:#000000;}
.pixel:nth-child(1248){background:#000000;}
.pixel:nth-child(1249){background:#000000;}
.pixel:nth-child(1256){background:#000000;}
.pixel:nth-child(1262){background:#000000;}
.pixel:nth-child(1263){background:#000000;}
.pixel:nth-child(1264){background:#000000;}
.pixel:nth-child(1268){background:#000000;}
.pixel:nth-child(1269){background:#000000;}
.pixel:nth-child(1270){background:#000000;}
.pixel:nth-child(1271){background:#000000;}
.pixel:nth-child(1287){background:#000000;}
.pixel:nth-child(1293){background:#000000;}
.pixel:nth-child(1294){background:#000000;}
.pixel:nth-child(1299){background:#000000;}
.pixel:nth-child(1300){background:#000000;}
.pixel:nth-child(1301){background:#000000;}
.pixel:nth-child(1302){background:#000000;}
.pixel:nth-child(1303){background:#000000;}
.pixel:nth-child(1304){background:#000000;}
.pixel:nth-child(1325){background:#000000;}
.pixel:nth-child(1330){background:#000000;}
.pixel:nth-child(1331){background:#000000;}
.pixel:nth-child(1363){background:#000000;}
.pixel:nth-child(1367){background:#000000;}
.pixel:nth-child(1368){background:#000000;}
.pixel:nth-child(1369){background:#000000;}
.pixel:nth-child(1401){background:#000000;}
.pixel:nth-child(1402){background:#000000;}
.pixel:nth-child(1403){background:#000000;}
.pixel:nth-child(1404){background:#000000;}
.pixel:nth-child(1405){background:#000000;}
.pixel:nth-child(1406){background:#000000;}
.pixel:nth-child(1440){background:#000000;}
.pixel:nth-child(1441){background:#000000;}
.pixel:nth-child(1442){background:#000000;}
.pixel:nth-child(1443){background:#000000;}
.pixel:nth-child(1479){background:#000000;}
.pixel:nth-child(1480){background:#000000;}

.pixel:nth-child(89){background:#ff9900;}
.pixel:nth-child(91){background:#ff9900;}
.pixel:nth-child(92){background:#ff9900;}
.pixel:nth-child(100){background:#ff9900;}
.pixel:nth-child(101){background:#ff9900;}
.pixel:nth-child(103){background:#ff9900;}
.pixel:nth-child(131){background:#ff9900;}
.pixel:nth-child(132){background:#ff9900;}
.pixel:nth-child(133){background:#ff9900;}
.pixel:nth-child(134){background:#ff9900;}
.pixel:nth-child(135){background:#ff9900;}
.pixel:nth-child(161){background:#ff9900;}
.pixel:nth-child(232){background:#cc6600;}
.pixel:nth-child(234){background:#ff9900;}
.pixel:nth-child(267){background:#cc6600;}
.pixel:nth-child(268){background:#cc6600;}
.pixel:nth-child(269){background:#cc6600;}
.pixel:nth-child(303){background:#cc6600;}
.pixel:nth-child(304){background:#cc6600;}
.pixel:nth-child(305){background:#cc6600;}
.pixel:nth-child(306){background:#cc6600;}
.pixel:nth-child(313){background:#ff9900;}
.pixel:nth-child(324){background:#ff9900;}
.pixel:nth-child(341){background:#ff9900;}
.pixel:nth-child(342){background:#cc6600;}
.pixel:nth-child(343){background:#cc6600;}
.pixel:nth-child(349){background:#ff9900;}
.pixel:nth-child(362){background:#ff9900;}
.pixel:nth-child(377){background:#ff9900;}
.pixel:nth-child(378){background:#ff9900;}
.pixel:nth-child(379){background:#ff9900;}
.pixel:nth-child(385){background:#ff9900;}
.pixel:nth-child(400){background:#ff9900;}
.pixel:nth-child(415){background:#ff9900;}
.pixel:nth-child(416){background:#ff9900;}
.pixel:nth-child(417){background:#cc6600;}
.pixel:nth-child(422){background:#ff9900;}
.pixel:nth-child(437){background:#ff9900;}
.pixel:nth-child(577){background:#ff9900;}
.pixel:nth-child(578){background:#ff9900;}
.pixel:nth-child(605){background:#ff9900;}
.pixel:nth-child(613){background:#ff9900;}
.pixel:nth-child(614){background:#ff9900;}
.pixel:nth-child(615){background:#ff9900;}
.pixel:nth-child(616){background:#ff9900;}
.pixel:nth-child(623){background:#ff9900;}
.pixel:nth-child(676){background:#ff9900;}
.pixel:nth-child(679){background:#ff9900;}
.pixel:nth-child(697){background:#ff9900;}
.pixel:nth-child(712){background:#ff9900;}
.pixel:nth-child(748){background:#ff9900;}
.pixel:nth-child(784){background:#ff9900;}
.pixel:nth-child(820){background:#ff9900;}
.pixel:nth-child(856){background:#ff9900;}
.pixel:nth-child(892){background:#ff9900;}
.pixel:nth-child(928){background:#ff9900;}
.pixel:nth-child(964){background:#ff9900;}
.pixel:nth-child(975){background:#ff9900;}
.pixel:nth-child(993){background:#ff9900;}
.pixel:nth-child(1086){background:#ff9900;}
.pixel:nth-child(1103){background:#ff9900;}
.pixel:nth-child(1121){background:#ff9900;}
.pixel:nth-child(1122){background:#ff9900;}
.pixel:nth-child(1123){background:#ff9900;}
.pixel:nth-child(1124){background:#ff9900;}
.pixel:nth-child(1125){background:#ff9900;}
.pixel:nth-child(1139){background:#ff9900;}
.pixel:nth-child(1141){background:#ff9900;}
.pixel:nth-child(1157){background:#ff9900;}
.pixel:nth-child(1158){background:#ff9900;}
.pixel:nth-child(1159){background:#ff9900;}
.pixel:nth-child(1177){background:#ff9900;}
.pixel:nth-child(1178){background:#ff9900;}
.pixel:nth-child(1179){background:#ff9900;}
.pixel:nth-child(1193){background:#cc6600;}
.pixel:nth-child(1194){background:#ff9900;}
.pixel:nth-child(1201){background:#ff9900;}
.pixel:nth-child(1211){background:#ff9900;}
.pixel:nth-child(1216){background:#ff9900;}
.pixel:nth-child(1217){background:#ff9900;}
.pixel:nth-child(1229){background:#cc6600;}
.pixel:nth-child(1234){background:#ff9900;}
.pixel:nth-child(1254){background:#ff9900;}
.pixel:nth-child(1255){background:#ff9900;}
.pixel:nth-child(1265){background:#ff9900;}
.pixel:nth-child(1266){background:#ff9900;}
.pixel:nth-child(1267){background:#ff9900;}
.pixel:nth-child(1292){background:#ff9900;}

.pixel:nth-child(314){background:#000000;}
.pixel:nth-child(315){background:#000000;}
.pixel:nth-child(322){background:#000000;}
.pixel:nth-child(323){background:#000000;}
.pixel:nth-child(350){background:#000000;}
.pixel:nth-child(353){background:#000000;}
.pixel:nth-child(358){background:#000000;}
.pixel:nth-child(361){background:#000000;}
.pixel:nth-child(386){background:#000000;}
.pixel:nth-child(390){background:#000000;}
.pixel:nth-child(395){background:#000000;}
.pixel:nth-child(399){background:#000000;}
.pixel:nth-child(423){background:#000000;}
.pixel:nth-child(427){background:#000000;}
.pixel:nth-child(432){background:#000000;}
.pixel:nth-child(436){background:#000000;}
.pixel:nth-child(459){background:#000000;}
.pixel:nth-child(464){background:#000000;}
.pixel:nth-child(469){background:#000000;}
.pixel:nth-child(474){background:#000000;}
.pixel:nth-child(496){background:#000000;}
.pixel:nth-child(500){background:#000000;}
.pixel:nth-child(507){background:#000000;}
.pixel:nth-child(511){background:#000000;}
.pixel:nth-child(537){background:#000000;}
.pixel:nth-child(544){background:#000000;}
.pixel:nth-child(760){background:#000000;}
.pixel:nth-child(761){background:#000000;}
.pixel:nth-child(764){background:#000000;}
.pixel:nth-child(765){background:#000000;}
.pixel:nth-child(796){background:#000000;}
.pixel:nth-child(799){background:#000000;}
.pixel:nth-child(800){background:#000000;}
.pixel:nth-child(803){background:#000000;}
.pixel:nth-child(873){background:#000000;}
.pixel:nth-child(874){background:#000000;}
.pixel:nth-child(905){background:#000000;}
.pixel:nth-child(906){background:#000000;}
.pixel:nth-child(915){background:#000000;}
.pixel:nth-child(916){background:#000000;}
.pixel:nth-child(941){background:#000000;}
.pixel:nth-child(942){background:#000000;}
.pixel:nth-child(943){background:#000000;}
.pixel:nth-child(944){background:#000000;}
.pixel:nth-child(951){background:#000000;}
.pixel:nth-child(952){background:#000000;}
.pixel:nth-child(953){background:#000000;}
.pixel:nth-child(954){background:#000000;}
.pixel:nth-child(978){background:#000000;}
.pixel:nth-child(979){background:#000000;}
.pixel:nth-child(980){background:#ffffff;}
.pixel:nth-child(981){background:#000000;}
.pixel:nth-child(988){background:#000000;}
.pixel:nth-child(989){background:#000000;}
.pixel:nth-child(990){background:#ffffff;}
.pixel:nth-child(991){background:#000000;}
.pixel:nth-child(1016){background:#000000;}
.pixel:nth-child(1017){background:#000000;}
.pixel:nth-child(1026){background:#000000;}
.pixel:nth-child(1027){background:#000000;}

.pixel:nth-child(754){background:#ff0000;}
.pixel:nth-child(755){background:#ff0000;}
.pixel:nth-child(770){background:#ff0000;}
.pixel:nth-child(771){background:#ff0000;}
.pixel:nth-child(790){background:#ff0000;}
.pixel:nth-child(791){background:#ff0000;}
.pixel:nth-child(792){background:#ff0000;}
.pixel:nth-child(793){background:#ff0000;}
.pixel:nth-child(806){background:#ff0000;}
.pixel:nth-child(807){background:#ff0000;}
.pixel:nth-child(808){background:#ff0000;}
.pixel:nth-child(809){background:#ff0000;}
.pixel:nth-child(827){background:#ff0000;}
.pixel:nth-child(828){background:#ff0000;}
.pixel:nth-child(829){background:#ff0000;}
.pixel:nth-child(830){background:#ff0000;}
.pixel:nth-child(843){background:#ff0000;}
.pixel:nth-child(844){background:#ff0000;}
.pixel:nth-child(845){background:#ff0000;}
.pixel:nth-child(846){background:#ff0000;}
.pixel:nth-child(865){background:#ff0000;}
.pixel:nth-child(866){background:#ff0000;}
.pixel:nth-child(881){background:#ff0000;}
.pixel:nth-child(882){background:#ff0000;}

