body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
filter:grayscale(100%);}
.canvas {
width: 370px;
height: 400px;

}
.pixel {
width: 10px;height: 10px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(36){background:#e8e8e8;}
.pixel:nth-child(37){background:#e8e8e8;}
.pixel:nth-child(71){background:#e8e8e8;}
.pixel:nth-child(72){background:#e8e8e8;}
.pixel:nth-child(73){background:#e8e8e8;}
.pixel:nth-child(74){background:#e8e8e8;}
.pixel:nth-child(106){background:#e8e8e8;}
.pixel:nth-child(107){background:#e8e8e8;}
.pixel:nth-child(108){background:#e8e8e8;}
.pixel:nth-child(109){background:#e8e8e8;}
.pixel:nth-child(110){background:#e8e8e8;}
.pixel:nth-child(111){background:#e8e8e8;}
.pixel:nth-child(142){background:#e8e8e8;}
.pixel:nth-child(143){background:#e8e8e8;}
.pixel:nth-child(144){background:#e8e8e8;}
.pixel:nth-child(145){background:#e8e8e8;}
.pixel:nth-child(146){background:#e8e8e8;}
.pixel:nth-child(147){background:#e8e8e8;}
.pixel:nth-child(148){background:#e8e8e8;}
.pixel:nth-child(152){background:#e8e8e8;}
.pixel:nth-child(153){background:#e8e8e8;}
.pixel:nth-child(154){background:#e8e8e8;}
.pixel:nth-child(155){background:#e8e8e8;}
.pixel:nth-child(156){background:#e8e8e8;}
.pixel:nth-child(157){background:#e8e8e8;}
.pixel:nth-child(178){background:#e8e8e8;}
.pixel:nth-child(179){background:#e8e8e8;}
.pixel:nth-child(180){background:#e8e8e8;}
.pixel:nth-child(181){background:#e8e8e8;}
.pixel:nth-child(182){background:#e8e8e8;}
.pixel:nth-child(183){background:#e8e8e8;}
.pixel:nth-child(184){background:#e8e8e8;}
.pixel:nth-child(189){background:#e8e8e8;}
.pixel:nth-child(190){background:#e8e8e8;}
.pixel:nth-child(191){background:#e8e8e8;}
.pixel:nth-child(192){background:#e8e8e8;}
.pixel:nth-child(193){background:#e8e8e8;}
.pixel:nth-child(194){background:#e8e8e8;}
.pixel:nth-child(195){background:#e8e8e8;}
.pixel:nth-child(196){background:#e8e8e8;}
.pixel:nth-child(197){background:#e8e8e8;}
.pixel:nth-child(198){background:#e8e8e8;}
.pixel:nth-child(214){background:#e8e8e8;}
.pixel:nth-child(215){background:#e8e8e8;}
.pixel:nth-child(216){background:#e8e8e8;}
.pixel:nth-child(217){background:#e8e8e8;}
.pixel:nth-child(218){background:#e8e8e8;}
.pixel:nth-child(219){background:#e8e8e8;}
.pixel:nth-child(220){background:#e8e8e8;}
.pixel:nth-child(221){background:#e8e8e8;}
.pixel:nth-child(228){background:#e8e8e8;}
.pixel:nth-child(229){background:#e8e8e8;}
.pixel:nth-child(230){background:#e8e8e8;}
.pixel:nth-child(231){background:#e8e8e8;}
.pixel:nth-child(232){background:#e8e8e8;}
.pixel:nth-child(233){background:#e8e8e8;}
.pixel:nth-child(234){background:#e8e8e8;}
.pixel:nth-child(235){background:#e8e8e8;}
.pixel:nth-child(236){background:#e8e8e8;}
.pixel:nth-child(237){background:#e8e8e8;}
.pixel:nth-child(238){background:#e8e8e8;}
.pixel:nth-child(239){background:#e8e8e8;}
.pixel:nth-child(241){background:#e8e8e8;}
.pixel:nth-child(242){background:#e8e8e8;}
.pixel:nth-child(243){background:#e8e8e8;}
.pixel:nth-child(244){background:#e8e8e8;}
.pixel:nth-child(245){background:#e8e8e8;}
.pixel:nth-child(246){background:#e8e8e8;}
.pixel:nth-child(247){background:#e8e8e8;}
.pixel:nth-child(249){background:#e8e8e8;}
.pixel:nth-child(250){background:#e8e8e8;}
.pixel:nth-child(251){background:#e8e8e8;}
.pixel:nth-child(252){background:#e8e8e8;}
.pixel:nth-child(253){background:#e8e8e8;}
.pixel:nth-child(254){background:#e8e8e8;}
.pixel:nth-child(255){background:#e8e8e8;}
.pixel:nth-child(256){background:#e8e8e8;}
.pixel:nth-child(257){background:#e8e8e8;}
.pixel:nth-child(266){background:#e8e8e8;}
.pixel:nth-child(267){background:#e8e8e8;}
.pixel:nth-child(268){background:#e8e8e8;}
.pixel:nth-child(269){background:#e8e8e8;}
.pixel:nth-child(270){background:#e8e8e8;}
.pixel:nth-child(271){background:#e8e8e8;}
.pixel:nth-child(272){background:#e8e8e8;}
.pixel:nth-child(273){background:#e8e8e8;}
.pixel:nth-child(274){background:#e8e8e8;}
.pixel:nth-child(275){background:#e8e8e8;}
.pixel:nth-child(276){background:#e8e8e8;}
.pixel:nth-child(277){background:#e8e8e8;}
.pixel:nth-child(278){background:#e8e8e8;}
.pixel:nth-child(279){background:#e8e8e8;}
.pixel:nth-child(280){background:#e8e8e8;}
.pixel:nth-child(281){background:#e8e8e8;}
.pixel:nth-child(282){background:#e8e8e8;}
.pixel:nth-child(283){background:#e8e8e8;}
.pixel:nth-child(284){background:#e8e8e8;}
.pixel:nth-child(285){background:#e8e8e8;}
.pixel:nth-child(286){background:#e8e8e8;}
.pixel:nth-child(287){background:#e8e8e8;}
.pixel:nth-child(288){background:#e8e8e8;}
.pixel:nth-child(289){background:#e8e8e8;}
.pixel:nth-child(290){background:#e8e8e8;}
.pixel:nth-child(291){background:#e8e8e8;}
.pixel:nth-child(292){background:#e8e8e8;}
.pixel:nth-child(293){background:#e8e8e8;}
.pixel:nth-child(304){background:#e8e8e8;}
.pixel:nth-child(305){background:#e8e8e8;}
.pixel:nth-child(306){background:#e8e8e8;}
.pixel:nth-child(307){background:#e8e8e8;}
.pixel:nth-child(308){background:#e8e8e8;}
.pixel:nth-child(309){background:#e8e8e8;}
.pixel:nth-child(310){background:#e8e8e8;}
.pixel:nth-child(311){background:#e8e8e8;}
.pixel:nth-child(312){background:#e8e8e8;}
.pixel:nth-child(313){background:#e8e8e8;}
.pixel:nth-child(314){background:#e8e8e8;}
.pixel:nth-child(315){background:#e8e8e8;}
.pixel:nth-child(316){background:#e8e8e8;}
.pixel:nth-child(317){background:#e8e8e8;}
.pixel:nth-child(318){background:#e8e8e8;}
.pixel:nth-child(319){background:#e8e8e8;}
.pixel:nth-child(320){background:#e8e8e8;}
.pixel:nth-child(321){background:#e8e8e8;}
.pixel:nth-child(322){background:#e8e8e8;}
.pixel:nth-child(323){background:#e8e8e8;}
.pixel:nth-child(324){background:#e8e8e8;}
.pixel:nth-child(325){background:#e8e8e8;}
.pixel:nth-child(326){background:#e8e8e8;}
.pixel:nth-child(327){background:#e8e8e8;}
.pixel:nth-child(328){background:#e8e8e8;}
.pixel:nth-child(329){background:#e8e8e8;}
.pixel:nth-child(342){background:#e8e8e8;}
.pixel:nth-child(343){background:#e8e8e8;}
.pixel:nth-child(344){background:#e8e8e8;}
.pixel:nth-child(345){background:#e8e8e8;}
.pixel:nth-child(346){background:#e8e8e8;}
.pixel:nth-child(347){background:#e8e8e8;}
.pixel:nth-child(348){background:#e8e8e8;}
.pixel:nth-child(349){background:#e8e8e8;}
.pixel:nth-child(350){background:#e8e8e8;}
.pixel:nth-child(351){background:#e8e8e8;}
.pixel:nth-child(352){background:#e8e8e8;}
.pixel:nth-child(353){background:#e8e8e8;}
.pixel:nth-child(354){background:#e8e8e8;}
.pixel:nth-child(355){background:#e8e8e8;}
.pixel:nth-child(356){background:#e8e8e8;}
.pixel:nth-child(357){background:#e8e8e8;}
.pixel:nth-child(358){background:#e8e8e8;}
.pixel:nth-child(359){background:#e8e8e8;}
.pixel:nth-child(360){background:#e8e8e8;}
.pixel:nth-child(361){background:#e8e8e8;}
.pixel:nth-child(362){background:#e8e8e8;}
.pixel:nth-child(363){background:#e8e8e8;}
.pixel:nth-child(364){background:#e8e8e8;}
.pixel:nth-child(365){background:#e8e8e8;}
.pixel:nth-child(381){background:#e8e8e8;}
.pixel:nth-child(382){background:#e8e8e8;}
.pixel:nth-child(383){background:#e8e8e8;}
.pixel:nth-child(384){background:#e8e8e8;}
.pixel:nth-child(385){background:#e8e8e8;}
.pixel:nth-child(386){background:#e8e8e8;}
.pixel:nth-child(387){background:#e8e8e8;}
.pixel:nth-child(388){background:#e8e8e8;}
.pixel:nth-child(389){background:#e8e8e8;}
.pixel:nth-child(390){background:#e8e8e8;}
.pixel:nth-child(391){background:#e8e8e8;}
.pixel:nth-child(392){background:#e8e8e8;}
.pixel:nth-child(393){background:#e8e8e8;}
.pixel:nth-child(394){background:#e8e8e8;}
.pixel:nth-child(395){background:#e8e8e8;}
.pixel:nth-child(396){background:#e8e8e8;}
.pixel:nth-child(397){background:#e8e8e8;}
.pixel:nth-child(398){background:#e8e8e8;}
.pixel:nth-child(399){background:#e8e8e8;}
.pixel:nth-child(400){background:#e8e8e8;}
.pixel:nth-child(401){background:#e8e8e8;}
.pixel:nth-child(408){background:#e8e8e8;}
.pixel:nth-child(420){background:#e8e8e8;}
.pixel:nth-child(421){background:#e8e8e8;}
.pixel:nth-child(422){background:#e8e8e8;}
.pixel:nth-child(423){background:#e8e8e8;}
.pixel:nth-child(424){background:#e8e8e8;}
.pixel:nth-child(425){background:#e8e8e8;}
.pixel:nth-child(426){background:#e8e8e8;}
.pixel:nth-child(427){background:#e8e8e8;}
.pixel:nth-child(428){background:#e8e8e8;}
.pixel:nth-child(429){background:#e8e8e8;}
.pixel:nth-child(430){background:#e8e8e8;}
.pixel:nth-child(431){background:#e8e8e8;}
.pixel:nth-child(432){background:#e8e8e8;}
.pixel:nth-child(433){background:#e8e8e8;}
.pixel:nth-child(434){background:#e8e8e8;}
.pixel:nth-child(435){background:#e8e8e8;}
.pixel:nth-child(436){background:#e8e8e8;}
.pixel:nth-child(437){background:#e8e8e8;}
.pixel:nth-child(438){background:#e8e8e8;}
.pixel:nth-child(445){background:#e8e8e8;}
.pixel:nth-child(446){background:#e8e8e8;}
.pixel:nth-child(457){background:#e8e8e8;}
.pixel:nth-child(458){background:#e8e8e8;}
.pixel:nth-child(459){background:#e8e8e8;}
.pixel:nth-child(460){background:#e8e8e8;}
.pixel:nth-child(461){background:#e8e8e8;}
.pixel:nth-child(462){background:#e8e8e8;}
.pixel:nth-child(463){background:#e8e8e8;}
.pixel:nth-child(464){background:#e8e8e8;}
.pixel:nth-child(465){background:#e8e8e8;}
.pixel:nth-child(466){background:#e8e8e8;}
.pixel:nth-child(467){background:#e8e8e8;}
.pixel:nth-child(468){background:#e8e8e8;}
.pixel:nth-child(469){background:#e8e8e8;}
.pixel:nth-child(470){background:#e8e8e8;}
.pixel:nth-child(471){background:#e8e8e8;}
.pixel:nth-child(472){background:#e8e8e8;}
.pixel:nth-child(473){background:#e8e8e8;}
.pixel:nth-child(474){background:#e8e8e8;}
.pixel:nth-child(475){background:#e8e8e8;}
.pixel:nth-child(482){background:#e8e8e8;}
.pixel:nth-child(483){background:#e8e8e8;}
.pixel:nth-child(484){background:#e8e8e8;}
.pixel:nth-child(493){background:#e8e8e8;}
.pixel:nth-child(494){background:#e8e8e8;}
.pixel:nth-child(495){background:#e8e8e8;}
.pixel:nth-child(496){background:#e8e8e8;}
.pixel:nth-child(497){background:#e8e8e8;}
.pixel:nth-child(498){background:#e8e8e8;}
.pixel:nth-child(499){background:#e8e8e8;}
.pixel:nth-child(500){background:#e8e8e8;}
.pixel:nth-child(501){background:#e8e8e8;}
.pixel:nth-child(502){background:#e8e8e8;}
.pixel:nth-child(503){background:#e8e8e8;}
.pixel:nth-child(504){background:#e8e8e8;}
.pixel:nth-child(505){background:#e8e8e8;}
.pixel:nth-child(506){background:#e8e8e8;}
.pixel:nth-child(507){background:#e8e8e8;}
.pixel:nth-child(508){background:#e8e8e8;}
.pixel:nth-child(509){background:#e8e8e8;}
.pixel:nth-child(510){background:#e8e8e8;}
.pixel:nth-child(511){background:#e8e8e8;}
.pixel:nth-child(512){background:#e8e8e8;}
.pixel:nth-child(513){background:#e8e8e8;}
.pixel:nth-child(519){background:#e8e8e8;}
.pixel:nth-child(520){background:#e8e8e8;}
.pixel:nth-child(521){background:#e8e8e8;}
.pixel:nth-child(522){background:#e8e8e8;}
.pixel:nth-child(530){background:#e8e8e8;}
.pixel:nth-child(531){background:#e8e8e8;}
.pixel:nth-child(532){background:#e8e8e8;}
.pixel:nth-child(533){background:#e8e8e8;}
.pixel:nth-child(534){background:#e8e8e8;}
.pixel:nth-child(535){background:#e8e8e8;}
.pixel:nth-child(536){background:#e8e8e8;}
.pixel:nth-child(537){background:#e8e8e8;}
.pixel:nth-child(538){background:#e8e8e8;}
.pixel:nth-child(539){background:#e8e8e8;}
.pixel:nth-child(540){background:#e8e8e8;}
.pixel:nth-child(541){background:#e8e8e8;}
.pixel:nth-child(542){background:#e8e8e8;}
.pixel:nth-child(543){background:#e8e8e8;}
.pixel:nth-child(544){background:#e8e8e8;}
.pixel:nth-child(545){background:#e8e8e8;}
.pixel:nth-child(546){background:#e8e8e8;}
.pixel:nth-child(547){background:#e8e8e8;}
.pixel:nth-child(548){background:#e8e8e8;}
.pixel:nth-child(549){background:#e8e8e8;}
.pixel:nth-child(550){background:#e8e8e8;}
.pixel:nth-child(556){background:#e8e8e8;}
.pixel:nth-child(557){background:#e8e8e8;}
.pixel:nth-child(558){background:#e8e8e8;}
.pixel:nth-child(559){background:#e8e8e8;}
.pixel:nth-child(560){background:#e8e8e8;}
.pixel:nth-child(567){background:#e8e8e8;}
.pixel:nth-child(568){background:#e8e8e8;}
.pixel:nth-child(569){background:#e8e8e8;}
.pixel:nth-child(570){background:#e8e8e8;}
.pixel:nth-child(571){background:#e8e8e8;}
.pixel:nth-child(572){background:#e8e8e8;}
.pixel:nth-child(573){background:#e8e8e8;}
.pixel:nth-child(574){background:#e8e8e8;}
.pixel:nth-child(575){background:#e8e8e8;}
.pixel:nth-child(576){background:#e8e8e8;}
.pixel:nth-child(577){background:#e8e8e8;}
.pixel:nth-child(578){background:#e8e8e8;}
.pixel:nth-child(579){background:#e8e8e8;}
.pixel:nth-child(580){background:#e8e8e8;}
.pixel:nth-child(581){background:#e8e8e8;}
.pixel:nth-child(582){background:#e8e8e8;}
.pixel:nth-child(583){background:#e8e8e8;}
.pixel:nth-child(584){background:#e8e8e8;}
.pixel:nth-child(585){background:#e8e8e8;}
.pixel:nth-child(586){background:#e8e8e8;}
.pixel:nth-child(587){background:#e8e8e8;}
.pixel:nth-child(593){background:#e8e8e8;}
.pixel:nth-child(594){background:#e8e8e8;}
.pixel:nth-child(595){background:#e8e8e8;}
.pixel:nth-child(596){background:#e8e8e8;}
.pixel:nth-child(597){background:#e8e8e8;}
.pixel:nth-child(598){background:#e8e8e8;}
.pixel:nth-child(603){background:#e8e8e8;}
.pixel:nth-child(604){background:#e8e8e8;}
.pixel:nth-child(605){background:#e8e8e8;}
.pixel:nth-child(606){background:#e8e8e8;}
.pixel:nth-child(607){background:#e8e8e8;}
.pixel:nth-child(608){background:#e8e8e8;}
.pixel:nth-child(609){background:#e8e8e8;}
.pixel:nth-child(610){background:#e8e8e8;}
.pixel:nth-child(611){background:#e8e8e8;}
.pixel:nth-child(612){background:#e8e8e8;}
.pixel:nth-child(613){background:#e8e8e8;}
.pixel:nth-child(614){background:#e8e8e8;}
.pixel:nth-child(615){background:#e8e8e8;}
.pixel:nth-child(616){background:#e8e8e8;}
.pixel:nth-child(617){background:#e8e8e8;}
.pixel:nth-child(618){background:#e8e8e8;}
.pixel:nth-child(619){background:#e8e8e8;}
.pixel:nth-child(620){background:#e8e8e8;}
.pixel:nth-child(621){background:#e8e8e8;}
.pixel:nth-child(622){background:#e8e8e8;}
.pixel:nth-child(623){background:#e8e8e8;}
.pixel:nth-child(624){background:#e8e8e8;}
.pixel:nth-child(625){background:#e8e8e8;}
.pixel:nth-child(630){background:#e8e8e8;}
.pixel:nth-child(631){background:#e8e8e8;}
.pixel:nth-child(632){background:#e8e8e8;}
.pixel:nth-child(633){background:#e8e8e8;}
.pixel:nth-child(634){background:#e8e8e8;}
.pixel:nth-child(635){background:#e8e8e8;}
.pixel:nth-child(636){background:#e8e8e8;}
.pixel:nth-child(640){background:#e8e8e8;}
.pixel:nth-child(641){background:#e8e8e8;}
.pixel:nth-child(642){background:#e8e8e8;}
.pixel:nth-child(643){background:#e8e8e8;}
.pixel:nth-child(644){background:#e8e8e8;}
.pixel:nth-child(645){background:#e8e8e8;}
.pixel:nth-child(646){background:#e8e8e8;}
.pixel:nth-child(647){background:#e8e8e8;}
.pixel:nth-child(648){background:#e8e8e8;}
.pixel:nth-child(649){background:#e8e8e8;}
.pixel:nth-child(650){background:#e8e8e8;}
.pixel:nth-child(651){background:#e8e8e8;}
.pixel:nth-child(652){background:#e8e8e8;}
.pixel:nth-child(653){background:#e8e8e8;}
.pixel:nth-child(654){background:#e8e8e8;}
.pixel:nth-child(655){background:#e8e8e8;}
.pixel:nth-child(656){background:#e8e8e8;}
.pixel:nth-child(657){background:#e8e8e8;}
.pixel:nth-child(658){background:#e8e8e8;}
.pixel:nth-child(659){background:#e8e8e8;}
.pixel:nth-child(660){background:#e8e8e8;}
.pixel:nth-child(661){background:#e8e8e8;}
.pixel:nth-child(662){background:#e8e8e8;}
.pixel:nth-child(667){background:#e8e8e8;}
.pixel:nth-child(668){background:#e8e8e8;}
.pixel:nth-child(669){background:#e8e8e8;}
.pixel:nth-child(670){background:#e8e8e8;}
.pixel:nth-child(671){background:#e8e8e8;}
.pixel:nth-child(672){background:#e8e8e8;}
.pixel:nth-child(673){background:#e8e8e8;}
.pixel:nth-child(674){background:#e8e8e8;}
.pixel:nth-child(677){background:#e8e8e8;}
.pixel:nth-child(678){background:#e8e8e8;}
.pixel:nth-child(679){background:#e8e8e8;}
.pixel:nth-child(680){background:#e8e8e8;}
.pixel:nth-child(681){background:#e8e8e8;}
.pixel:nth-child(682){background:#e8e8e8;}
.pixel:nth-child(683){background:#e8e8e8;}
.pixel:nth-child(684){background:#e8e8e8;}
.pixel:nth-child(685){background:#e8e8e8;}
.pixel:nth-child(686){background:#e8e8e8;}
.pixel:nth-child(687){background:#e8e8e8;}
.pixel:nth-child(688){background:#e8e8e8;}
.pixel:nth-child(689){background:#e8e8e8;}
.pixel:nth-child(690){background:#e8e8e8;}
.pixel:nth-child(691){background:#e8e8e8;}
.pixel:nth-child(692){background:#e8e8e8;}
.pixel:nth-child(693){background:#e8e8e8;}
.pixel:nth-child(694){background:#e8e8e8;}
.pixel:nth-child(695){background:#e8e8e8;}
.pixel:nth-child(696){background:#e8e8e8;}
.pixel:nth-child(697){background:#e8e8e8;}
.pixel:nth-child(698){background:#e8e8e8;}
.pixel:nth-child(699){background:#e8e8e8;}
.pixel:nth-child(704){background:#e8e8e8;}
.pixel:nth-child(705){background:#e8e8e8;}
.pixel:nth-child(706){background:#e8e8e8;}
.pixel:nth-child(707){background:#e8e8e8;}
.pixel:nth-child(708){background:#e8e8e8;}
.pixel:nth-child(709){background:#e8e8e8;}
.pixel:nth-child(710){background:#e8e8e8;}
.pixel:nth-child(711){background:#e8e8e8;}
.pixel:nth-child(712){background:#e8e8e8;}
.pixel:nth-child(714){background:#e8e8e8;}
.pixel:nth-child(715){background:#e8e8e8;}
.pixel:nth-child(716){background:#e8e8e8;}
.pixel:nth-child(717){background:#e8e8e8;}
.pixel:nth-child(718){background:#e8e8e8;}
.pixel:nth-child(719){background:#e8e8e8;}
.pixel:nth-child(720){background:#e8e8e8;}
.pixel:nth-child(721){background:#e8e8e8;}
.pixel:nth-child(722){background:#e8e8e8;}
.pixel:nth-child(723){background:#e8e8e8;}
.pixel:nth-child(724){background:#e8e8e8;}
.pixel:nth-child(725){background:#e8e8e8;}
.pixel:nth-child(726){background:#e8e8e8;}
.pixel:nth-child(727){background:#e8e8e8;}
.pixel:nth-child(728){background:#e8e8e8;}
.pixel:nth-child(729){background:#e8e8e8;}
.pixel:nth-child(730){background:#e8e8e8;}
.pixel:nth-child(731){background:#e8e8e8;}
.pixel:nth-child(732){background:#e8e8e8;}
.pixel:nth-child(733){background:#e8e8e8;}
.pixel:nth-child(734){background:#e8e8e8;}
.pixel:nth-child(735){background:#e8e8e8;}
.pixel:nth-child(736){background:#e8e8e8;}
.pixel:nth-child(741){background:#e8e8e8;}
.pixel:nth-child(742){background:#e8e8e8;}
.pixel:nth-child(743){background:#e8e8e8;}
.pixel:nth-child(744){background:#e8e8e8;}
.pixel:nth-child(745){background:#e8e8e8;}
.pixel:nth-child(746){background:#e8e8e8;}
.pixel:nth-child(747){background:#e8e8e8;}
.pixel:nth-child(748){background:#e8e8e8;}
.pixel:nth-child(749){background:#e8e8e8;}
.pixel:nth-child(750){background:#e8e8e8;}
.pixel:nth-child(751){background:#e8e8e8;}
.pixel:nth-child(752){background:#e8e8e8;}
.pixel:nth-child(753){background:#e8e8e8;}
.pixel:nth-child(754){background:#e8e8e8;}
.pixel:nth-child(755){background:#e8e8e8;}
.pixel:nth-child(756){background:#e8e8e8;}
.pixel:nth-child(757){background:#e8e8e8;}
.pixel:nth-child(758){background:#e8e8e8;}
.pixel:nth-child(759){background:#e8e8e8;}
.pixel:nth-child(760){background:#e8e8e8;}
.pixel:nth-child(761){background:#e8e8e8;}
.pixel:nth-child(762){background:#e8e8e8;}
.pixel:nth-child(763){background:#e8e8e8;}
.pixel:nth-child(764){background:#e8e8e8;}
.pixel:nth-child(765){background:#e8e8e8;}
.pixel:nth-child(766){background:#e8e8e8;}
.pixel:nth-child(767){background:#e8e8e8;}
.pixel:nth-child(768){background:#e8e8e8;}
.pixel:nth-child(769){background:#e8e8e8;}
.pixel:nth-child(770){background:#e8e8e8;}
.pixel:nth-child(771){background:#e8e8e8;}
.pixel:nth-child(772){background:#e8e8e8;}
.pixel:nth-child(778){background:#e8e8e8;}
.pixel:nth-child(779){background:#e8e8e8;}
.pixel:nth-child(780){background:#e8e8e8;}
.pixel:nth-child(781){background:#e8e8e8;}
.pixel:nth-child(782){background:#e8e8e8;}
.pixel:nth-child(783){background:#e8e8e8;}
.pixel:nth-child(784){background:#e8e8e8;}
.pixel:nth-child(785){background:#e8e8e8;}
.pixel:nth-child(786){background:#e8e8e8;}
.pixel:nth-child(787){background:#e8e8e8;}
.pixel:nth-child(788){background:#e8e8e8;}
.pixel:nth-child(789){background:#e8e8e8;}
.pixel:nth-child(790){background:#e8e8e8;}
.pixel:nth-child(791){background:#e8e8e8;}
.pixel:nth-child(792){background:#e8e8e8;}
.pixel:nth-child(793){background:#e8e8e8;}
.pixel:nth-child(794){background:#e8e8e8;}
.pixel:nth-child(795){background:#e8e8e8;}
.pixel:nth-child(796){background:#e8e8e8;}
.pixel:nth-child(797){background:#e8e8e8;}
.pixel:nth-child(798){background:#e8e8e8;}
.pixel:nth-child(799){background:#e8e8e8;}
.pixel:nth-child(800){background:#e8e8e8;}
.pixel:nth-child(801){background:#e8e8e8;}
.pixel:nth-child(802){background:#e8e8e8;}
.pixel:nth-child(803){background:#e8e8e8;}
.pixel:nth-child(804){background:#e8e8e8;}
.pixel:nth-child(805){background:#e8e8e8;}
.pixel:nth-child(806){background:#e8e8e8;}
.pixel:nth-child(807){background:#e8e8e8;}
.pixel:nth-child(808){background:#e8e8e8;}
.pixel:nth-child(809){background:#e8e8e8;}
.pixel:nth-child(816){background:#e8e8e8;}
.pixel:nth-child(817){background:#e8e8e8;}
.pixel:nth-child(818){background:#e8e8e8;}
.pixel:nth-child(819){background:#e8e8e8;}
.pixel:nth-child(820){background:#e8e8e8;}
.pixel:nth-child(821){background:#e8e8e8;}
.pixel:nth-child(822){background:#e8e8e8;}
.pixel:nth-child(823){background:#e8e8e8;}
.pixel:nth-child(824){background:#e8e8e8;}
.pixel:nth-child(825){background:#e8e8e8;}
.pixel:nth-child(827){background:#e8e8e8;}
.pixel:nth-child(828){background:#e8e8e8;}
.pixel:nth-child(829){background:#e8e8e8;}
.pixel:nth-child(830){background:#e8e8e8;}
.pixel:nth-child(831){background:#e8e8e8;}
.pixel:nth-child(832){background:#e8e8e8;}
.pixel:nth-child(833){background:#e8e8e8;}
.pixel:nth-child(834){background:#e8e8e8;}
.pixel:nth-child(835){background:#e8e8e8;}
.pixel:nth-child(836){background:#e8e8e8;}
.pixel:nth-child(837){background:#e8e8e8;}
.pixel:nth-child(838){background:#e8e8e8;}
.pixel:nth-child(839){background:#e8e8e8;}
.pixel:nth-child(840){background:#e8e8e8;}
.pixel:nth-child(841){background:#e8e8e8;}
.pixel:nth-child(842){background:#e8e8e8;}
.pixel:nth-child(843){background:#e8e8e8;}
.pixel:nth-child(844){background:#e8e8e8;}
.pixel:nth-child(845){background:#e8e8e8;}
.pixel:nth-child(854){background:#e8e8e8;}
.pixel:nth-child(855){background:#e8e8e8;}
.pixel:nth-child(856){background:#e8e8e8;}
.pixel:nth-child(857){background:#e8e8e8;}
.pixel:nth-child(858){background:#e8e8e8;}
.pixel:nth-child(859){background:#e8e8e8;}
.pixel:nth-child(860){background:#e8e8e8;}
.pixel:nth-child(861){background:#e8e8e8;}
.pixel:nth-child(863){background:#e8e8e8;}
.pixel:nth-child(864){background:#e8e8e8;}
.pixel:nth-child(865){background:#e8e8e8;}
.pixel:nth-child(866){background:#e8e8e8;}
.pixel:nth-child(867){background:#e8e8e8;}
.pixel:nth-child(868){background:#e8e8e8;}
.pixel:nth-child(869){background:#e8e8e8;}
.pixel:nth-child(870){background:#e8e8e8;}
.pixel:nth-child(871){background:#e8e8e8;}
.pixel:nth-child(872){background:#e8e8e8;}
.pixel:nth-child(873){background:#e8e8e8;}
.pixel:nth-child(874){background:#e8e8e8;}
.pixel:nth-child(875){background:#e8e8e8;}
.pixel:nth-child(876){background:#e8e8e8;}
.pixel:nth-child(877){background:#e8e8e8;}
.pixel:nth-child(878){background:#e8e8e8;}
.pixel:nth-child(879){background:#e8e8e8;}
.pixel:nth-child(880){background:#e8e8e8;}
.pixel:nth-child(881){background:#e8e8e8;}
.pixel:nth-child(882){background:#e8e8e8;}
.pixel:nth-child(883){background:#e8e8e8;}
.pixel:nth-child(892){background:#e8e8e8;}
.pixel:nth-child(893){background:#e8e8e8;}
.pixel:nth-child(894){background:#e8e8e8;}
.pixel:nth-child(895){background:#e8e8e8;}
.pixel:nth-child(896){background:#e8e8e8;}
.pixel:nth-child(897){background:#e8e8e8;}
.pixel:nth-child(900){background:#e8e8e8;}
.pixel:nth-child(901){background:#e8e8e8;}
.pixel:nth-child(902){background:#e8e8e8;}
.pixel:nth-child(903){background:#e8e8e8;}
.pixel:nth-child(904){background:#e8e8e8;}
.pixel:nth-child(905){background:#e8e8e8;}
.pixel:nth-child(906){background:#e8e8e8;}
.pixel:nth-child(907){background:#e8e8e8;}
.pixel:nth-child(908){background:#e8e8e8;}
.pixel:nth-child(909){background:#e8e8e8;}
.pixel:nth-child(910){background:#e8e8e8;}
.pixel:nth-child(911){background:#e8e8e8;}
.pixel:nth-child(912){background:#e8e8e8;}
.pixel:nth-child(913){background:#e8e8e8;}
.pixel:nth-child(914){background:#e8e8e8;}
.pixel:nth-child(915){background:#e8e8e8;}
.pixel:nth-child(916){background:#e8e8e8;}
.pixel:nth-child(917){background:#e8e8e8;}
.pixel:nth-child(918){background:#e8e8e8;}
.pixel:nth-child(919){background:#e8e8e8;}
.pixel:nth-child(920){background:#e8e8e8;}
.pixel:nth-child(928){background:#e8e8e8;}
.pixel:nth-child(929){background:#e8e8e8;}
.pixel:nth-child(930){background:#e8e8e8;}
.pixel:nth-child(931){background:#e8e8e8;}
.pixel:nth-child(932){background:#e8e8e8;}
.pixel:nth-child(933){background:#e8e8e8;}
.pixel:nth-child(937){background:#e8e8e8;}
.pixel:nth-child(938){background:#e8e8e8;}
.pixel:nth-child(939){background:#e8e8e8;}
.pixel:nth-child(940){background:#e8e8e8;}
.pixel:nth-child(941){background:#e8e8e8;}
.pixel:nth-child(942){background:#e8e8e8;}
.pixel:nth-child(943){background:#e8e8e8;}
.pixel:nth-child(944){background:#e8e8e8;}
.pixel:nth-child(945){background:#e8e8e8;}
.pixel:nth-child(946){background:#e8e8e8;}
.pixel:nth-child(947){background:#e8e8e8;}
.pixel:nth-child(948){background:#e8e8e8;}
.pixel:nth-child(949){background:#e8e8e8;}
.pixel:nth-child(950){background:#e8e8e8;}
.pixel:nth-child(951){background:#e8e8e8;}
.pixel:nth-child(952){background:#e8e8e8;}
.pixel:nth-child(953){background:#e8e8e8;}
.pixel:nth-child(954){background:#e8e8e8;}
.pixel:nth-child(955){background:#e8e8e8;}
.pixel:nth-child(956){background:#e8e8e8;}
.pixel:nth-child(957){background:#e8e8e8;}
.pixel:nth-child(965){background:#e8e8e8;}
.pixel:nth-child(966){background:#e8e8e8;}
.pixel:nth-child(967){background:#e8e8e8;}
.pixel:nth-child(968){background:#e8e8e8;}
.pixel:nth-child(969){background:#e8e8e8;}
.pixel:nth-child(970){background:#e8e8e8;}
.pixel:nth-child(971){background:#e8e8e8;}
.pixel:nth-child(973){background:#e8e8e8;}
.pixel:nth-child(974){background:#e8e8e8;}
.pixel:nth-child(975){background:#e8e8e8;}
.pixel:nth-child(976){background:#e8e8e8;}
.pixel:nth-child(977){background:#e8e8e8;}
.pixel:nth-child(978){background:#e8e8e8;}
.pixel:nth-child(979){background:#e8e8e8;}
.pixel:nth-child(980){background:#e8e8e8;}
.pixel:nth-child(981){background:#e8e8e8;}
.pixel:nth-child(982){background:#e8e8e8;}
.pixel:nth-child(983){background:#e8e8e8;}
.pixel:nth-child(984){background:#e8e8e8;}
.pixel:nth-child(985){background:#e8e8e8;}
.pixel:nth-child(986){background:#e8e8e8;}
.pixel:nth-child(987){background:#e8e8e8;}
.pixel:nth-child(988){background:#e8e8e8;}
.pixel:nth-child(989){background:#e8e8e8;}
.pixel:nth-child(990){background:#e8e8e8;}
.pixel:nth-child(991){background:#e8e8e8;}
.pixel:nth-child(992){background:#e8e8e8;}
.pixel:nth-child(993){background:#e8e8e8;}
.pixel:nth-child(994){background:#e8e8e8;}
.pixel:nth-child(1003){background:#e8e8e8;}
.pixel:nth-child(1004){background:#e8e8e8;}
.pixel:nth-child(1005){background:#e8e8e8;}
.pixel:nth-child(1006){background:#e8e8e8;}
.pixel:nth-child(1007){background:#e8e8e8;}
.pixel:nth-child(1008){background:#e8e8e8;}
.pixel:nth-child(1009){background:#e8e8e8;}
.pixel:nth-child(1010){background:#e8e8e8;}
.pixel:nth-child(1011){background:#e8e8e8;}
.pixel:nth-child(1012){background:#e8e8e8;}
.pixel:nth-child(1013){background:#e8e8e8;}
.pixel:nth-child(1014){background:#e8e8e8;}
.pixel:nth-child(1015){background:#e8e8e8;}
.pixel:nth-child(1016){background:#e8e8e8;}
.pixel:nth-child(1017){background:#e8e8e8;}
.pixel:nth-child(1018){background:#e8e8e8;}
.pixel:nth-child(1019){background:#e8e8e8;}
.pixel:nth-child(1020){background:#e8e8e8;}
.pixel:nth-child(1021){background:#e8e8e8;}
.pixel:nth-child(1022){background:#e8e8e8;}
.pixel:nth-child(1023){background:#e8e8e8;}
.pixel:nth-child(1024){background:#e8e8e8;}
.pixel:nth-child(1025){background:#e8e8e8;}
.pixel:nth-child(1026){background:#e8e8e8;}
.pixel:nth-child(1027){background:#e8e8e8;}
.pixel:nth-child(1028){background:#e8e8e8;}
.pixel:nth-child(1029){background:#e8e8e8;}
.pixel:nth-child(1030){background:#e8e8e8;}
.pixel:nth-child(1031){background:#e8e8e8;}
.pixel:nth-child(1032){background:#e8e8e8;}
.pixel:nth-child(1041){background:#e8e8e8;}
.pixel:nth-child(1042){background:#e8e8e8;}
.pixel:nth-child(1043){background:#e8e8e8;}
.pixel:nth-child(1044){background:#e8e8e8;}
.pixel:nth-child(1045){background:#e8e8e8;}
.pixel:nth-child(1046){background:#e8e8e8;}
.pixel:nth-child(1047){background:#e8e8e8;}
.pixel:nth-child(1048){background:#e8e8e8;}
.pixel:nth-child(1049){background:#e8e8e8;}
.pixel:nth-child(1050){background:#e8e8e8;}
.pixel:nth-child(1051){background:#e8e8e8;}
.pixel:nth-child(1052){background:#e8e8e8;}
.pixel:nth-child(1053){background:#e8e8e8;}
.pixel:nth-child(1054){background:#e8e8e8;}
.pixel:nth-child(1055){background:#e8e8e8;}
.pixel:nth-child(1056){background:#e8e8e8;}
.pixel:nth-child(1057){background:#e8e8e8;}
.pixel:nth-child(1058){background:#e8e8e8;}
.pixel:nth-child(1059){background:#e8e8e8;}
.pixel:nth-child(1060){background:#e8e8e8;}
.pixel:nth-child(1061){background:#e8e8e8;}
.pixel:nth-child(1062){background:#e8e8e8;}
.pixel:nth-child(1063){background:#e8e8e8;}
.pixel:nth-child(1064){background:#e8e8e8;}
.pixel:nth-child(1065){background:#e8e8e8;}
.pixel:nth-child(1066){background:#e8e8e8;}
.pixel:nth-child(1067){background:#e8e8e8;}
.pixel:nth-child(1068){background:#e8e8e8;}
.pixel:nth-child(1069){background:#e8e8e8;}
.pixel:nth-child(1079){background:#e8e8e8;}
.pixel:nth-child(1080){background:#e8e8e8;}
.pixel:nth-child(1081){background:#e8e8e8;}
.pixel:nth-child(1082){background:#e8e8e8;}
.pixel:nth-child(1083){background:#e8e8e8;}
.pixel:nth-child(1084){background:#e8e8e8;}
.pixel:nth-child(1085){background:#e8e8e8;}
.pixel:nth-child(1086){background:#e8e8e8;}
.pixel:nth-child(1087){background:#e8e8e8;}
.pixel:nth-child(1088){background:#e8e8e8;}
.pixel:nth-child(1089){background:#e8e8e8;}
.pixel:nth-child(1090){background:#e8e8e8;}
.pixel:nth-child(1091){background:#e8e8e8;}
.pixel:nth-child(1092){background:#e8e8e8;}
.pixel:nth-child(1093){background:#e8e8e8;}
.pixel:nth-child(1094){background:#e8e8e8;}
.pixel:nth-child(1095){background:#e8e8e8;}
.pixel:nth-child(1096){background:#e8e8e8;}
.pixel:nth-child(1097){background:#e8e8e8;}
.pixel:nth-child(1098){background:#e8e8e8;}
.pixel:nth-child(1099){background:#e8e8e8;}
.pixel:nth-child(1100){background:#e8e8e8;}
.pixel:nth-child(1101){background:#e8e8e8;}
.pixel:nth-child(1102){background:#e8e8e8;}
.pixel:nth-child(1103){background:#e8e8e8;}
.pixel:nth-child(1104){background:#e8e8e8;}
.pixel:nth-child(1105){background:#e8e8e8;}
.pixel:nth-child(1106){background:#e8e8e8;}
.pixel:nth-child(1117){background:#e8e8e8;}
.pixel:nth-child(1118){background:#e8e8e8;}
.pixel:nth-child(1119){background:#e8e8e8;}
.pixel:nth-child(1120){background:#e8e8e8;}
.pixel:nth-child(1121){background:#e8e8e8;}
.pixel:nth-child(1122){background:#e8e8e8;}
.pixel:nth-child(1123){background:#e8e8e8;}
.pixel:nth-child(1124){background:#e8e8e8;}
.pixel:nth-child(1125){background:#e8e8e8;}
.pixel:nth-child(1126){background:#e8e8e8;}
.pixel:nth-child(1127){background:#e8e8e8;}
.pixel:nth-child(1128){background:#e8e8e8;}
.pixel:nth-child(1129){background:#e8e8e8;}
.pixel:nth-child(1130){background:#e8e8e8;}
.pixel:nth-child(1131){background:#e8e8e8;}
.pixel:nth-child(1132){background:#e8e8e8;}
.pixel:nth-child(1133){background:#e8e8e8;}
.pixel:nth-child(1134){background:#e8e8e8;}
.pixel:nth-child(1135){background:#e8e8e8;}
.pixel:nth-child(1136){background:#e8e8e8;}
.pixel:nth-child(1137){background:#e8e8e8;}
.pixel:nth-child(1138){background:#e8e8e8;}
.pixel:nth-child(1139){background:#e8e8e8;}
.pixel:nth-child(1140){background:#e8e8e8;}
.pixel:nth-child(1141){background:#e8e8e8;}
.pixel:nth-child(1142){background:#e8e8e8;}
.pixel:nth-child(1143){background:#e8e8e8;}
.pixel:nth-child(1153){background:#e8e8e8;}
.pixel:nth-child(1154){background:#e8e8e8;}
.pixel:nth-child(1155){background:#e8e8e8;}
.pixel:nth-child(1156){background:#e8e8e8;}
.pixel:nth-child(1157){background:#e8e8e8;}
.pixel:nth-child(1158){background:#e8e8e8;}
.pixel:nth-child(1159){background:#e8e8e8;}
.pixel:nth-child(1160){background:#e8e8e8;}
.pixel:nth-child(1161){background:#e8e8e8;}
.pixel:nth-child(1162){background:#e8e8e8;}
.pixel:nth-child(1163){background:#e8e8e8;}
.pixel:nth-child(1164){background:#e8e8e8;}
.pixel:nth-child(1165){background:#e8e8e8;}
.pixel:nth-child(1166){background:#e8e8e8;}
.pixel:nth-child(1167){background:#e8e8e8;}
.pixel:nth-child(1168){background:#e8e8e8;}
.pixel:nth-child(1169){background:#e8e8e8;}
.pixel:nth-child(1170){background:#e8e8e8;}
.pixel:nth-child(1171){background:#e8e8e8;}
.pixel:nth-child(1172){background:#e8e8e8;}
.pixel:nth-child(1173){background:#e8e8e8;}
.pixel:nth-child(1174){background:#e8e8e8;}
.pixel:nth-child(1175){background:#e8e8e8;}
.pixel:nth-child(1176){background:#e8e8e8;}
.pixel:nth-child(1177){background:#e8e8e8;}
.pixel:nth-child(1178){background:#e8e8e8;}
.pixel:nth-child(1179){background:#e8e8e8;}
.pixel:nth-child(1180){background:#e8e8e8;}
.pixel:nth-child(1191){background:#e8e8e8;}
.pixel:nth-child(1192){background:#e8e8e8;}
.pixel:nth-child(1193){background:#e8e8e8;}
.pixel:nth-child(1194){background:#e8e8e8;}
.pixel:nth-child(1195){background:#e8e8e8;}
.pixel:nth-child(1196){background:#e8e8e8;}
.pixel:nth-child(1197){background:#e8e8e8;}
.pixel:nth-child(1198){background:#e8e8e8;}
.pixel:nth-child(1199){background:#e8e8e8;}
.pixel:nth-child(1200){background:#e8e8e8;}
.pixel:nth-child(1201){background:#e8e8e8;}
.pixel:nth-child(1202){background:#e8e8e8;}
.pixel:nth-child(1203){background:#e8e8e8;}
.pixel:nth-child(1204){background:#e8e8e8;}
.pixel:nth-child(1205){background:#e8e8e8;}
.pixel:nth-child(1206){background:#e8e8e8;}
.pixel:nth-child(1207){background:#e8e8e8;}
.pixel:nth-child(1208){background:#e8e8e8;}
.pixel:nth-child(1209){background:#e8e8e8;}
.pixel:nth-child(1210){background:#e8e8e8;}
.pixel:nth-child(1211){background:#e8e8e8;}
.pixel:nth-child(1212){background:#e8e8e8;}
.pixel:nth-child(1213){background:#e8e8e8;}
.pixel:nth-child(1214){background:#e8e8e8;}
.pixel:nth-child(1215){background:#e8e8e8;}
.pixel:nth-child(1216){background:#e8e8e8;}
.pixel:nth-child(1217){background:#e8e8e8;}
.pixel:nth-child(1229){background:#e8e8e8;}
.pixel:nth-child(1230){background:#e8e8e8;}
.pixel:nth-child(1231){background:#e8e8e8;}
.pixel:nth-child(1232){background:#e8e8e8;}
.pixel:nth-child(1233){background:#e8e8e8;}
.pixel:nth-child(1234){background:#e8e8e8;}
.pixel:nth-child(1235){background:#e8e8e8;}
.pixel:nth-child(1236){background:#e8e8e8;}
.pixel:nth-child(1237){background:#e8e8e8;}
.pixel:nth-child(1238){background:#e8e8e8;}
.pixel:nth-child(1239){background:#e8e8e8;}
.pixel:nth-child(1240){background:#e8e8e8;}
.pixel:nth-child(1241){background:#e8e8e8;}
.pixel:nth-child(1242){background:#e8e8e8;}
.pixel:nth-child(1243){background:#e8e8e8;}
.pixel:nth-child(1244){background:#e8e8e8;}
.pixel:nth-child(1245){background:#e8e8e8;}
.pixel:nth-child(1246){background:#e8e8e8;}
.pixel:nth-child(1247){background:#e8e8e8;}
.pixel:nth-child(1248){background:#e8e8e8;}
.pixel:nth-child(1249){background:#e8e8e8;}
.pixel:nth-child(1250){background:#e8e8e8;}
.pixel:nth-child(1251){background:#e8e8e8;}
.pixel:nth-child(1252){background:#e8e8e8;}
.pixel:nth-child(1253){background:#e8e8e8;}
.pixel:nth-child(1254){background:#e8e8e8;}
.pixel:nth-child(1268){background:#e8e8e8;}
.pixel:nth-child(1269){background:#e8e8e8;}
.pixel:nth-child(1270){background:#e8e8e8;}
.pixel:nth-child(1271){background:#e8e8e8;}
.pixel:nth-child(1272){background:#e8e8e8;}
.pixel:nth-child(1273){background:#e8e8e8;}
.pixel:nth-child(1274){background:#e8e8e8;}
.pixel:nth-child(1275){background:#e8e8e8;}
.pixel:nth-child(1276){background:#e8e8e8;}
.pixel:nth-child(1277){background:#e8e8e8;}
.pixel:nth-child(1278){background:#e8e8e8;}
.pixel:nth-child(1279){background:#e8e8e8;}
.pixel:nth-child(1280){background:#e8e8e8;}
.pixel:nth-child(1281){background:#e8e8e8;}
.pixel:nth-child(1282){background:#e8e8e8;}
.pixel:nth-child(1283){background:#e8e8e8;}
.pixel:nth-child(1284){background:#e8e8e8;}
.pixel:nth-child(1285){background:#e8e8e8;}
.pixel:nth-child(1286){background:#e8e8e8;}
.pixel:nth-child(1287){background:#e8e8e8;}
.pixel:nth-child(1288){background:#e8e8e8;}
.pixel:nth-child(1289){background:#e8e8e8;}
.pixel:nth-child(1290){background:#e8e8e8;}
.pixel:nth-child(1307){background:#e8e8e8;}
.pixel:nth-child(1308){background:#e8e8e8;}
.pixel:nth-child(1309){background:#e8e8e8;}
.pixel:nth-child(1310){background:#e8e8e8;}
.pixel:nth-child(1311){background:#e8e8e8;}
.pixel:nth-child(1312){background:#e8e8e8;}
.pixel:nth-child(1313){background:#e8e8e8;}
.pixel:nth-child(1314){background:#e8e8e8;}
.pixel:nth-child(1315){background:#e8e8e8;}
.pixel:nth-child(1316){background:#e8e8e8;}
.pixel:nth-child(1317){background:#e8e8e8;}
.pixel:nth-child(1318){background:#e8e8e8;}
.pixel:nth-child(1319){background:#e8e8e8;}
.pixel:nth-child(1320){background:#e8e8e8;}
.pixel:nth-child(1321){background:#e8e8e8;}
.pixel:nth-child(1322){background:#e8e8e8;}
.pixel:nth-child(1323){background:#e8e8e8;}
.pixel:nth-child(1324){background:#e8e8e8;}
.pixel:nth-child(1325){background:#e8e8e8;}
.pixel:nth-child(1326){background:#e8e8e8;}
.pixel:nth-child(1327){background:#e8e8e8;}
.pixel:nth-child(1345){background:#e8e8e8;}
.pixel:nth-child(1346){background:#e8e8e8;}
.pixel:nth-child(1347){background:#e8e8e8;}
.pixel:nth-child(1348){background:#e8e8e8;}
.pixel:nth-child(1349){background:#e8e8e8;}
.pixel:nth-child(1350){background:#e8e8e8;}
.pixel:nth-child(1351){background:#e8e8e8;}
.pixel:nth-child(1352){background:#e8e8e8;}
.pixel:nth-child(1353){background:#e8e8e8;}
.pixel:nth-child(1354){background:#e8e8e8;}
.pixel:nth-child(1355){background:#e8e8e8;}
.pixel:nth-child(1356){background:#e8e8e8;}
.pixel:nth-child(1357){background:#e8e8e8;}
.pixel:nth-child(1358){background:#e8e8e8;}
.pixel:nth-child(1359){background:#e8e8e8;}
.pixel:nth-child(1360){background:#e8e8e8;}
.pixel:nth-child(1361){background:#e8e8e8;}
.pixel:nth-child(1362){background:#e8e8e8;}
.pixel:nth-child(1363){background:#e8e8e8;}
.pixel:nth-child(1383){background:#e8e8e8;}
.pixel:nth-child(1384){background:#e8e8e8;}
.pixel:nth-child(1385){background:#e8e8e8;}
.pixel:nth-child(1386){background:#e8e8e8;}
.pixel:nth-child(1387){background:#e8e8e8;}
.pixel:nth-child(1388){background:#e8e8e8;}
.pixel:nth-child(1389){background:#e8e8e8;}
.pixel:nth-child(1390){background:#e8e8e8;}
.pixel:nth-child(1391){background:#e8e8e8;}
.pixel:nth-child(1392){background:#e8e8e8;}
.pixel:nth-child(1393){background:#e8e8e8;}
.pixel:nth-child(1394){background:#e8e8e8;}
.pixel:nth-child(1395){background:#e8e8e8;}
.pixel:nth-child(1396){background:#e8e8e8;}
.pixel:nth-child(1397){background:#e8e8e8;}
.pixel:nth-child(1398){background:#e8e8e8;}
.pixel:nth-child(1399){background:#e8e8e8;}
.pixel:nth-child(1419){background:#e8e8e8;}
.pixel:nth-child(1420){background:#e8e8e8;}
.pixel:nth-child(1421){background:#e8e8e8;}
.pixel:nth-child(1422){background:#e8e8e8;}
.pixel:nth-child(1423){background:#e8e8e8;}
.pixel:nth-child(1424){background:#e8e8e8;}
.pixel:nth-child(1425){background:#e8e8e8;}
.pixel:nth-child(1432){background:#e8e8e8;}
.pixel:nth-child(1433){background:#e8e8e8;}
.pixel:nth-child(1434){background:#e8e8e8;}
.pixel:nth-child(1435){background:#e8e8e8;}
.pixel:nth-child(1436){background:#e8e8e8;}
.pixel:nth-child(1437){background:#e8e8e8;}
.pixel:nth-child(1456){background:#e8e8e8;}
.pixel:nth-child(1457){background:#e8e8e8;}
.pixel:nth-child(1458){background:#e8e8e8;}
.pixel:nth-child(1459){background:#e8e8e8;}
.pixel:nth-child(1460){background:#e8e8e8;}
.pixel:nth-child(1470){background:#e8e8e8;}
.pixel:nth-child(1471){background:#e8e8e8;}
.pixel:nth-child(1472){background:#e8e8e8;}
.pixel:nth-child(1473){background:#e8e8e8;}
.pixel:nth-child(1474){background:#e8e8e8;}

.pixel:nth-child(36){background:#000000;}
.pixel:nth-child(37){background:#000000;}
.pixel:nth-child(71){background:#000000;}
.pixel:nth-child(72){background:#000000;}
.pixel:nth-child(73){background:#000000;}
.pixel:nth-child(74){background:#000000;}
.pixel:nth-child(106){background:#000000;}
.pixel:nth-child(107){background:#000000;}
.pixel:nth-child(108){background:#000000;}
.pixel:nth-child(109){background:#000000;}
.pixel:nth-child(110){background:#000000;}
.pixel:nth-child(111){background:#000000;}
.pixel:nth-child(142){background:#000000;}
.pixel:nth-child(146){background:#000000;}
.pixel:nth-child(147){background:#000000;}
.pixel:nth-child(148){background:#000000;}
.pixel:nth-child(152){background:#000000;}
.pixel:nth-child(153){background:#000000;}
.pixel:nth-child(154){background:#000000;}
.pixel:nth-child(155){background:#000000;}
.pixel:nth-child(156){background:#000000;}
.pixel:nth-child(157){background:#000000;}
.pixel:nth-child(178){background:#000000;}
.pixel:nth-child(183){background:#000000;}
.pixel:nth-child(184){background:#000000;}
.pixel:nth-child(189){background:#000000;}
.pixel:nth-child(190){background:#000000;}
.pixel:nth-child(191){background:#000000;}
.pixel:nth-child(195){background:#000000;}
.pixel:nth-child(196){background:#000000;}
.pixel:nth-child(197){background:#000000;}
.pixel:nth-child(198){background:#000000;}
.pixel:nth-child(214){background:#000000;}
.pixel:nth-child(220){background:#000000;}
.pixel:nth-child(221){background:#000000;}
.pixel:nth-child(228){background:#000000;}
.pixel:nth-child(229){background:#000000;}
.pixel:nth-child(236){background:#000000;}
.pixel:nth-child(237){background:#000000;}
.pixel:nth-child(238){background:#000000;}
.pixel:nth-child(239){background:#000000;}
.pixel:nth-child(241){background:#000000;}
.pixel:nth-child(242){background:#000000;}
.pixel:nth-child(243){background:#000000;}
.pixel:nth-child(244){background:#000000;}
.pixel:nth-child(245){background:#000000;}
.pixel:nth-child(246){background:#000000;}
.pixel:nth-child(247){background:#000000;}
.pixel:nth-child(249){background:#000000;}
.pixel:nth-child(250){background:#000000;}
.pixel:nth-child(257){background:#000000;}
.pixel:nth-child(266){background:#000000;}
.pixel:nth-child(267){background:#000000;}
.pixel:nth-child(277){background:#000000;}
.pixel:nth-child(285){background:#000000;}
.pixel:nth-child(293){background:#000000;}
.pixel:nth-child(304){background:#000000;}
.pixel:nth-child(305){background:#000000;}
.pixel:nth-child(329){background:#000000;}
.pixel:nth-child(342){background:#000000;}
.pixel:nth-child(343){background:#000000;}
.pixel:nth-child(363){background:#000000;}
.pixel:nth-child(365){background:#000000;}
.pixel:nth-child(381){background:#000000;}
.pixel:nth-child(382){background:#000000;}
.pixel:nth-child(384){background:#000000;}
.pixel:nth-child(401){background:#000000;}
.pixel:nth-child(408){background:#000000;}
.pixel:nth-child(420){background:#000000;}
.pixel:nth-child(438){background:#000000;}
.pixel:nth-child(445){background:#000000;}
.pixel:nth-child(446){background:#000000;}
.pixel:nth-child(457){background:#000000;}
.pixel:nth-child(475){background:#000000;}
.pixel:nth-child(482){background:#000000;}
.pixel:nth-child(484){background:#000000;}
.pixel:nth-child(493){background:#000000;}
.pixel:nth-child(513){background:#000000;}
.pixel:nth-child(519){background:#000000;}
.pixel:nth-child(522){background:#000000;}
.pixel:nth-child(530){background:#000000;}
.pixel:nth-child(550){background:#000000;}
.pixel:nth-child(556){background:#000000;}
.pixel:nth-child(560){background:#000000;}
.pixel:nth-child(567){background:#000000;}
.pixel:nth-child(587){background:#000000;}
.pixel:nth-child(593){background:#000000;}
.pixel:nth-child(598){background:#000000;}
.pixel:nth-child(603){background:#000000;}
.pixel:nth-child(625){background:#000000;}
.pixel:nth-child(630){background:#000000;}
.pixel:nth-child(636){background:#000000;}
.pixel:nth-child(640){background:#000000;}
.pixel:nth-child(662){background:#000000;}
.pixel:nth-child(667){background:#000000;}
.pixel:nth-child(674){background:#000000;}
.pixel:nth-child(677){background:#000000;}
.pixel:nth-child(699){background:#000000;}
.pixel:nth-child(704){background:#000000;}
.pixel:nth-child(712){background:#000000;}
.pixel:nth-child(714){background:#000000;}
.pixel:nth-child(736){background:#000000;}
.pixel:nth-child(741){background:#000000;}
.pixel:nth-child(750){background:#000000;}
.pixel:nth-child(751){background:#000000;}
.pixel:nth-child(752){background:#000000;}
.pixel:nth-child(772){background:#000000;}
.pixel:nth-child(778){background:#000000;}
.pixel:nth-child(788){background:#000000;}
.pixel:nth-child(789){background:#000000;}
.pixel:nth-child(809){background:#000000;}
.pixel:nth-child(816){background:#000000;}
.pixel:nth-child(825){background:#000000;}
.pixel:nth-child(827){background:#000000;}
.pixel:nth-child(845){background:#000000;}
.pixel:nth-child(854){background:#000000;}
.pixel:nth-child(861){background:#000000;}
.pixel:nth-child(863){background:#000000;}
.pixel:nth-child(883){background:#000000;}
.pixel:nth-child(892){background:#000000;}
.pixel:nth-child(897){background:#000000;}
.pixel:nth-child(900){background:#000000;}
.pixel:nth-child(901){background:#000000;}
.pixel:nth-child(920){background:#000000;}
.pixel:nth-child(928){background:#000000;}
.pixel:nth-child(933){background:#000000;}
.pixel:nth-child(937){background:#000000;}
.pixel:nth-child(957){background:#000000;}
.pixel:nth-child(965){background:#000000;}
.pixel:nth-child(971){background:#000000;}
.pixel:nth-child(973){background:#000000;}
.pixel:nth-child(994){background:#000000;}
.pixel:nth-child(1003){background:#000000;}
.pixel:nth-child(1009){background:#000000;}
.pixel:nth-child(1010){background:#000000;}
.pixel:nth-child(1032){background:#000000;}
.pixel:nth-child(1041){background:#000000;}
.pixel:nth-child(1047){background:#000000;}
.pixel:nth-child(1069){background:#000000;}
.pixel:nth-child(1079){background:#000000;}
.pixel:nth-child(1083){background:#000000;}
.pixel:nth-child(1084){background:#000000;}
.pixel:nth-child(1106){background:#000000;}
.pixel:nth-child(1117){background:#000000;}
.pixel:nth-child(1121){background:#000000;}
.pixel:nth-child(1143){background:#000000;}
.pixel:nth-child(1153){background:#000000;}
.pixel:nth-child(1158){background:#000000;}
.pixel:nth-child(1180){background:#000000;}
.pixel:nth-child(1191){background:#000000;}
.pixel:nth-child(1195){background:#000000;}
.pixel:nth-child(1217){background:#000000;}
.pixel:nth-child(1229){background:#000000;}
.pixel:nth-child(1230){background:#000000;}
.pixel:nth-child(1232){background:#000000;}
.pixel:nth-child(1254){background:#000000;}
.pixel:nth-child(1268){background:#000000;}
.pixel:nth-child(1269){background:#000000;}
.pixel:nth-child(1270){background:#000000;}
.pixel:nth-child(1290){background:#000000;}
.pixel:nth-child(1307){background:#000000;}
.pixel:nth-child(1327){background:#000000;}
.pixel:nth-child(1345){background:#000000;}
.pixel:nth-child(1363){background:#000000;}
.pixel:nth-child(1383){background:#000000;}
.pixel:nth-child(1388){background:#000000;}
.pixel:nth-child(1389){background:#000000;}
.pixel:nth-child(1390){background:#000000;}
.pixel:nth-child(1391){background:#000000;}
.pixel:nth-child(1392){background:#000000;}
.pixel:nth-child(1393){background:#000000;}
.pixel:nth-child(1394){background:#000000;}
.pixel:nth-child(1399){background:#000000;}
.pixel:nth-child(1419){background:#000000;}
.pixel:nth-child(1423){background:#000000;}
.pixel:nth-child(1424){background:#000000;}
.pixel:nth-child(1425){background:#000000;}
.pixel:nth-child(1432){background:#000000;}
.pixel:nth-child(1433){background:#000000;}
.pixel:nth-child(1437){background:#000000;}
.pixel:nth-child(1456){background:#000000;}
.pixel:nth-child(1457){background:#000000;}
.pixel:nth-child(1458){background:#000000;}
.pixel:nth-child(1459){background:#000000;}
.pixel:nth-child(1460){background:#000000;}
.pixel:nth-child(1470){background:#000000;}
.pixel:nth-child(1471){background:#000000;}
.pixel:nth-child(1472){background:#000000;}
.pixel:nth-child(1473){background:#000000;}
.pixel:nth-child(1474){background:#000000;}

.pixel:nth-child(192){background:#e8e8e8;}
.pixel:nth-child(193){background:#e8e8e8;}
.pixel:nth-child(194){background:#e8e8e8;}
.pixel:nth-child(219){background:#e8e8e8;}
.pixel:nth-child(230){background:#b9b9b9;}
.pixel:nth-child(235){background:#e8e8e8;}
.pixel:nth-child(255){background:#e8e8e8;}
.pixel:nth-child(256){background:#e8e8e8;}
.pixel:nth-child(268){background:#b9b9b9;}
.pixel:nth-child(269){background:#e8e8e8;}
.pixel:nth-child(276){background:#e8e8e8;}
.pixel:nth-child(286){background:#e8e8e8;}
.pixel:nth-child(291){background:#e8e8e8;}
.pixel:nth-child(292){background:#e8e8e8;}
.pixel:nth-child(306){background:#e8e8e8;}
.pixel:nth-child(307){background:#e8e8e8;}
.pixel:nth-child(308){background:#e8e8e8;}
.pixel:nth-child(326){background:#e8e8e8;}
.pixel:nth-child(327){background:#e8e8e8;}
.pixel:nth-child(328){background:#e8e8e8;}
.pixel:nth-child(344){background:#e8e8e8;}
.pixel:nth-child(345){background:#e8e8e8;}
.pixel:nth-child(346){background:#e8e8e8;}
.pixel:nth-child(347){background:#e8e8e8;}
.pixel:nth-child(348){background:#e8e8e8;}
.pixel:nth-child(362){background:#e8e8e8;}
.pixel:nth-child(364){background:#e8e8e8;}
.pixel:nth-child(383){background:#e8e8e8;}
.pixel:nth-child(400){background:#e8e8e8;}
.pixel:nth-child(483){background:#e8e8e8;}
.pixel:nth-child(494){background:#e8e8e8;}
.pixel:nth-child(512){background:#e8e8e8;}
.pixel:nth-child(521){background:#e8e8e8;}
.pixel:nth-child(559){background:#e8e8e8;}
.pixel:nth-child(597){background:#e8e8e8;}
.pixel:nth-child(635){background:#e8e8e8;}
.pixel:nth-child(673){background:#e8e8e8;}
.pixel:nth-child(711){background:#e8e8e8;}
.pixel:nth-child(749){background:#e8e8e8;}
.pixel:nth-child(787){background:#e8e8e8;}
.pixel:nth-child(790){background:#e8e8e8;}
.pixel:nth-child(808){background:#e8e8e8;}
.pixel:nth-child(864){background:#e8e8e8;}
.pixel:nth-child(872){background:#e8e8e8;}
.pixel:nth-child(873){background:#e8e8e8;}
.pixel:nth-child(874){background:#e8e8e8;}
.pixel:nth-child(875){background:#e8e8e8;}
.pixel:nth-child(882){background:#e8e8e8;}
.pixel:nth-child(910){background:#e8e8e8;}
.pixel:nth-child(911){background:#e8e8e8;}
.pixel:nth-child(1044){background:#e8e8e8;}
.pixel:nth-child(1045){background:#e8e8e8;}
.pixel:nth-child(1046){background:#b9b9b9;}
.pixel:nth-child(1051){background:#e8e8e8;}
.pixel:nth-child(1066){background:#e8e8e8;}
.pixel:nth-child(1080){background:#e8e8e8;}
.pixel:nth-child(1081){background:#e8e8e8;}
.pixel:nth-child(1082){background:#e8e8e8;}
.pixel:nth-child(1088){background:#e8e8e8;}
.pixel:nth-child(1103){background:#e8e8e8;}
.pixel:nth-child(1118){background:#e8e8e8;}
.pixel:nth-child(1119){background:#b9b9b9;}
.pixel:nth-child(1120){background:#b9b9b9;}
.pixel:nth-child(1126){background:#e8e8e8;}
.pixel:nth-child(1139){background:#e8e8e8;}
.pixel:nth-child(1154){background:#b9b9b9;}
.pixel:nth-child(1155){background:#b9b9b9;}
.pixel:nth-child(1156){background:#b9b9b9;}
.pixel:nth-child(1157){background:#b9b9b9;}
.pixel:nth-child(1164){background:#e8e8e8;}
.pixel:nth-child(1175){background:#e8e8e8;}
.pixel:nth-child(1192){background:#b9b9b9;}
.pixel:nth-child(1193){background:#b9b9b9;}
.pixel:nth-child(1194){background:#b9b9b9;}
.pixel:nth-child(1231){background:#b9b9b9;}
.pixel:nth-child(1233){background:#e8e8e8;}
.pixel:nth-child(1308){background:#e8e8e8;}
.pixel:nth-child(1352){background:#e8e8e8;}
.pixel:nth-child(1353){background:#e8e8e8;}
.pixel:nth-child(1354){background:#e8e8e8;}
.pixel:nth-child(1355){background:#e8e8e8;}
.pixel:nth-child(1356){background:#e8e8e8;}
.pixel:nth-child(1384){background:#e8e8e8;}
.pixel:nth-child(1386){background:#e8e8e8;}
.pixel:nth-child(1387){background:#e8e8e8;}
.pixel:nth-child(1395){background:#e8e8e8;}
.pixel:nth-child(1396){background:#e8e8e8;}
.pixel:nth-child(1398){background:#e8e8e8;}

.pixel:nth-child(461){background:#000000;}
.pixel:nth-child(462){background:#000000;}
.pixel:nth-child(471){background:#000000;}
.pixel:nth-child(472){background:#000000;}
.pixel:nth-child(497){background:#000000;}
.pixel:nth-child(498){background:#000000;}
.pixel:nth-child(499){background:#e8e8e8;}
.pixel:nth-child(500){background:#000000;}
.pixel:nth-child(507){background:#000000;}
.pixel:nth-child(508){background:#000000;}
.pixel:nth-child(509){background:#e8e8e8;}
.pixel:nth-child(510){background:#000000;}
.pixel:nth-child(534){background:#000000;}
.pixel:nth-child(535){background:#000000;}
.pixel:nth-child(536){background:#000000;}
.pixel:nth-child(537){background:#000000;}
.pixel:nth-child(544){background:#000000;}
.pixel:nth-child(545){background:#000000;}
.pixel:nth-child(546){background:#000000;}
.pixel:nth-child(547){background:#000000;}
.pixel:nth-child(572){background:#000000;}
.pixel:nth-child(573){background:#000000;}
.pixel:nth-child(582){background:#000000;}
.pixel:nth-child(583){background:#000000;}
.pixel:nth-child(614){background:#000000;}
.pixel:nth-child(615){background:#000000;}
.pixel:nth-child(685){background:#000000;}
.pixel:nth-child(688){background:#000000;}
.pixel:nth-child(689){background:#000000;}
.pixel:nth-child(692){background:#000000;}
.pixel:nth-child(723){background:#000000;}
.pixel:nth-child(724){background:#000000;}
.pixel:nth-child(727){background:#000000;}
.pixel:nth-child(728){background:#000000;}
.pixel:nth-child(944){background:#000000;}
.pixel:nth-child(951){background:#000000;}
.pixel:nth-child(977){background:#000000;}
.pixel:nth-child(981){background:#000000;}
.pixel:nth-child(988){background:#000000;}
.pixel:nth-child(992){background:#000000;}
.pixel:nth-child(1014){background:#000000;}
.pixel:nth-child(1019){background:#000000;}
.pixel:nth-child(1024){background:#000000;}
.pixel:nth-child(1029){background:#000000;}
.pixel:nth-child(1052){background:#000000;}
.pixel:nth-child(1056){background:#000000;}
.pixel:nth-child(1061){background:#000000;}
.pixel:nth-child(1065){background:#000000;}
.pixel:nth-child(1089){background:#000000;}
.pixel:nth-child(1093){background:#000000;}
.pixel:nth-child(1098){background:#000000;}
.pixel:nth-child(1102){background:#000000;}
.pixel:nth-child(1127){background:#000000;}
.pixel:nth-child(1130){background:#000000;}
.pixel:nth-child(1135){background:#000000;}
.pixel:nth-child(1138){background:#000000;}
.pixel:nth-child(1165){background:#000000;}
.pixel:nth-child(1166){background:#000000;}
.pixel:nth-child(1173){background:#000000;}
.pixel:nth-child(1174){background:#000000;}

.pixel:nth-child(606){background:#e8e8e8;}
.pixel:nth-child(607){background:#e8e8e8;}
.pixel:nth-child(622){background:#e8e8e8;}
.pixel:nth-child(623){background:#e8e8e8;}
.pixel:nth-child(642){background:#e8e8e8;}
.pixel:nth-child(643){background:#e8e8e8;}
.pixel:nth-child(644){background:#e8e8e8;}
.pixel:nth-child(645){background:#e8e8e8;}
.pixel:nth-child(658){background:#e8e8e8;}
.pixel:nth-child(659){background:#e8e8e8;}
.pixel:nth-child(660){background:#e8e8e8;}
.pixel:nth-child(661){background:#e8e8e8;}
.pixel:nth-child(679){background:#e8e8e8;}
.pixel:nth-child(680){background:#e8e8e8;}
.pixel:nth-child(681){background:#e8e8e8;}
.pixel:nth-child(682){background:#e8e8e8;}
.pixel:nth-child(695){background:#e8e8e8;}
.pixel:nth-child(696){background:#e8e8e8;}
.pixel:nth-child(697){background:#e8e8e8;}
.pixel:nth-child(698){background:#e8e8e8;}
.pixel:nth-child(717){background:#e8e8e8;}
.pixel:nth-child(718){background:#e8e8e8;}
.pixel:nth-child(733){background:#e8e8e8;}
.pixel:nth-child(734){background:#e8e8e8;}

