body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}.canvas {
width: 1920px;
height: 1920px;

}
.pixel {
width: 30px;
height: 30px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(3){background: #fbf19e;}
.pixel:nth-child(4){background: #fbf19e;}
.pixel:nth-child(5){background: #fbf19e;}
.pixel:nth-child(8){background: #fbf19e;}
.pixel:nth-child(67){background: #fbf19e;}
.pixel:nth-child(68){background: #fbf19e;}
.pixel:nth-child(69){background: #fbf19e;}
.pixel:nth-child(72){background: #fbf19e;}
.pixel:nth-child(131){background: #fbf19e;}
.pixel:nth-child(132){background: #fbf19e;}
.pixel:nth-child(133){background: #fbf19e;}
.pixel:nth-child(136){background: #fbf19e;}
.pixel:nth-child(19){background: #fbf19e;}
.pixel:nth-child(20){background: #fbf19e;}
.pixel:nth-child(21){background: #fbf19e;}
.pixel:nth-child(24){background: #fbf19e;}
.pixel:nth-child(83){background: #fbf19e;}
.pixel:nth-child(84){background: #fbf19e;}
.pixel:nth-child(85){background: #fbf19e;}
.pixel:nth-child(88){background: #fbf19e;}
.pixel:nth-child(147){background: #fbf19e;}
.pixel:nth-child(148){background: #fbf19e;}
.pixel:nth-child(149){background: #fbf19e;}
.pixel:nth-child(152){background: #fbf19e;}
.pixel:nth-child(35){background: #fbf19e;}
.pixel:nth-child(36){background: #fbf19e;}
.pixel:nth-child(37){background: #fbf19e;}
.pixel:nth-child(40){background: #fbf19e;}
.pixel:nth-child(99){background: #fbf19e;}
.pixel:nth-child(100){background: #fbf19e;}
.pixel:nth-child(101){background: #fbf19e;}
.pixel:nth-child(104){background: #fbf19e;}
.pixel:nth-child(163){background: #fbf19e;}
.pixel:nth-child(164){background: #fbf19e;}
.pixel:nth-child(165){background: #fbf19e;}
.pixel:nth-child(168){background: #fbf19e;}
.pixel:nth-child(51){background: #fbf19e;}
.pixel:nth-child(52){background: #fbf19e;}
.pixel:nth-child(53){background: #fbf19e;}
.pixel:nth-child(56){background: #fbf19e;}
.pixel:nth-child(115){background: #fbf19e;}
.pixel:nth-child(116){background: #fbf19e;}
.pixel:nth-child(117){background: #fbf19e;}
.pixel:nth-child(120){background: #fbf19e;}
.pixel:nth-child(179){background: #fbf19e;}
.pixel:nth-child(180){background: #fbf19e;}
.pixel:nth-child(181){background: #fbf19e;}
.pixel:nth-child(184){background: #fbf19e;}
.pixel:nth-child(3187){background: #fbf19e;}
.pixel:nth-child(3188){background: #fbf19e;}
.pixel:nth-child(3189){background: #fbf19e;}
.pixel:nth-child(3192){background: #fbf19e;}
.pixel:nth-child(3251){background: #fbf19e;}
.pixel:nth-child(3252){background: #fbf19e;}
.pixel:nth-child(3253){background: #fbf19e;}
.pixel:nth-child(3256){background: #fbf19e;}
.pixel:nth-child(3315){background: #fbf19e;}
.pixel:nth-child(3316){background: #fbf19e;}
.pixel:nth-child(3317){background: #fbf19e;}
.pixel:nth-child(3320){background: #fbf19e;}
.pixel:nth-child(3171){background: #fbf19e;}
.pixel:nth-child(3172){background: #fbf19e;}
.pixel:nth-child(3173){background: #fbf19e;}
.pixel:nth-child(3176){background: #fbf19e;}
.pixel:nth-child(3235){background: #fbf19e;}
.pixel:nth-child(3236){background: #fbf19e;}
.pixel:nth-child(3237){background: #fbf19e;}
.pixel:nth-child(3240){background: #fbf19e;}
.pixel:nth-child(3299){background: #fbf19e;}
.pixel:nth-child(3300){background: #fbf19e;}
.pixel:nth-child(3301){background: #fbf19e;}
.pixel:nth-child(3304){background: #fbf19e;}
.pixel:nth-child(3155){background: #fbf19e;}
.pixel:nth-child(3156){background: #fbf19e;}
.pixel:nth-child(3157){background: #fbf19e;}
.pixel:nth-child(3160){background: #fbf19e;}
.pixel:nth-child(3219){background: #fbf19e;}
.pixel:nth-child(3220){background: #fbf19e;}
.pixel:nth-child(3221){background: #fbf19e;}
.pixel:nth-child(3224){background: #fbf19e;}
.pixel:nth-child(3283){background: #fbf19e;}
.pixel:nth-child(3284){background: #fbf19e;}
.pixel:nth-child(3285){background: #fbf19e;}
.pixel:nth-child(3288){background: #fbf19e;}
.pixel:nth-child(3139){background: #fbf19e;}
.pixel:nth-child(3140){background: #fbf19e;}
.pixel:nth-child(3141){background: #fbf19e;}
.pixel:nth-child(3144){background: #fbf19e;}
.pixel:nth-child(3203){background: #fbf19e;}
.pixel:nth-child(3204){background: #fbf19e;}
.pixel:nth-child(3205){background: #fbf19e;}
.pixel:nth-child(3208){background: #fbf19e;}
.pixel:nth-child(3267){background: #fbf19e;}
.pixel:nth-child(3268){background: #fbf19e;}
.pixel:nth-child(3269){background: #fbf19e;}
.pixel:nth-child(3272){background: #fbf19e;}
.pixel:nth-child(2163){background: #fbf19e;}
.pixel:nth-child(2164){background: #fbf19e;}
.pixel:nth-child(2165){background: #fbf19e;}
.pixel:nth-child(2168){background: #fbf19e;}
.pixel:nth-child(2227){background: #fbf19e;}
.pixel:nth-child(2228){background: #fbf19e;}
.pixel:nth-child(2229){background: #fbf19e;}
.pixel:nth-child(2232){background: #fbf19e;}
.pixel:nth-child(2291){background: #fbf19e;}
.pixel:nth-child(2292){background: #fbf19e;}
.pixel:nth-child(2293){background: #fbf19e;}
.pixel:nth-child(2296){background: #fbf19e;}
.pixel:nth-child(2147){background: #fbf19e;}
.pixel:nth-child(2148){background: #fbf19e;}
.pixel:nth-child(2149){background: #fbf19e;}
.pixel:nth-child(2152){background: #fbf19e;}
.pixel:nth-child(2211){background: #fbf19e;}
.pixel:nth-child(2212){background: #fbf19e;}
.pixel:nth-child(2213){background: #fbf19e;}
.pixel:nth-child(2216){background: #fbf19e;}
.pixel:nth-child(2275){background: #fbf19e;}
.pixel:nth-child(2276){background: #fbf19e;}
.pixel:nth-child(2277){background: #fbf19e;}
.pixel:nth-child(2280){background: #fbf19e;}
.pixel:nth-child(2131){background: #fbf19e;}
.pixel:nth-child(2132){background: #fbf19e;}
.pixel:nth-child(2133){background: #fbf19e;}
.pixel:nth-child(2136){background: #fbf19e;}
.pixel:nth-child(2195){background: #fbf19e;}
.pixel:nth-child(2196){background: #fbf19e;}
.pixel:nth-child(2197){background: #fbf19e;}
.pixel:nth-child(2200){background: #fbf19e;}
.pixel:nth-child(2259){background: #fbf19e;}
.pixel:nth-child(2260){background: #fbf19e;}
.pixel:nth-child(2261){background: #fbf19e;}
.pixel:nth-child(2264){background: #fbf19e;}
.pixel:nth-child(2115){background: #fbf19e;}
.pixel:nth-child(2116){background: #fbf19e;}
.pixel:nth-child(2117){background: #fbf19e;}
.pixel:nth-child(2120){background: #fbf19e;}
.pixel:nth-child(2179){background: #fbf19e;}
.pixel:nth-child(2180){background: #fbf19e;}
.pixel:nth-child(2181){background: #fbf19e;}
.pixel:nth-child(2184){background: #fbf19e;}
.pixel:nth-child(2243){background: #fbf19e;}
.pixel:nth-child(2244){background: #fbf19e;}
.pixel:nth-child(2245){background: #fbf19e;}
.pixel:nth-child(2248){background: #fbf19e;}
.pixel:nth-child(1139){background: #fbf19e;}
.pixel:nth-child(1140){background: #fbf19e;}
.pixel:nth-child(1141){background: #fbf19e;}
.pixel:nth-child(1144){background: #fbf19e;}
.pixel:nth-child(1203){background: #fbf19e;}
.pixel:nth-child(1204){background: #fbf19e;}
.pixel:nth-child(1205){background: #fbf19e;}
.pixel:nth-child(1208){background: #fbf19e;}
.pixel:nth-child(1267){background: #fbf19e;}
.pixel:nth-child(1268){background: #fbf19e;}
.pixel:nth-child(1269){background: #fbf19e;}
.pixel:nth-child(1272){background: #fbf19e;}
.pixel:nth-child(1123){background: #fbf19e;}
.pixel:nth-child(1124){background: #fbf19e;}
.pixel:nth-child(1125){background: #fbf19e;}
.pixel:nth-child(1128){background: #fbf19e;}
.pixel:nth-child(1187){background: #fbf19e;}
.pixel:nth-child(1188){background: #fbf19e;}
.pixel:nth-child(1189){background: #fbf19e;}
.pixel:nth-child(1192){background: #fbf19e;}
.pixel:nth-child(1251){background: #fbf19e;}
.pixel:nth-child(1252){background: #fbf19e;}
.pixel:nth-child(1253){background: #fbf19e;}
.pixel:nth-child(1256){background: #fbf19e;}
.pixel:nth-child(1107){background: #fbf19e;}
.pixel:nth-child(1108){background: #fbf19e;}
.pixel:nth-child(1109){background: #fbf19e;}
.pixel:nth-child(1112){background: #fbf19e;}
.pixel:nth-child(1171){background: #fbf19e;}
.pixel:nth-child(1172){background: #fbf19e;}
.pixel:nth-child(1173){background: #fbf19e;}
.pixel:nth-child(1176){background: #fbf19e;}
.pixel:nth-child(1235){background: #fbf19e;}
.pixel:nth-child(1236){background: #fbf19e;}
.pixel:nth-child(1237){background: #fbf19e;}
.pixel:nth-child(1240){background: #fbf19e;}
.pixel:nth-child(1091){background: #fbf19e;}
.pixel:nth-child(1092){background: #fbf19e;}
.pixel:nth-child(1093){background: #fbf19e;}
.pixel:nth-child(1096){background: #fbf19e;}
.pixel:nth-child(1155){background: #fbf19e;}
.pixel:nth-child(1156){background: #fbf19e;}
.pixel:nth-child(1157){background: #fbf19e;}
.pixel:nth-child(1160){background: #fbf19e;}
.pixel:nth-child(1219){background: #fbf19e;}
.pixel:nth-child(1220){background: #fbf19e;}
.pixel:nth-child(1221){background: #fbf19e;}
.pixel:nth-child(1224){background: #fbf19e;}

.pixel:nth-child(195){background: #fbf19e;}
.pixel:nth-child(196){background: #fbf19e;}
.pixel:nth-child(197){background: #fbf19e;}
.pixel:nth-child(200){background: #fbf19e;}
.pixel:nth-child(259){background: #fbf19e;}
.pixel:nth-child(260){background: #fbf19e;}
.pixel:nth-child(261){background: #fbf19e;}
.pixel:nth-child(264){background: #fbf19e;}
.pixel:nth-child(323){background: #fbf19e;}
.pixel:nth-child(324){background: #fbf19e;}
.pixel:nth-child(325){background: #fbf19e;}
.pixel:nth-child(328){background: #fbf19e;}
.pixel:nth-child(211){background: #fbf19e;}
.pixel:nth-child(212){background: #fbf19e;}
.pixel:nth-child(213){background: #fbf19e;}
.pixel:nth-child(216){background: #fbf19e;}
.pixel:nth-child(275){background: #fbf19e;}
.pixel:nth-child(276){background: #fbf19e;}
.pixel:nth-child(277){background: #fbf19e;}
.pixel:nth-child(280){background: #fbf19e;}
.pixel:nth-child(339){background: #fbf19e;}
.pixel:nth-child(340){background: #fbf19e;}
.pixel:nth-child(341){background: #fbf19e;}
.pixel:nth-child(344){background: #fbf19e;}
.pixel:nth-child(227){background: #fbf19e;}
.pixel:nth-child(228){background: #fbf19e;}
.pixel:nth-child(229){background: #fbf19e;}
.pixel:nth-child(232){background: #fbf19e;}
.pixel:nth-child(291){background: #fbf19e;}
.pixel:nth-child(292){background: #fbf19e;}
.pixel:nth-child(293){background: #fbf19e;}
.pixel:nth-child(296){background: #fbf19e;}
.pixel:nth-child(355){background: #fbf19e;}
.pixel:nth-child(356){background: #fbf19e;}
.pixel:nth-child(357){background: #fbf19e;}
.pixel:nth-child(360){background: #fbf19e;}
.pixel:nth-child(243){background: #fbf19e;}
.pixel:nth-child(244){background: #fbf19e;}
.pixel:nth-child(245){background: #fbf19e;}
.pixel:nth-child(248){background: #fbf19e;}
.pixel:nth-child(307){background: #fbf19e;}
.pixel:nth-child(308){background: #fbf19e;}
.pixel:nth-child(309){background: #fbf19e;}
.pixel:nth-child(312){background: #fbf19e;}
.pixel:nth-child(371){background: #fbf19e;}
.pixel:nth-child(372){background: #fbf19e;}
.pixel:nth-child(373){background: #fbf19e;}
.pixel:nth-child(376){background: #fbf19e;}
.pixel:nth-child(3379){background: #fbf19e;}
.pixel:nth-child(3380){background: #fbf19e;}
.pixel:nth-child(3381){background: #fbf19e;}
.pixel:nth-child(3384){background: #fbf19e;}
.pixel:nth-child(3443){background: #fbf19e;}
.pixel:nth-child(3444){background: #fbf19e;}
.pixel:nth-child(3445){background: #fbf19e;}
.pixel:nth-child(3448){background: #fbf19e;}
.pixel:nth-child(3507){background: #fbf19e;}
.pixel:nth-child(3508){background: #fbf19e;}
.pixel:nth-child(3509){background: #fbf19e;}
.pixel:nth-child(3512){background: #fbf19e;}
.pixel:nth-child(3363){background: #fbf19e;}
.pixel:nth-child(3364){background: #fbf19e;}
.pixel:nth-child(3365){background: #fbf19e;}
.pixel:nth-child(3368){background: #fbf19e;}
.pixel:nth-child(3427){background: #fbf19e;}
.pixel:nth-child(3428){background: #fbf19e;}
.pixel:nth-child(3429){background: #fbf19e;}
.pixel:nth-child(3432){background: #fbf19e;}
.pixel:nth-child(3491){background: #fbf19e;}
.pixel:nth-child(3492){background: #fbf19e;}
.pixel:nth-child(3493){background: #fbf19e;}
.pixel:nth-child(3496){background: #fbf19e;}
.pixel:nth-child(3347){background: #fbf19e;}
.pixel:nth-child(3348){background: #fbf19e;}
.pixel:nth-child(3349){background: #fbf19e;}
.pixel:nth-child(3352){background: #fbf19e;}
.pixel:nth-child(3411){background: #fbf19e;}
.pixel:nth-child(3412){background: #fbf19e;}
.pixel:nth-child(3413){background: #fbf19e;}
.pixel:nth-child(3416){background: #fbf19e;}
.pixel:nth-child(3475){background: #fbf19e;}
.pixel:nth-child(3476){background: #fbf19e;}
.pixel:nth-child(3477){background: #fbf19e;}
.pixel:nth-child(3480){background: #fbf19e;}
.pixel:nth-child(3331){background: #fbf19e;}
.pixel:nth-child(3332){background: #fbf19e;}
.pixel:nth-child(3333){background: #fbf19e;}
.pixel:nth-child(3336){background: #fbf19e;}
.pixel:nth-child(3395){background: #fbf19e;}
.pixel:nth-child(3396){background: #fbf19e;}
.pixel:nth-child(3397){background: #fbf19e;}
.pixel:nth-child(3400){background: #fbf19e;}
.pixel:nth-child(3459){background: #fbf19e;}
.pixel:nth-child(3460){background: #fbf19e;}
.pixel:nth-child(3461){background: #fbf19e;}
.pixel:nth-child(3464){background: #fbf19e;}
.pixel:nth-child(2355){background: #fbf19e;}
.pixel:nth-child(2356){background: #fbf19e;}
.pixel:nth-child(2357){background: #fbf19e;}
.pixel:nth-child(2360){background: #fbf19e;}
.pixel:nth-child(2419){background: #fbf19e;}
.pixel:nth-child(2420){background: #fbf19e;}
.pixel:nth-child(2421){background: #fbf19e;}
.pixel:nth-child(2424){background: #fbf19e;}
.pixel:nth-child(2483){background: #fbf19e;}
.pixel:nth-child(2484){background: #fbf19e;}
.pixel:nth-child(2485){background: #fbf19e;}
.pixel:nth-child(2488){background: #fbf19e;}
.pixel:nth-child(2339){background: #fbf19e;}
.pixel:nth-child(2340){background: #fbf19e;}
.pixel:nth-child(2341){background: #fbf19e;}
.pixel:nth-child(2344){background: #fbf19e;}
.pixel:nth-child(2403){background: #fbf19e;}
.pixel:nth-child(2404){background: #fbf19e;}
.pixel:nth-child(2405){background: #fbf19e;}
.pixel:nth-child(2408){background: #fbf19e;}
.pixel:nth-child(2467){background: #fbf19e;}
.pixel:nth-child(2468){background: #fbf19e;}
.pixel:nth-child(2469){background: #fbf19e;}
.pixel:nth-child(2472){background: #fbf19e;}
.pixel:nth-child(2323){background: #fbf19e;}
.pixel:nth-child(2324){background: #fbf19e;}
.pixel:nth-child(2325){background: #fbf19e;}
.pixel:nth-child(2328){background: #fbf19e;}
.pixel:nth-child(2387){background: #fbf19e;}
.pixel:nth-child(2388){background: #fbf19e;}
.pixel:nth-child(2389){background: #fbf19e;}
.pixel:nth-child(2392){background: #fbf19e;}
.pixel:nth-child(2451){background: #fbf19e;}
.pixel:nth-child(2452){background: #fbf19e;}
.pixel:nth-child(2453){background: #fbf19e;}
.pixel:nth-child(2456){background: #fbf19e;}
.pixel:nth-child(2307){background: #fbf19e;}
.pixel:nth-child(2308){background: #fbf19e;}
.pixel:nth-child(2309){background: #fbf19e;}
.pixel:nth-child(2312){background: #fbf19e;}
.pixel:nth-child(2371){background: #fbf19e;}
.pixel:nth-child(2372){background: #fbf19e;}
.pixel:nth-child(2373){background: #fbf19e;}
.pixel:nth-child(2376){background: #fbf19e;}
.pixel:nth-child(2435){background: #fbf19e;}
.pixel:nth-child(2436){background: #fbf19e;}
.pixel:nth-child(2437){background: #fbf19e;}
.pixel:nth-child(2440){background: #fbf19e;}
.pixel:nth-child(1331){background: #fbf19e;}
.pixel:nth-child(1332){background: #fbf19e;}
.pixel:nth-child(1333){background: #fbf19e;}
.pixel:nth-child(1336){background: #fbf19e;}
.pixel:nth-child(1395){background: #fbf19e;}
.pixel:nth-child(1396){background: #fbf19e;}
.pixel:nth-child(1397){background: #fbf19e;}
.pixel:nth-child(1400){background: #fbf19e;}
.pixel:nth-child(1459){background: #fbf19e;}
.pixel:nth-child(1460){background: #fbf19e;}
.pixel:nth-child(1461){background: #fbf19e;}
.pixel:nth-child(1464){background: #fbf19e;}
.pixel:nth-child(1315){background: #fbf19e;}
.pixel:nth-child(1316){background: #fbf19e;}
.pixel:nth-child(1317){background: #fbf19e;}
.pixel:nth-child(1320){background: #fbf19e;}
.pixel:nth-child(1379){background: #fbf19e;}
.pixel:nth-child(1380){background: #fbf19e;}
.pixel:nth-child(1381){background: #fbf19e;}
.pixel:nth-child(1384){background: #fbf19e;}
.pixel:nth-child(1443){background: #fbf19e;}
.pixel:nth-child(1444){background: #fbf19e;}
.pixel:nth-child(1445){background: #fbf19e;}
.pixel:nth-child(1448){background: #fbf19e;}
.pixel:nth-child(1299){background: #fbf19e;}
.pixel:nth-child(1300){background: #fbf19e;}
.pixel:nth-child(1301){background: #fbf19e;}
.pixel:nth-child(1304){background: #fbf19e;}
.pixel:nth-child(1363){background: #fbf19e;}
.pixel:nth-child(1364){background: #fbf19e;}
.pixel:nth-child(1365){background: #fbf19e;}
.pixel:nth-child(1368){background: #fbf19e;}
.pixel:nth-child(1427){background: #fbf19e;}
.pixel:nth-child(1428){background: #fbf19e;}
.pixel:nth-child(1429){background: #fbf19e;}
.pixel:nth-child(1432){background: #fbf19e;}
.pixel:nth-child(1283){background: #fbf19e;}
.pixel:nth-child(1284){background: #fbf19e;}
.pixel:nth-child(1285){background: #fbf19e;}
.pixel:nth-child(1288){background: #fbf19e;}
.pixel:nth-child(1347){background: #fbf19e;}
.pixel:nth-child(1348){background: #fbf19e;}
.pixel:nth-child(1349){background: #fbf19e;}
.pixel:nth-child(1352){background: #fbf19e;}
.pixel:nth-child(1411){background: #fbf19e;}
.pixel:nth-child(1412){background: #fbf19e;}
.pixel:nth-child(1413){background: #fbf19e;}
.pixel:nth-child(1416){background: #fbf19e;}

