body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}.canvas {
width: 900px;
height: 2250px;

}
.pixel {
width: 30px;
height: 30px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(213){background: #fbf19e;}
.pixel:nth-child(214){background: #fbf19e;}
.pixel:nth-child(273){background: #fbf19e;}
.pixel:nth-child(304){background: #fbf19e;}
.pixel:nth-child(335){background: #fbf19e;}
.pixel:nth-child(219){background: #fbf19e;}
.pixel:nth-child(220){background: #fbf19e;}
.pixel:nth-child(279){background: #fbf19e;}
.pixel:nth-child(310){background: #fbf19e;}
.pixel:nth-child(341){background: #fbf19e;}
.pixel:nth-child(225){background: #fbf19e;}
.pixel:nth-child(226){background: #fbf19e;}
.pixel:nth-child(285){background: #fbf19e;}
.pixel:nth-child(316){background: #fbf19e;}
.pixel:nth-child(347){background: #fbf19e;}
.pixel:nth-child(231){background: #fbf19e;}
.pixel:nth-child(232){background: #fbf19e;}
.pixel:nth-child(291){background: #fbf19e;}
.pixel:nth-child(322){background: #fbf19e;}
.pixel:nth-child(353){background: #fbf19e;}
.pixel:nth-child(237){background: #fbf19e;}
.pixel:nth-child(238){background: #fbf19e;}
.pixel:nth-child(297){background: #fbf19e;}
.pixel:nth-child(328){background: #fbf19e;}
.pixel:nth-child(359){background: #fbf19e;}
.pixel:nth-child(2067){background: #fbf19e;}
.pixel:nth-child(2068){background: #fbf19e;}
.pixel:nth-child(2127){background: #fbf19e;}
.pixel:nth-child(2158){background: #fbf19e;}
.pixel:nth-child(2189){background: #fbf19e;}
.pixel:nth-child(2061){background: #fbf19e;}
.pixel:nth-child(2062){background: #fbf19e;}
.pixel:nth-child(2121){background: #fbf19e;}
.pixel:nth-child(2152){background: #fbf19e;}
.pixel:nth-child(2183){background: #fbf19e;}
.pixel:nth-child(2055){background: #fbf19e;}
.pixel:nth-child(2056){background: #fbf19e;}
.pixel:nth-child(2115){background: #fbf19e;}
.pixel:nth-child(2146){background: #fbf19e;}
.pixel:nth-child(2177){background: #fbf19e;}
.pixel:nth-child(2049){background: #fbf19e;}
.pixel:nth-child(2050){background: #fbf19e;}
.pixel:nth-child(2109){background: #fbf19e;}
.pixel:nth-child(2140){background: #fbf19e;}
.pixel:nth-child(2171){background: #fbf19e;}
.pixel:nth-child(2043){background: #fbf19e;}
.pixel:nth-child(2044){background: #fbf19e;}
.pixel:nth-child(2103){background: #fbf19e;}
.pixel:nth-child(2134){background: #fbf19e;}
.pixel:nth-child(2165){background: #fbf19e;}
.pixel:nth-child(1617){background: #fbf19e;}
.pixel:nth-child(1618){background: #fbf19e;}
.pixel:nth-child(1677){background: #fbf19e;}
.pixel:nth-child(1708){background: #fbf19e;}
.pixel:nth-child(1739){background: #fbf19e;}
.pixel:nth-child(1611){background: #fbf19e;}
.pixel:nth-child(1612){background: #fbf19e;}
.pixel:nth-child(1671){background: #fbf19e;}
.pixel:nth-child(1702){background: #fbf19e;}
.pixel:nth-child(1733){background: #fbf19e;}
.pixel:nth-child(1605){background: #fbf19e;}
.pixel:nth-child(1606){background: #fbf19e;}
.pixel:nth-child(1665){background: #fbf19e;}
.pixel:nth-child(1696){background: #fbf19e;}
.pixel:nth-child(1727){background: #fbf19e;}
.pixel:nth-child(1599){background: #fbf19e;}
.pixel:nth-child(1600){background: #fbf19e;}
.pixel:nth-child(1659){background: #fbf19e;}
.pixel:nth-child(1690){background: #fbf19e;}
.pixel:nth-child(1721){background: #fbf19e;}
.pixel:nth-child(1593){background: #fbf19e;}
.pixel:nth-child(1594){background: #fbf19e;}
.pixel:nth-child(1653){background: #fbf19e;}
.pixel:nth-child(1684){background: #fbf19e;}
.pixel:nth-child(1715){background: #fbf19e;}
.pixel:nth-child(1167){background: #fbf19e;}
.pixel:nth-child(1168){background: #fbf19e;}
.pixel:nth-child(1227){background: #fbf19e;}
.pixel:nth-child(1258){background: #fbf19e;}
.pixel:nth-child(1289){background: #fbf19e;}
.pixel:nth-child(1161){background: #fbf19e;}
.pixel:nth-child(1162){background: #fbf19e;}
.pixel:nth-child(1221){background: #fbf19e;}
.pixel:nth-child(1252){background: #fbf19e;}
.pixel:nth-child(1283){background: #fbf19e;}
.pixel:nth-child(1155){background: #fbf19e;}
.pixel:nth-child(1156){background: #fbf19e;}
.pixel:nth-child(1215){background: #fbf19e;}
.pixel:nth-child(1246){background: #fbf19e;}
.pixel:nth-child(1277){background: #fbf19e;}
.pixel:nth-child(1149){background: #fbf19e;}
.pixel:nth-child(1150){background: #fbf19e;}
.pixel:nth-child(1209){background: #fbf19e;}
.pixel:nth-child(1240){background: #fbf19e;}
.pixel:nth-child(1271){background: #fbf19e;}
.pixel:nth-child(1143){background: #fbf19e;}
.pixel:nth-child(1144){background: #fbf19e;}
.pixel:nth-child(1203){background: #fbf19e;}
.pixel:nth-child(1234){background: #fbf19e;}
.pixel:nth-child(1265){background: #fbf19e;}
.pixel:nth-child(717){background: #fbf19e;}
.pixel:nth-child(718){background: #fbf19e;}
.pixel:nth-child(777){background: #fbf19e;}
.pixel:nth-child(808){background: #fbf19e;}
.pixel:nth-child(839){background: #fbf19e;}
.pixel:nth-child(711){background: #fbf19e;}
.pixel:nth-child(712){background: #fbf19e;}
.pixel:nth-child(771){background: #fbf19e;}
.pixel:nth-child(802){background: #fbf19e;}
.pixel:nth-child(833){background: #fbf19e;}
.pixel:nth-child(705){background: #fbf19e;}
.pixel:nth-child(706){background: #fbf19e;}
.pixel:nth-child(765){background: #fbf19e;}
.pixel:nth-child(796){background: #fbf19e;}
.pixel:nth-child(827){background: #fbf19e;}
.pixel:nth-child(699){background: #fbf19e;}
.pixel:nth-child(700){background: #fbf19e;}
.pixel:nth-child(759){background: #fbf19e;}
.pixel:nth-child(790){background: #fbf19e;}
.pixel:nth-child(821){background: #fbf19e;}
.pixel:nth-child(693){background: #fbf19e;}
.pixel:nth-child(694){background: #fbf19e;}
.pixel:nth-child(753){background: #fbf19e;}
.pixel:nth-child(784){background: #fbf19e;}
.pixel:nth-child(815){background: #fbf19e;}

.pixel:nth-child(62){background: #fbf19e;}
.pixel:nth-child(63){background: #fbf19e;}
.pixel:nth-child(64){background: #fbf19e;}
.pixel:nth-child(92){background: #fbf19e;}
.pixel:nth-child(95){background: #fbf19e;}
.pixel:nth-child(122){background: #fbf19e;}
.pixel:nth-child(125){background: #fbf19e;}
.pixel:nth-child(152){background: #fbf19e;}
.pixel:nth-child(155){background: #fbf19e;}
.pixel:nth-child(182){background: #fbf19e;}
.pixel:nth-child(185){background: #fbf19e;}
.pixel:nth-child(212){background: #fbf19e;}
.pixel:nth-child(242){background: #fbf19e;}
.pixel:nth-child(272){background: #fbf19e;}
.pixel:nth-child(302){background: #fbf19e;}
.pixel:nth-child(332){background: #fbf19e;}
.pixel:nth-child(68){background: #fbf19e;}
.pixel:nth-child(69){background: #fbf19e;}
.pixel:nth-child(70){background: #fbf19e;}
.pixel:nth-child(98){background: #fbf19e;}
.pixel:nth-child(101){background: #fbf19e;}
.pixel:nth-child(128){background: #fbf19e;}
.pixel:nth-child(131){background: #fbf19e;}
.pixel:nth-child(158){background: #fbf19e;}
.pixel:nth-child(161){background: #fbf19e;}
.pixel:nth-child(188){background: #fbf19e;}
.pixel:nth-child(191){background: #fbf19e;}
.pixel:nth-child(218){background: #fbf19e;}
.pixel:nth-child(248){background: #fbf19e;}
.pixel:nth-child(278){background: #fbf19e;}
.pixel:nth-child(308){background: #fbf19e;}
.pixel:nth-child(338){background: #fbf19e;}
.pixel:nth-child(74){background: #fbf19e;}
.pixel:nth-child(75){background: #fbf19e;}
.pixel:nth-child(76){background: #fbf19e;}
.pixel:nth-child(104){background: #fbf19e;}
.pixel:nth-child(107){background: #fbf19e;}
.pixel:nth-child(134){background: #fbf19e;}
.pixel:nth-child(137){background: #fbf19e;}
.pixel:nth-child(164){background: #fbf19e;}
.pixel:nth-child(167){background: #fbf19e;}
.pixel:nth-child(194){background: #fbf19e;}
.pixel:nth-child(197){background: #fbf19e;}
.pixel:nth-child(224){background: #fbf19e;}
.pixel:nth-child(254){background: #fbf19e;}
.pixel:nth-child(284){background: #fbf19e;}
.pixel:nth-child(314){background: #fbf19e;}
.pixel:nth-child(344){background: #fbf19e;}
.pixel:nth-child(80){background: #fbf19e;}
.pixel:nth-child(81){background: #fbf19e;}
.pixel:nth-child(82){background: #fbf19e;}
.pixel:nth-child(110){background: #fbf19e;}
.pixel:nth-child(113){background: #fbf19e;}
.pixel:nth-child(140){background: #fbf19e;}
.pixel:nth-child(143){background: #fbf19e;}
.pixel:nth-child(170){background: #fbf19e;}
.pixel:nth-child(173){background: #fbf19e;}
.pixel:nth-child(200){background: #fbf19e;}
.pixel:nth-child(203){background: #fbf19e;}
.pixel:nth-child(230){background: #fbf19e;}
.pixel:nth-child(260){background: #fbf19e;}
.pixel:nth-child(290){background: #fbf19e;}
.pixel:nth-child(320){background: #fbf19e;}
.pixel:nth-child(350){background: #fbf19e;}
.pixel:nth-child(86){background: #fbf19e;}
.pixel:nth-child(87){background: #fbf19e;}
.pixel:nth-child(88){background: #fbf19e;}
.pixel:nth-child(116){background: #fbf19e;}
.pixel:nth-child(119){background: #fbf19e;}
.pixel:nth-child(146){background: #fbf19e;}
.pixel:nth-child(149){background: #fbf19e;}
.pixel:nth-child(176){background: #fbf19e;}
.pixel:nth-child(179){background: #fbf19e;}
.pixel:nth-child(206){background: #fbf19e;}
.pixel:nth-child(209){background: #fbf19e;}
.pixel:nth-child(236){background: #fbf19e;}
.pixel:nth-child(266){background: #fbf19e;}
.pixel:nth-child(296){background: #fbf19e;}
.pixel:nth-child(326){background: #fbf19e;}
.pixel:nth-child(356){background: #fbf19e;}
.pixel:nth-child(1916){background: #fbf19e;}
.pixel:nth-child(1917){background: #fbf19e;}
.pixel:nth-child(1918){background: #fbf19e;}
.pixel:nth-child(1946){background: #fbf19e;}
.pixel:nth-child(1949){background: #fbf19e;}
.pixel:nth-child(1976){background: #fbf19e;}
.pixel:nth-child(1979){background: #fbf19e;}
.pixel:nth-child(2006){background: #fbf19e;}
.pixel:nth-child(2009){background: #fbf19e;}
.pixel:nth-child(2036){background: #fbf19e;}
.pixel:nth-child(2039){background: #fbf19e;}
.pixel:nth-child(2066){background: #fbf19e;}
.pixel:nth-child(2096){background: #fbf19e;}
.pixel:nth-child(2126){background: #fbf19e;}
.pixel:nth-child(2156){background: #fbf19e;}
.pixel:nth-child(2186){background: #fbf19e;}
.pixel:nth-child(1910){background: #fbf19e;}
.pixel:nth-child(1911){background: #fbf19e;}
.pixel:nth-child(1912){background: #fbf19e;}
.pixel:nth-child(1940){background: #fbf19e;}
.pixel:nth-child(1943){background: #fbf19e;}
.pixel:nth-child(1970){background: #fbf19e;}
.pixel:nth-child(1973){background: #fbf19e;}
.pixel:nth-child(2000){background: #fbf19e;}
.pixel:nth-child(2003){background: #fbf19e;}
.pixel:nth-child(2030){background: #fbf19e;}
.pixel:nth-child(2033){background: #fbf19e;}
.pixel:nth-child(2060){background: #fbf19e;}
.pixel:nth-child(2090){background: #fbf19e;}
.pixel:nth-child(2120){background: #fbf19e;}
.pixel:nth-child(2150){background: #fbf19e;}
.pixel:nth-child(2180){background: #fbf19e;}
.pixel:nth-child(1904){background: #fbf19e;}
.pixel:nth-child(1905){background: #fbf19e;}
.pixel:nth-child(1906){background: #fbf19e;}
.pixel:nth-child(1934){background: #fbf19e;}
.pixel:nth-child(1937){background: #fbf19e;}
.pixel:nth-child(1964){background: #fbf19e;}
.pixel:nth-child(1967){background: #fbf19e;}
.pixel:nth-child(1994){background: #fbf19e;}
.pixel:nth-child(1997){background: #fbf19e;}
.pixel:nth-child(2024){background: #fbf19e;}
.pixel:nth-child(2027){background: #fbf19e;}
.pixel:nth-child(2054){background: #fbf19e;}
.pixel:nth-child(2084){background: #fbf19e;}
.pixel:nth-child(2114){background: #fbf19e;}
.pixel:nth-child(2144){background: #fbf19e;}
.pixel:nth-child(2174){background: #fbf19e;}
.pixel:nth-child(1898){background: #fbf19e;}
.pixel:nth-child(1899){background: #fbf19e;}
.pixel:nth-child(1900){background: #fbf19e;}
.pixel:nth-child(1928){background: #fbf19e;}
.pixel:nth-child(1931){background: #fbf19e;}
.pixel:nth-child(1958){background: #fbf19e;}
.pixel:nth-child(1961){background: #fbf19e;}
.pixel:nth-child(1988){background: #fbf19e;}
.pixel:nth-child(1991){background: #fbf19e;}
.pixel:nth-child(2018){background: #fbf19e;}
.pixel:nth-child(2021){background: #fbf19e;}
.pixel:nth-child(2048){background: #fbf19e;}
.pixel:nth-child(2078){background: #fbf19e;}
.pixel:nth-child(2108){background: #fbf19e;}
.pixel:nth-child(2138){background: #fbf19e;}
.pixel:nth-child(2168){background: #fbf19e;}
.pixel:nth-child(1892){background: #fbf19e;}
.pixel:nth-child(1893){background: #fbf19e;}
.pixel:nth-child(1894){background: #fbf19e;}
.pixel:nth-child(1922){background: #fbf19e;}
.pixel:nth-child(1925){background: #fbf19e;}
.pixel:nth-child(1952){background: #fbf19e;}
.pixel:nth-child(1955){background: #fbf19e;}
.pixel:nth-child(1982){background: #fbf19e;}
.pixel:nth-child(1985){background: #fbf19e;}
.pixel:nth-child(2012){background: #fbf19e;}
.pixel:nth-child(2015){background: #fbf19e;}
.pixel:nth-child(2042){background: #fbf19e;}
.pixel:nth-child(2072){background: #fbf19e;}
.pixel:nth-child(2102){background: #fbf19e;}
.pixel:nth-child(2132){background: #fbf19e;}
.pixel:nth-child(2162){background: #fbf19e;}
.pixel:nth-child(1466){background: #fbf19e;}
.pixel:nth-child(1467){background: #fbf19e;}
.pixel:nth-child(1468){background: #fbf19e;}
.pixel:nth-child(1496){background: #fbf19e;}
.pixel:nth-child(1499){background: #fbf19e;}
.pixel:nth-child(1526){background: #fbf19e;}
.pixel:nth-child(1529){background: #fbf19e;}
.pixel:nth-child(1556){background: #fbf19e;}
.pixel:nth-child(1559){background: #fbf19e;}
.pixel:nth-child(1586){background: #fbf19e;}
.pixel:nth-child(1589){background: #fbf19e;}
.pixel:nth-child(1616){background: #fbf19e;}
.pixel:nth-child(1646){background: #fbf19e;}
.pixel:nth-child(1676){background: #fbf19e;}
.pixel:nth-child(1706){background: #fbf19e;}
.pixel:nth-child(1736){background: #fbf19e;}
.pixel:nth-child(1460){background: #fbf19e;}
.pixel:nth-child(1461){background: #fbf19e;}
.pixel:nth-child(1462){background: #fbf19e;}
.pixel:nth-child(1490){background: #fbf19e;}
.pixel:nth-child(1493){background: #fbf19e;}
.pixel:nth-child(1520){background: #fbf19e;}
.pixel:nth-child(1523){background: #fbf19e;}
.pixel:nth-child(1550){background: #fbf19e;}
.pixel:nth-child(1553){background: #fbf19e;}
.pixel:nth-child(1580){background: #fbf19e;}
.pixel:nth-child(1583){background: #fbf19e;}
.pixel:nth-child(1610){background: #fbf19e;}
.pixel:nth-child(1640){background: #fbf19e;}
.pixel:nth-child(1670){background: #fbf19e;}
.pixel:nth-child(1700){background: #fbf19e;}
.pixel:nth-child(1730){background: #fbf19e;}
.pixel:nth-child(1454){background: #fbf19e;}
.pixel:nth-child(1455){background: #fbf19e;}
.pixel:nth-child(1456){background: #fbf19e;}
.pixel:nth-child(1484){background: #fbf19e;}
.pixel:nth-child(1487){background: #fbf19e;}
.pixel:nth-child(1514){background: #fbf19e;}
.pixel:nth-child(1517){background: #fbf19e;}
.pixel:nth-child(1544){background: #fbf19e;}
.pixel:nth-child(1547){background: #fbf19e;}
.pixel:nth-child(1574){background: #fbf19e;}
.pixel:nth-child(1577){background: #fbf19e;}
.pixel:nth-child(1604){background: #fbf19e;}
.pixel:nth-child(1634){background: #fbf19e;}
.pixel:nth-child(1664){background: #fbf19e;}
.pixel:nth-child(1694){background: #fbf19e;}
.pixel:nth-child(1724){background: #fbf19e;}
.pixel:nth-child(1448){background: #fbf19e;}
.pixel:nth-child(1449){background: #fbf19e;}
.pixel:nth-child(1450){background: #fbf19e;}
.pixel:nth-child(1478){background: #fbf19e;}
.pixel:nth-child(1481){background: #fbf19e;}
.pixel:nth-child(1508){background: #fbf19e;}
.pixel:nth-child(1511){background: #fbf19e;}
.pixel:nth-child(1538){background: #fbf19e;}
.pixel:nth-child(1541){background: #fbf19e;}
.pixel:nth-child(1568){background: #fbf19e;}
.pixel:nth-child(1571){background: #fbf19e;}
.pixel:nth-child(1598){background: #fbf19e;}
.pixel:nth-child(1628){background: #fbf19e;}
.pixel:nth-child(1658){background: #fbf19e;}
.pixel:nth-child(1688){background: #fbf19e;}
.pixel:nth-child(1718){background: #fbf19e;}
.pixel:nth-child(1442){background: #fbf19e;}
.pixel:nth-child(1443){background: #fbf19e;}
.pixel:nth-child(1444){background: #fbf19e;}
.pixel:nth-child(1472){background: #fbf19e;}
.pixel:nth-child(1475){background: #fbf19e;}
.pixel:nth-child(1502){background: #fbf19e;}
.pixel:nth-child(1505){background: #fbf19e;}
.pixel:nth-child(1532){background: #fbf19e;}
.pixel:nth-child(1535){background: #fbf19e;}
.pixel:nth-child(1562){background: #fbf19e;}
.pixel:nth-child(1565){background: #fbf19e;}
.pixel:nth-child(1592){background: #fbf19e;}
.pixel:nth-child(1622){background: #fbf19e;}
.pixel:nth-child(1652){background: #fbf19e;}
.pixel:nth-child(1682){background: #fbf19e;}
.pixel:nth-child(1712){background: #fbf19e;}
.pixel:nth-child(1016){background: #fbf19e;}
.pixel:nth-child(1017){background: #fbf19e;}
.pixel:nth-child(1018){background: #fbf19e;}
.pixel:nth-child(1046){background: #fbf19e;}
.pixel:nth-child(1049){background: #fbf19e;}
.pixel:nth-child(1076){background: #fbf19e;}
.pixel:nth-child(1079){background: #fbf19e;}
.pixel:nth-child(1106){background: #fbf19e;}
.pixel:nth-child(1109){background: #fbf19e;}
.pixel:nth-child(1136){background: #fbf19e;}
.pixel:nth-child(1139){background: #fbf19e;}
.pixel:nth-child(1166){background: #fbf19e;}
.pixel:nth-child(1196){background: #fbf19e;}
.pixel:nth-child(1226){background: #fbf19e;}
.pixel:nth-child(1256){background: #fbf19e;}
.pixel:nth-child(1286){background: #fbf19e;}
.pixel:nth-child(1010){background: #fbf19e;}
.pixel:nth-child(1011){background: #fbf19e;}
.pixel:nth-child(1012){background: #fbf19e;}
.pixel:nth-child(1040){background: #fbf19e;}
.pixel:nth-child(1043){background: #fbf19e;}
.pixel:nth-child(1070){background: #fbf19e;}
.pixel:nth-child(1073){background: #fbf19e;}
.pixel:nth-child(1100){background: #fbf19e;}
.pixel:nth-child(1103){background: #fbf19e;}
.pixel:nth-child(1130){background: #fbf19e;}
.pixel:nth-child(1133){background: #fbf19e;}
.pixel:nth-child(1160){background: #fbf19e;}
.pixel:nth-child(1190){background: #fbf19e;}
.pixel:nth-child(1220){background: #fbf19e;}
.pixel:nth-child(1250){background: #fbf19e;}
.pixel:nth-child(1280){background: #fbf19e;}
.pixel:nth-child(1004){background: #fbf19e;}
.pixel:nth-child(1005){background: #fbf19e;}
.pixel:nth-child(1006){background: #fbf19e;}
.pixel:nth-child(1034){background: #fbf19e;}
.pixel:nth-child(1037){background: #fbf19e;}
.pixel:nth-child(1064){background: #fbf19e;}
.pixel:nth-child(1067){background: #fbf19e;}
.pixel:nth-child(1094){background: #fbf19e;}
.pixel:nth-child(1097){background: #fbf19e;}
.pixel:nth-child(1124){background: #fbf19e;}
.pixel:nth-child(1127){background: #fbf19e;}
.pixel:nth-child(1154){background: #fbf19e;}
.pixel:nth-child(1184){background: #fbf19e;}
.pixel:nth-child(1214){background: #fbf19e;}
.pixel:nth-child(1244){background: #fbf19e;}
.pixel:nth-child(1274){background: #fbf19e;}
.pixel:nth-child(998){background: #fbf19e;}
.pixel:nth-child(999){background: #fbf19e;}
.pixel:nth-child(1000){background: #fbf19e;}
.pixel:nth-child(1028){background: #fbf19e;}
.pixel:nth-child(1031){background: #fbf19e;}
.pixel:nth-child(1058){background: #fbf19e;}
.pixel:nth-child(1061){background: #fbf19e;}
.pixel:nth-child(1088){background: #fbf19e;}
.pixel:nth-child(1091){background: #fbf19e;}
.pixel:nth-child(1118){background: #fbf19e;}
.pixel:nth-child(1121){background: #fbf19e;}
.pixel:nth-child(1148){background: #fbf19e;}
.pixel:nth-child(1178){background: #fbf19e;}
.pixel:nth-child(1208){background: #fbf19e;}
.pixel:nth-child(1238){background: #fbf19e;}
.pixel:nth-child(1268){background: #fbf19e;}
.pixel:nth-child(992){background: #fbf19e;}
.pixel:nth-child(993){background: #fbf19e;}
.pixel:nth-child(994){background: #fbf19e;}
.pixel:nth-child(1022){background: #fbf19e;}
.pixel:nth-child(1025){background: #fbf19e;}
.pixel:nth-child(1052){background: #fbf19e;}
.pixel:nth-child(1055){background: #fbf19e;}
.pixel:nth-child(1082){background: #fbf19e;}
.pixel:nth-child(1085){background: #fbf19e;}
.pixel:nth-child(1112){background: #fbf19e;}
.pixel:nth-child(1115){background: #fbf19e;}
.pixel:nth-child(1142){background: #fbf19e;}
.pixel:nth-child(1172){background: #fbf19e;}
.pixel:nth-child(1202){background: #fbf19e;}
.pixel:nth-child(1232){background: #fbf19e;}
.pixel:nth-child(1262){background: #fbf19e;}
.pixel:nth-child(566){background: #fbf19e;}
.pixel:nth-child(567){background: #fbf19e;}
.pixel:nth-child(568){background: #fbf19e;}
.pixel:nth-child(596){background: #fbf19e;}
.pixel:nth-child(599){background: #fbf19e;}
.pixel:nth-child(626){background: #fbf19e;}
.pixel:nth-child(629){background: #fbf19e;}
.pixel:nth-child(656){background: #fbf19e;}
.pixel:nth-child(659){background: #fbf19e;}
.pixel:nth-child(686){background: #fbf19e;}
.pixel:nth-child(689){background: #fbf19e;}
.pixel:nth-child(716){background: #fbf19e;}
.pixel:nth-child(746){background: #fbf19e;}
.pixel:nth-child(776){background: #fbf19e;}
.pixel:nth-child(806){background: #fbf19e;}
.pixel:nth-child(836){background: #fbf19e;}
.pixel:nth-child(560){background: #fbf19e;}
.pixel:nth-child(561){background: #fbf19e;}
.pixel:nth-child(562){background: #fbf19e;}
.pixel:nth-child(590){background: #fbf19e;}
.pixel:nth-child(593){background: #fbf19e;}
.pixel:nth-child(620){background: #fbf19e;}
.pixel:nth-child(623){background: #fbf19e;}
.pixel:nth-child(650){background: #fbf19e;}
.pixel:nth-child(653){background: #fbf19e;}
.pixel:nth-child(680){background: #fbf19e;}
.pixel:nth-child(683){background: #fbf19e;}
.pixel:nth-child(710){background: #fbf19e;}
.pixel:nth-child(740){background: #fbf19e;}
.pixel:nth-child(770){background: #fbf19e;}
.pixel:nth-child(800){background: #fbf19e;}
.pixel:nth-child(830){background: #fbf19e;}
.pixel:nth-child(554){background: #fbf19e;}
.pixel:nth-child(555){background: #fbf19e;}
.pixel:nth-child(556){background: #fbf19e;}
.pixel:nth-child(584){background: #fbf19e;}
.pixel:nth-child(587){background: #fbf19e;}
.pixel:nth-child(614){background: #fbf19e;}
.pixel:nth-child(617){background: #fbf19e;}
.pixel:nth-child(644){background: #fbf19e;}
.pixel:nth-child(647){background: #fbf19e;}
.pixel:nth-child(674){background: #fbf19e;}
.pixel:nth-child(677){background: #fbf19e;}
.pixel:nth-child(704){background: #fbf19e;}
.pixel:nth-child(734){background: #fbf19e;}
.pixel:nth-child(764){background: #fbf19e;}
.pixel:nth-child(794){background: #fbf19e;}
.pixel:nth-child(824){background: #fbf19e;}
.pixel:nth-child(548){background: #fbf19e;}
.pixel:nth-child(549){background: #fbf19e;}
.pixel:nth-child(550){background: #fbf19e;}
.pixel:nth-child(578){background: #fbf19e;}
.pixel:nth-child(581){background: #fbf19e;}
.pixel:nth-child(608){background: #fbf19e;}
.pixel:nth-child(611){background: #fbf19e;}
.pixel:nth-child(638){background: #fbf19e;}
.pixel:nth-child(641){background: #fbf19e;}
.pixel:nth-child(668){background: #fbf19e;}
.pixel:nth-child(671){background: #fbf19e;}
.pixel:nth-child(698){background: #fbf19e;}
.pixel:nth-child(728){background: #fbf19e;}
.pixel:nth-child(758){background: #fbf19e;}
.pixel:nth-child(788){background: #fbf19e;}
.pixel:nth-child(818){background: #fbf19e;}
.pixel:nth-child(542){background: #fbf19e;}
.pixel:nth-child(543){background: #fbf19e;}
.pixel:nth-child(544){background: #fbf19e;}
.pixel:nth-child(572){background: #fbf19e;}
.pixel:nth-child(575){background: #fbf19e;}
.pixel:nth-child(602){background: #fbf19e;}
.pixel:nth-child(605){background: #fbf19e;}
.pixel:nth-child(632){background: #fbf19e;}
.pixel:nth-child(635){background: #fbf19e;}
.pixel:nth-child(662){background: #fbf19e;}
.pixel:nth-child(665){background: #fbf19e;}
.pixel:nth-child(692){background: #fbf19e;}
.pixel:nth-child(722){background: #fbf19e;}
.pixel:nth-child(752){background: #fbf19e;}
.pixel:nth-child(782){background: #fbf19e;}
.pixel:nth-child(812){background: #fbf19e;}

