body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}.canvas {
width: 180px;
height: 450px;

}
.pixel {
width: 30px;height: 30px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(17){background: #fbf19e;}
.pixel:nth-child(22){background: #fbf19e;}
.pixel:nth-child(27){background: #fbf19e;}
.pixel:nth-child(39){background: #fbf19e;}
.pixel:nth-child(40){background: #fbf19e;}

.pixel:nth-child(14){background: #fbf19e;}
.pixel:nth-child(20){background: #fbf19e;}
.pixel:nth-child(26){background: #fbf19e;}
.pixel:nth-child(32){background: #fbf19e;}
.pixel:nth-child(38){background: #fbf19e;}
.pixel:nth-child(44){background: #fbf19e;}
.pixel:nth-child(47){background: #fbf19e;}
.pixel:nth-child(50){background: #fbf19e;}
.pixel:nth-child(53){background: #fbf19e;}
.pixel:nth-child(56){background: #fbf19e;}
.pixel:nth-child(59){background: #fbf19e;}
.pixel:nth-child(62){background: #fbf19e;}
.pixel:nth-child(65){background: #fbf19e;}
.pixel:nth-child(68){background: #fbf19e;}
.pixel:nth-child(69){background: #fbf19e;}
.pixel:nth-child(70){background: #fbf19e;}

