body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
}.canvas {
width: 540px;
height: 900px;

}
.pixel {
width: 30px;
height: 30px;
float: left;
box-shadow: 0px 0px 1px #fff;

}
.pixel:nth-child(129){background:#ffb400;}
.pixel:nth-child(130){background:#ffb400;}
.pixel:nth-child(166){background:#ffb400;}
.pixel:nth-child(183){background:#ffb400;}
.pixel:nth-child(200){background:#ffb400;}
.pixel:nth-child(135){background:#ffb400;}
.pixel:nth-child(136){background:#ffb400;}
.pixel:nth-child(172){background:#ffb400;}
.pixel:nth-child(189){background:#ffb400;}
.pixel:nth-child(206){background:#ffb400;}
.pixel:nth-child(141){background:#ffb400;}
.pixel:nth-child(142){background:#ffb400;}
.pixel:nth-child(178){background:#ffb400;}
.pixel:nth-child(195){background:#ffb400;}
.pixel:nth-child(212){background:#ffb400;}
.pixel:nth-child(429){background:#ffb400;}
.pixel:nth-child(430){background:#ffb400;}
.pixel:nth-child(466){background:#ffb400;}
.pixel:nth-child(483){background:#ffb400;}
.pixel:nth-child(500){background:#ffb400;}
.pixel:nth-child(423){background:#ffb400;}
.pixel:nth-child(424){background:#ffb400;}
.pixel:nth-child(460){background:#ffb400;}
.pixel:nth-child(477){background:#ffb400;}
.pixel:nth-child(494){background:#ffb400;}
.pixel:nth-child(417){background:#ffb400;}
.pixel:nth-child(418){background:#ffb400;}
.pixel:nth-child(454){background:#ffb400;}
.pixel:nth-child(471){background:#ffb400;}
.pixel:nth-child(488){background:#ffb400;}

.pixel:nth-child(39){background:#ffffff;}
.pixel:nth-child(40){background:#ffffff;}
.pixel:nth-child(41){background:#ffffff;}
.pixel:nth-child(56){background:#ffffff;}
.pixel:nth-child(59){background:#ffffff;}
.pixel:nth-child(74){background:#ffffff;}
.pixel:nth-child(77){background:#ffffff;}
.pixel:nth-child(92){background:#ffffff;}
.pixel:nth-child(95){background:#ffffff;}
.pixel:nth-child(110){background:#ffffff;}
.pixel:nth-child(113){background:#ffffff;}
.pixel:nth-child(131){background:#ffffff;}
.pixel:nth-child(149){background:#ffffff;}
.pixel:nth-child(167){background:#ffffff;}
.pixel:nth-child(185){background:#ffffff;}
.pixel:nth-child(203){background:#ffffff;}
.pixel:nth-child(45){background:#ffffff;}
.pixel:nth-child(46){background:#ffffff;}
.pixel:nth-child(47){background:#ffffff;}
.pixel:nth-child(62){background:#ffffff;}
.pixel:nth-child(65){background:#ffffff;}
.pixel:nth-child(80){background:#ffffff;}
.pixel:nth-child(83){background:#ffffff;}
.pixel:nth-child(98){background:#ffffff;}
.pixel:nth-child(101){background:#ffffff;}
.pixel:nth-child(116){background:#ffffff;}
.pixel:nth-child(119){background:#ffffff;}
.pixel:nth-child(137){background:#ffffff;}
.pixel:nth-child(155){background:#ffffff;}
.pixel:nth-child(173){background:#ffffff;}
.pixel:nth-child(191){background:#ffffff;}
.pixel:nth-child(209){background:#ffffff;}
.pixel:nth-child(51){background:#ffffff;}
.pixel:nth-child(52){background:#ffffff;}
.pixel:nth-child(53){background:#ffffff;}
.pixel:nth-child(68){background:#ffffff;}
.pixel:nth-child(71){background:#ffffff;}
.pixel:nth-child(86){background:#ffffff;}
.pixel:nth-child(89){background:#ffffff;}
.pixel:nth-child(104){background:#ffffff;}
.pixel:nth-child(107){background:#ffffff;}
.pixel:nth-child(122){background:#ffffff;}
.pixel:nth-child(125){background:#ffffff;}
.pixel:nth-child(143){background:#ffffff;}
.pixel:nth-child(161){background:#ffffff;}
.pixel:nth-child(179){background:#ffffff;}
.pixel:nth-child(197){background:#ffffff;}
.pixel:nth-child(215){background:#ffffff;}
.pixel:nth-child(339){background:#ffffff;}
.pixel:nth-child(340){background:#ffffff;}
.pixel:nth-child(341){background:#ffffff;}
.pixel:nth-child(356){background:#ffffff;}
.pixel:nth-child(359){background:#ffffff;}
.pixel:nth-child(374){background:#ffffff;}
.pixel:nth-child(377){background:#ffffff;}
.pixel:nth-child(392){background:#ffffff;}
.pixel:nth-child(395){background:#ffffff;}
.pixel:nth-child(410){background:#ffffff;}
.pixel:nth-child(413){background:#ffffff;}
.pixel:nth-child(431){background:#ffffff;}
.pixel:nth-child(449){background:#ffffff;}
.pixel:nth-child(467){background:#ffffff;}
.pixel:nth-child(485){background:#ffffff;}
.pixel:nth-child(503){background:#ffffff;}
.pixel:nth-child(333){background:#ffffff;}
.pixel:nth-child(334){background:#ffffff;}
.pixel:nth-child(335){background:#ffffff;}
.pixel:nth-child(350){background:#ffffff;}
.pixel:nth-child(353){background:#ffffff;}
.pixel:nth-child(368){background:#ffffff;}
.pixel:nth-child(371){background:#ffffff;}
.pixel:nth-child(386){background:#ffffff;}
.pixel:nth-child(389){background:#ffffff;}
.pixel:nth-child(404){background:#ffffff;}
.pixel:nth-child(407){background:#ffffff;}
.pixel:nth-child(425){background:#ffffff;}
.pixel:nth-child(443){background:#ffffff;}
.pixel:nth-child(461){background:#ffffff;}
.pixel:nth-child(479){background:#ffffff;}
.pixel:nth-child(497){background:#ffffff;}
.pixel:nth-child(327){background:#ffffff;}
.pixel:nth-child(328){background:#ffffff;}
.pixel:nth-child(329){background:#ffffff;}
.pixel:nth-child(344){background:#ffffff;}
.pixel:nth-child(347){background:#ffffff;}
.pixel:nth-child(362){background:#ffffff;}
.pixel:nth-child(365){background:#ffffff;}
.pixel:nth-child(380){background:#ffffff;}
.pixel:nth-child(383){background:#ffffff;}
.pixel:nth-child(398){background:#ffffff;}
.pixel:nth-child(401){background:#ffffff;}
.pixel:nth-child(419){background:#ffffff;}
.pixel:nth-child(437){background:#ffffff;}
.pixel:nth-child(455){background:#ffffff;}
.pixel:nth-child(473){background:#ffffff;}
.pixel:nth-child(491){background:#ffffff;}

